## Load 2020 WIDE-formatted ESG data (Generic)

Copyright (C) 2021 OS-Climate

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.

### Initially developed using the Royal Dutch Shell plc Sustainability Report 2020 report (Many Sheets)

Contributed by Michael Tiemann (Github: MichaelTiemannOSC)

Load Credentials

In [1]:
# From the AWS Account page, copy the export scripts from the appropriate role using the "Command Line or Programmatic Access" link
# Paste the copied text into ~/credentials.env

from dotenv import dotenv_values, load_dotenv
import os
import pathlib
import sys

dotenv_dir = os.environ.get('CREDENTIAL_DOTENV_DIR', os.environ.get('PWD', '/opt/app-root/src'))
dotenv_path = pathlib.Path(dotenv_dir) / 'credentials.env'
if os.path.exists(dotenv_path):
    load_dotenv(dotenv_path=dotenv_path,override=True)

import sys
sys.path.append('../src/')

In [2]:
import re
import pandas as pd
import numpy as np

import openpyxl
from openpyxl import load_workbook
from openpyxl.worksheet.dimensions import ColumnDimension, DimensionHolder
from openpyxl.utils import get_column_letter
from openpyxl.styles import Alignment, Font
from itertools import islice

import pint
import pint_pandas
import iam_units
from openscm_units import unit_registry
pint_pandas.PintType.ureg = unit_registry
ureg = unit_registry
ureg.define('fraction = [] = frac')
ureg.define('percent = 1e-2 frac = pct = percentage')
ureg.define('ppm = 1e-6 fraction')

ureg.define("USD = [currency]")
ureg.define("EUR = nan USD")
ureg.define("JPY = nan USD")
ureg.define("MM_USD = 1000000 USD")
ureg.define("revenue = USD")

ureg.define("btu = Btu")
ureg.define("tBtu = T Btu")
ureg.define("boe = 5.712 GJ")
ureg.define("UEDCTM = [shell_index]")

ureg.define("CO2e = CO2 = CO2eq = CO2_eq")
ureg.define("HFC = [ HFC_emissions ]")
ureg.define("PFC = [ PFC_emissions ]")
ureg.define("mercury = Hg = Mercury")
ureg.define("PM10 = [ PM10_emissions ]")

ureg.define("production = [ output ]")
ureg.define("Index = pct = Share")

ureg.define("Number = dimensionless")

one_co2 = ureg("CO2e")
print(one_co2)

from osc_ingest_trino import *
import pyarrow as pa
import pyarrow.parquet as pq
import json
import io
import uuid

1 CO2e

In [3]:
ureg("tonnes CO2e/revenue")

1.0 <Unit('CO2e * metric_ton / revenue')>

For spreadsheets in WIDE format, pre-process the spreadsheet as a workbook, cascading label data into 3rd-normal form row and column metadata

* var_col is the label of the variable being measured (whose specificity (like CO2, CH4, NOx, etc) often affects units)
* units_col is the column where units are stated
* val_col:last_val_col are the column where the values are quantitatively reported
* last_val_col+1:last_col are additional columns that are presumed to be metadata labels (such as GRI or SASB labels)

We add:
* notes_col (source worksheet-specific; could act as a kind of source table metadata)
* topic_col (sheet-level category; if we wanted large tables, they could be named by topic)
* category_col (to which row-level data rolls up; if we wanted small tables, they could be named by topic:category)
* segment_col (the dimension by which row-level data is segmented)
* units_col (if not already existing in input)

Some spreadsheets use color to express a multi-level category hierarchy (such as Energy Consumption>>Business Use>>Fuel Type).  We concatenate the categories from left to right as the category for our purposes, except we split off the rightmost subcategory as the segmentation.

Based on all of the above, we don't really have table-level metadata other than notes attached to sheets and generic column information.  An argument could be made that we need to allocate specifier columns for additional data we want to split out from our variables.  That could look like:

* spec1_col
* spec2_col

etc

In [4]:
# var_col = 1

# Magic knowledge
# last_col = 4
# max_hidden_col = 5
# year_regex = r'^(20\d\d) Data$'

ingest_columns = [ 'Variable', 'Notes', 'Topic', 'Category', 'Segmentation', 'Unit' ]
ingest_col_offsets = dict((j,i) for i,j in enumerate(ingest_columns[1:], start=1))

# In this case, Value columns are named like 2020, 2019, 2018, ... .  It is the pd.melt function that gives us an actual Value column.
# the val_col index merely refers to the first such value row (which hopefully has tasty data)

# Magic knowledge
# val_col = units_col+1     # units_col starts as var_col+1, val_col starts as var_col+2 which is also units_col+1

# If topic_row is None, set topic based on name of sheet
# topic = topic_row = None
# header_row = None

# If init_header_row is None, find header row based on color scheme
# init_header_row = 1

class corp_report_magic:
    def __init__(self, shortname, input_filename, ws_start, ws_end, var_col=None, units_col=None, 
                 notes_col=None, topic_row=None, topic_col=None, category_col=None, init_header_row=None, header_row_list=None,
                 header_color=None, cat_color_dict={ None:0 }, year_regex=None, max_hidden_col=None,
                 val_col=None, last_val_col=None):
        self.shortname = shortname
        self.input_filename = '/'.join([os.environ.get('CREDENTIAL_DOTENV_DIR', os.environ.get('PWD', '/opt/app-root/src')),
                                        'osc-ingest-shell/data/external', input_filename])
        self.ws_start = ws_start,
        self.ws_end = ws_end,
        self.init_topic_row = topic_row    # If topic_row is None, use the worksheet name as the topic
        self.var_col = var_col or 1
        self.init_units_col = units_col            # If units_col is none, we have to allocate it
        self.init_topic_col = topic_col    # If topic_col is non-null, we get topics from this row
        self.init_category_col = category_col
        self.init_notes_col = notes_col
        self.init_val_col = val_col
        self.init_last_val_col = last_val_col
        # val_col, last_val_col, and last_col can be derived from the spreadsheet
        self.units_row = -1 if units_col==None else 0   # -1: Carry across only; 0: no units seen yet; > 0 row of prevailing unit
        self.init_header_row = init_header_row
        self.header_row_list = header_row_list if header_row_list else ([-1] * ws_start) + ([init_header_row] * (ws_end-ws_start+1))
        self.header_row = None
        self.header_color = header_color
        self.cat_color_dict = cat_color_dict
        self.year_regex = year_regex
        # For AEP, there are several hidden columns on the first sheet we must delete
        # to make that sheet line up with other sheets
        self.max_hidden_col = max_hidden_col
        
        self.units_col = units_col
        self.topic_col = topic_col
        self.category_col = category_col
        self.notes_col = notes_col
        self.segmentation_col = None
        self.val_col = val_col or units_col+1 if units_col else var_col+1 if var_col else 2
        self.last_val_col = last_val_col
        self.last_val_row = None              # Set by preprocess (after we've identified our value columns)
        self.last_col = None                  # Set by crop_sheet
    
    def preprocess(self):
        self.wb_superscripts = None
        self.topic_row = self.init_topic_row
        self.units_col = self.init_units_col
        self.topic_col = self.init_topic_col
        self.category_col = self.init_category_col
        self.notes_col = self.init_notes_col
        self.segmentation_col = None
        self.val_col = self.init_val_col or self.init_units_col+1 if self.init_units_col else self.var_col+1
        self.last_val_col = self.init_last_val_col

Shell_magic = corp_report_magic("Shell", r"greenhouse-gas-and-energy-data-shell-sr20.xlsx", 1, 10,
                                init_header_row=5, units_col=2)
DPDHL_magic = corp_report_magic("DPDHL", r"DPDHL-ESG-Statbook-2020-en.xlsx", 2, 4,
                                topic_row=1, header_row_list=[ -1, -1, 8, 5, 4], header_color='FFBF00',
                                cat_color_dict={ 'FF00B050':0, 'E2F0D9':1, 'D0CECE':0, 'E7E6E6':0 },
                                units_col=2)
Unilever_magic = corp_report_magic("Unilever", r"Unilever sustainability performance data_Climate FINAL.xlsx", 0, 0,
                                   topic_row=9, init_header_row=10,
                                   cat_color_dict={'FFEBF1DE':0, 'E2F0D9':0})
AEP_magic = corp_report_magic("AEP", r"2021-Data-Centerv1.xlsx", 0, 3,
                              init_header_row=1,
                              cat_color_dict={'FF237F2E':0, 'FF40B14B':1, 'FFC6E7C8':2,
                                              'FF757575':0, 'FFBDBDBD':1, 
                                              'FF5FB3F9':0, 'FFB9DDFC':1, 
                                              'FFD0AF8F':0, 'FFEEDCCA':1},
                              year_regex=r'^(20\d\d) Data$', max_hidden_col=5)
Altria_magic = corp_report_magic("Altra", r"esg-tables.xlsx", 1, 1,
                                 init_header_row=2,
                                 cat_color_dict={'FF9BDA44':0, 'FF92D050':1},
                                 units_col=2)

SUEZ_magic = corp_report_magic("SUEZ", r"SUEZ-FY-2020-ESG-dataset-xls-may2020.xlsx", 1, 1,
                               init_header_row=3,
                               topic_col=1, category_col=2, var_col=3, units_col=4,
                               val_col=9, last_val_col=10)

filename_magic = {
    r"greenhouse-gas-and-energy-data-shell-sr20.xlsx": Shell_magic,
    r"2021-Data-Centerv1.xlsx": AEP_magic,
    r"DPDHL-ESG-Statbook-2020-en.xlsx": DPDHL_magic,
    r"Unilever sustainability performance data_Climate FINAL.xlsx": Unilever_magic,
    r"esg-tables.xlsx": Altria_magic,
}
# A storage area in case we delete items from the above.
foo = {
    r"esg-tables.xlsx": Altria_magic,
    r"greenhouse-gas-and-energy-data-shell-sr20.xlsx": Shell_magic,
    r"DPDHL-ESG-Statbook-2020-en.xlsx": DPDHL_magic,
    r"Unilever sustainability performance data_Climate FINAL.xlsx": Unilever_magic,
    r"2021-Data-Centerv1.xlsx": AEP_magic,
}

crm = None
value_vars = None

In [5]:
scale_regex = re.compile(r'^((mi|bi|tri|quadri)llion|thousand|hundred)(s of)? ', flags=re.I)
sc_xlate = {'hun':1e2, 'tho':1e3, 'mil':1e6, 'bil':1e9, 'tri':1e12, 'qua':1e15}

def find_units(var):
    scale = 1.0
    if var in ['%', 'pct', 'percent']:
        return 'percent'
    if '-based' in var or 'KPI' in var:
        return None
    if 'Total no.' in var:
        var = var.replace('Total no.', 'Number')
    elif 'No.' in var:
        var = var.replace('No.', 'Number')
    if ' of production' in var:
        var = var.replace(' of production', '')
    var = var.replace ('Net MWh', 'MWh')
    var = var.replace ('trillion (10^12)', 'trillion')
    var = var.replace ('m3', 'kl')
    var = var.replace ('KWh', 'kWh')
    var = var.replace ('Index points', 'Number')
    if var.lower() in ureg:
        var = var.lower()
    var = var.replace ('metric ton', 'metric_ton')
    var = var.replace('short ton', 'short_ton')
    if var in ureg:
        return f'{ureg(var).u:~}'
    m = re.search(scale_regex, var)
    if m:
        var = ' '.join([var[0:m.start(0)],var[m.end(0):]]).strip()
        if var in ureg:
            units = sc_xlate[m.group(1)[0:3].lower()] * ureg(var)
            units = units.to_compact()
            if units.m - 1.0 < 0.00001:
                # Address roundoff problems such as giga = 1.00000000000002 x 10^9
                return f'{units.u:~}'
            print(f'units do not reduce: {units}')
    print(f'find units: nothing found for {var}')
    return None

In [6]:
topic_keywords = { 'footprint':['intensity'],
                   'emissions':['scope 1', 'scope 2', 'scope 3', 'ghg', 'intensity'],
                   'energy':['consum', 'generat', 'renewable', 'intensity'],
                   'water':['consum', 'discharge', 'withdraw', 'intensity'],
                   'waste':['landfill', 'incinerate', 'compost', 'recycle', 'reuse', 'intensity'],
                   'other':[]}

topic_cell = None
category_cell = None
segmentation_stack = []

In [7]:
def process_topic(ws, row):
    """
    Topics are major headers.  If such headers also have units defined, they are also categories.
    If such headers also have values defined, they are also processed as a variable.
    """
    global topic_cell, category_cell
    
    if row==None:
        # We have to put the topic in header_row+1 because header_row is column info, not data, for the dataframe
        row = crm.header_row+1
        topic_cell = ws.cell(row, crm.topic_col)
        topic_cell.value = ws.title.lower()
        print(f'process_topic {row}: setting topic from title {topic_cell.value}')

    cell = ws.cell(row, crm.var_col)
    if cell.value:
        var_text = cell.value.split('\n')[0]    # notes have been stripped out
    else:
        var_text = None
    
    if var_text:
        topic_cell = ws.cell(row, crm.topic_col)
        if topic_cell.value!=ws.title.lower():
            # Let's assume topic text is not parenthetical, but titular
            var_text = re.sub(r'\(.+\)', '', var_text)
            var_words = var_text.split(' ')
            for word in var_words:
                if topic_cell.value and word.lower() == topic_cell.value:
                    # Not a new topic
                    break
                if word.lower() in topic_keywords.keys():
                    print(f'process_topic {row}: setting topic {word}')
                    topic_cell.value = word.lower()

            if topic_cell.value==None:
                print(f'worksheet {ws.title}: unknown topic {var_text}')
                topic_cell.value = ws.title.lower()
                # topic_keywords[ws.title.lower()] = []

        # Try to extract units from Variable description
        if ws.cell(row, crm.units_col).value==None:
            p_exprs = re.findall(r'\((.+)\)', ws.cell(row, crm.var_col).value)
            for p in p_exprs:
                if find_units(p):
                    print(f'process_topic {row}: setting units from var: {p}')
                    ws.cell(row, crm.units_col).value = p
                    break
        # Here we don't look for species_unit; mistake???
        
        # If we definitely have units, set the category, which will also process the variable (if needed)
        if ws.cell(row, crm.units_col).value:
            print(f'process_topic {row}: setting category {var_text}')
            category_cell = ws.cell(row, crm.category_col)
            ws.cell(row, crm.category_col).value = var_text

            print(f'process_topic {row}: setting units {ws.cell(row, crm.units_col).value}')
            units = find_units (ws.cell(row, crm.units_col).value)
            if units == None:
                error(f'unknown units {ws.cell(row, crm.units_col).value}')
            ws.cell(row, crm.units_col).value = units
            
            row = process_categories (ws, row)
    else:
        print(f'process_topic {row}: no var text')
    if row < 0 or row >= crm.last_val_row:
        return crm.last_val_row
    return row+1

BORDER_NONE = None
BORDER_DASHDOT = 'dashDot'
BORDER_DASHDOTDOT = 'dashDotDot'
BORDER_DASHED = 'dashed'
BORDER_DOTTED = 'dotted'
BORDER_DOUBLE = 'double'
BORDER_HAIR = 'hair'
BORDER_MEDIUM = 'medium'
BORDER_MEDIUMDASHDOT = 'mediumDashDot'
BORDER_MEDIUMDASHDOTDOT = 'mediumDashDotDot'
BORDER_MEDIUMDASHED = 'mediumDashed'
BORDER_SLANTDASHDOT = 'slantDashDot'
BORDER_THICK = 'thick'
BORDER_THIN = 'thin'

In [8]:
def formatted_as_sub(cell1, cell2):
    color1 = cell2rgb(cell1)
    color2 = cell2rgb(cell2)
    if color1 in crm.cat_color_dict:
        if color2 in crm.cat_color_dict:
            if crm.cat_color_dict[color1] < crm.cat_color_dict[color2]:
                return True
            if crm.cat_color_dict[color1] > crm.cat_color_dict[color2]:
                return False
        else:
            return True
    elif color2 in crm.cat_color_dict:
        return False
    
    sub_score = 0
    if cell1.font.b and cell2.font.b==False:
        print('+bold')
        sub_score += 1
    if cell1.font.b==False and cell2.font.b:
        print('-bold')
        sub_score -= 1
    if cell1.font.u and cell2.font.u==False:
        print('+underline')
        sub_score += 1
    if cell1.font.u==False and cell2.font.u:
        print('-underline')
        sub_score += 1
    if cell1.alignment.indent < cell2.alignment.indent:
        print('+indent')
        sub_score += 1
    elif cell1.alignment.indent > cell2.alignment.indent:
        sub_score -= 1
    if cell1.font.sz < cell2.font.sz:
        print('+size')
        sub_score += 1
    elif cell1.font.sz > cell2.font.sz:
        sub_score -= 1
    if cell1.alignment.horizontal == 'left' and cell2.alignment.horizontal == 'right':
        print('+halign')
        sub_score += 1
    elif cell1.alignment.horizontal == 'right' and cell2.alignment.horizontal == 'left':
        sub_score -= 1
    print(f'sub_score = {sub_score}')
    if sub_score > 0:
        return True
    if sub_score < 0:
        return False
    if sub_score == 0:
        return None

def process_categories(ws, row):
    """
    Categories have units
    """
    global topic_cell, category_cell, segmentation_stack
    
    while row < crm.last_val_row:
        cell = ws.cell(row, crm.var_col)
        if cell.value:
            var_text = cell.value.split('\n')[0]    # notes have been stripped out
        else:
            # Some categories are declared across multiple lines, with units by themselves
            var_text = None
        
        # If we're already processing this row as a topic (and being called from that context), don't recurse
        if var_text and topic_cell.row < row:
            color = cell2rgb(ws.cell(row,1))
            if color and color in crm.cat_color_dict:
                # Hack because Unilever uses colors wrongly, but punctuation saves the day
                if crm.cat_color_dict[color]==0 and var_text[-1]!=':':
                    # Register that we have a new topic
                    topic_cell = ws.cell(row, crm.topic_col)
                    topic_cell.value = var_text
                    print(f'process_categories: new topic set at row {row}: {var_text} (color = {color})')
                    return process_topic(ws, row)
                if crm.cat_color_dict[color]==1:
                    category_cell = ws.cell(row, crm.category_col)
                    category_cell.value = var_text
                    print(f'process_categories: new category set at row {row}: {var_text} (color = {color})')
            elif color:
                    print(f'process_categories: unknown color {color} at row {row}: {var_text}')
            elif None in crm.cat_color_dict:
                category_cell = ws.cell(row, crm.category_col)
                category_cell.value = var_text
                print(f'process_categories: new category set at row {row}: {var_text}')

        # Try to extract units from Variable description
        if ws.cell(row, crm.units_col).value==None and var_text:
            p_exprs = re.findall(r'\((.+)\)', ws.cell(row, crm.var_col).value)
            for p in p_exprs:
                if 'scope' in p.lower() or 'category' in p.lower():
                    continue
                if find_units(p):
                    print(f'process_categories {row}: setting units from var: {p}')
                    ws.cell(row, crm.units_col).value = p
                    break
        
        # Apply our best guess for units in case we need to propagate in segmentation
        var_units = ws.cell(row, crm.units_col).value
        var_species = ''
        if var_units:
            var_units = find_units (var_units)
            m = re.search('r\((.+)\)', var_text)
            if m:
                var_species = m.group(1)
                species_units = find_units(' '.join([var_units, var_species]))
                if species_units:
                    units = species_units
                    var_text = ' '.join([var_text[0:m.start(1)], var_text[m.end(1)+1:]]).replace('  ', ' ')
            else:
                units = var_units
        elif category_cell:
            units = ws.cell(category_cell.row, crm.units_col).value
        else:
            units = None
        ws.cell(row, crm.units_col).value = units
        
        total_of = ''
        if var_text and 'total' in var_text.lower():
            c1, c2 = re.split(r'\s*totals?\s*', var_text, flags=re.I)
            if c2.strip()=='':
                total_of = c2 = c1
                c1 = var_text
            elif c1.strip()=='':
                c1 = var_text
                total_of = c2
            else:
                total_of = var_text
                # we have c1:c2
        
        segment_by = ''
        for x in [ ' per ', ' by ', ' of ' ]:
            if var_text and x in var_text:
                segment_by = x
                break

        if formatted_as_sub(ws.cell(row, crm.var_col), ws.cell(row+1, crm.var_col)):
            if segment_by:
                c1, c2 = var_text.split(segment_by, 1)
            elif not total_of:
                c1 = var_text
                c2 = '(anon)'
            category_cell.value = c1
            if segment_by or total_of:
                print(f'process_categories {row}: segmenting {c1}::{c2}')
                segmentation_stack = [ ws.cell(row, crm.segmentation_col) ]
                segmentation_stack[-1].value = c2
                row = process_var(ws, row)
                row = process_segmentation (ws, row)
                if segmentation_stack != []:
                    print(f'process_categories: segmentation_stack = {segmentation_stack}')
                if row < 0:
                    return row
                continue
        segmentation_stack = []
        print(f'process_category {row}: processing variable')
        row = process_var(ws, row)
        if row < 0:
            return row
    if row < crm.last_val_row:
        return row+1
    if row == crm.last_val_row:
        process_var (ws, row)
    return -1

In [9]:
def process_segmentation(ws, row):
    """Process rows starting at ROW as a part of a segmentation.  We push and recurse if we see
    a new level of indentation.  We pop and return if we see an outdent.
    """
    global segmentation_stack
    
    seg_start_cell = ws.cell(row, crm.var_col)
    seg_start_units = ws.cell(row, crm.units_col).value
    while row < crm.last_val_row:
        cell = ws.cell(row, crm.var_col)
        if cell.value==None:
            if ws.cell(row, crm.units_col).value and ws.cell(row+1, crm.units_col).value==None:
                ws.cell(row+1, crm.units_col).value = ws.cell(row, crm.units_col).value
                row = row+1
                # Don't start a segment with an unlabeled cell
                seg_start_cell = ws.cell(row, crm.var_col)
                continue
            else:
                print(f'unhandled units at row {row}: {ws.cell(row+1, crm.units_col).value}; {ws.cell(row, crm.units_col).value}')

        if cell==seg_start_cell:
            # Handle easy case
            row = process_var (ws, row)
        elif formatted_as_sub(seg_start_cell, cell):
            if ws.cell(row, crm.units_col).value==None:
                ws.cell(row, crm.units_col).value = seg_start_units
            # There could be many rows at the same level as SEG_START_CELL before a new segmentation is seen
            # The label we care about is the one immediately preceding, not the first one with that indentation
            segmentation_stack.append(ws.cell(row-1, crm.var_col))
            row = process_segmentation(ws, row)
        elif formatted_as_sub(seg_start_cell, cell)==False:
            segmentation_stack.pop()
            print(f'pop at row {row}: segmentation_stack now {segmentation_stack}')
            return row
        else:
            if ws.cell(row, crm.units_col).value==None and seg_start_units:
                ws.cell(row, crm.units_col).value = seg_start_units
            row = process_var (ws, row)
        if row < 0:
            return row
    if row < crm.last_val_row:
        return row+1
    if row == crm.last_val_row:
        process_var (ws, row)
        if segmentation_stack:
            print(f'process_segmentation: stack at end = {segmentation_stack}')
            segmentation_stack = []
    return -1

In [10]:
def process_var(ws, row):
    global topic_cell, category_cell, segmentation_stack
    
    cell = ws.cell(row, crm.var_col)
    
    # Treat X (Y) as 'Category X Segmentation Y'
    if cell.value:
        var_text = cell.value.split('\n')[0]    # notes have been stripped out
        var_text = var_text.replace('(%)', '(pct)')
        m = re.search(r'^(.*) \((.*?)\)', var_text)
    else:
        var_text = None
        m = None
    if m and '-based' not in m.group(2) and 'scope' not in m.group(2).lower() and 'category' not in m.group(2).lower():
        species_units = find_units (m.group(2))
        if species_units:
            print(f'process_var {row}: found species or units in {var_text}')
            units = ws.cell(row, crm.units_col).value
            if units and units != species_units:
                species_units = find_units(' '.join([units, m.group(2)]))
                if species_units:
                    var_text = m.group(1).rstrip()
                    units = species_units
                else:
                    print(f'??? Not overriding {units} with {m.group(2)}')
                    # units = ws.cell(row, crm.units_col).value
            else:
                units = species_units
                if ' ' not in m.group(1) and m.group(1) in ureg:
                    species_units = find_units(' '.join([units, m.group(1)]))
                    if species_units:
                        var_text = m.group(1).rstrip()
                        units = species_units
                print(f'Inferring/composing units: {units}')
            if units != ws.cell(category_cell.row, crm.units_col).value:
                print(f'changing units from category: {ws.cell(category_cell.row, crm.units_col).value} to {units}')
                ws.cell(row, crm.units_col).value = units
        elif m.group(2).lower() and topic_cell.value.lower() in topic_keywords and m.group(2).lower() in topic_keywords[topic_cell.value.lower()]:
            # Scope 1 is actually a sneaky segmentation
            category_cell = ws.cell(row, crm.category_col)
            category_cell.value = m.group(2)
        else:
            print(f'process_var {row}: unhandled ( {m.group(2)} )')
    else:
        if ws.cell(row, crm.units_col).value == None:
            print(f'process_var {row}: propagating units {ws.cell(category_cell.row, crm.units_col).value}')
            ws.cell(row, crm.units_col).value = ws.cell(category_cell.row, crm.units_col).value
        else:
            print(f'process_var {row}: using units {ws.cell(row, crm.units_col).value}')
    ws.cell(row, crm.topic_col).value = topic_cell.value
    ws.cell(row, crm.category_col).value = category_cell.value
    if segmentation_stack != []:
        ws.cell(row, crm.segmentation_col).value = '::'.join(s.value for s in segmentation_stack)
    if row < crm.last_val_row:
        return row+1
    return -1

In [11]:
# ??? The header row color is going to be spreadsheet-specific.  This is what DPDHL gives us.

import cell2rgb
from cell2rgb import cell2rgb

def find_header_row(wb, ws):
    # If we haven't found the header by max_row-1, we'll never find it...
    for row in range(1, ws.max_row):
        color = cell2rgb(ws.cell(row,1))
        if color == crm.header_color:
            return row
        print(f'color = {color}')
    error('No header found')
    return -1

# The role of this function is to capture and distrbute data attributes that can be inferred/applied to subsequent rows
def split_cell(c):
    notes = ''

    # Deal with None
    if c.value:
        h = str(c.value)
    else:
        h = ''

    # Don't let 'Scope 1' look like a note
    m = re.search(r'[^ ](\d+)$', h)
    if m:
        notes = m.group(1)
        h = h[0:m.start(1)]
    else:
        m = re.search(r'\s*\[[A-Z]\](\s?\[[A-Z]\])*', h)
        if m:
            notes = m.group(0)
            h = h[0:m.start(0)].strip()

    # If we have a ':' in the cell, treat that as a major connector that overrides splitting on per/by/of
    if ':' not in h:
        # If the variable expresses a segmentation, pass that back accordingly
        for x in [ ' per ', ' by ', ' of ' ]:
            sub_h_arr = h.split(x, 1)
            if len(sub_h_arr)>1:
                return notes, sub_h_arr[0], sub_h_arr[1]

    # Treat X (Y) as 'Category X Segmentation Y'
    m = re.search(r'^(.*) \((.*?)\)', h)
    if m:
        return notes, m.group(1), m.group(2)
    return notes, h, ''

In [12]:
import zipfile
from lxml import etree
import xml.etree.ElementTree as eTree

# We pre-process the structure of the worksheet so that it can be trivially loaded into a dataframe for further reshaping.

# Stash notes for each worksheet here.  These are *per worksheet*
# ??? In the case of DPDHL, there's a Comment field we don't track, which means we miss a stated target
ws_notes = {}

def preprocess(wb, ws):
    global crm, value_vars
    global topic_cell, category_cell, segmentation_stack
    
    cell_notes_text = []
    cell_notes_cells = []
    
    def crop_sheet(ws):
        global crm
        # Frist, set max_row/max_column based on actually active cells, not cells with random spaces or empty strings
        this_max_row = 1
        this_max_col = 1
        for row in range(1,ws.max_row+1):
            row_max_col = None
            for col in range(1,ws.max_column+1):
                cell = ws.cell(row,col)
                if cell.value==None:
                    continue
                if type(cell.value)==str and cell.value.strip()=='':
                    cell.value = None
                    continue
                if col > this_max_col:
                    this_max_col = col
                row_max_col = col
            if row_max_col:
                this_max_row = row
        print('crop_sheet')
        print('{} x {}'.format(ws.max_row, ws.max_column))
        ws.delete_rows(this_max_row+1,ws.max_row)
        ws.delete_cols(this_max_col+1,ws.max_column)
        print('{} x {}'.format(ws.max_row, ws.max_column))
        crm.last_col = ws.max_column
        
    def preprocess_notes():
        global crm
        z = zipfile.ZipFile(crm.input_filename)

        if crm.wb_superscripts==None:
            with z.open('xl/sharedStrings.xml') as fp:
                ss_xml = etree.fromstring(fp.read())
            # get the namespaces                                                                                                                                                                                                                                             
            ssns = ss_xml.nsmap
            if None in ssns:
                ssns['none'] = ssns.pop(None)
            crm.text_list = ss_xml.xpath('//none:si', namespaces=ssns)
            # All shared strings across all sheets with superscripts                                                                                                                                                                                                                           
            crm.wb_superscripts = [s for s in range(len(crm.text_list))
                                   if 'superscript' in eTree.tostring(crm.text_list[s], encoding='unicode')]
        
        with z.open(f'xl/worksheets/sheet{wb.worksheets.index(ws)+1}.xml') as fp:
            ws_xml = etree.fromstring(fp.read())
        z.close()

        # get the namespaces                                                                                                                                                                                                                                             
        wsns = ws_xml.nsmap
        if None in wsns:
            wsns['none'] = wsns.pop(None)
        cell_list = ws_xml.xpath('//none:c', namespaces=wsns)

        # Dictionary of cells:shared strings with superscripts within this sheet's cells                                                                                                                                                                                                          
        sheet_ss_dict = {c:s for c in range(len(cell_list))
                         for s in crm.wb_superscripts if f' t="s"><ns0:v>{s}</ns0:v></ns0:c>' in eTree.tostring(cell_list[c],
                                                                                                                 encoding='unicode')}

        cell_notes_text = []
        cell_notes_cells = []
        for c, s in sheet_ss_dict.items():
            cell_name = eTree.tostring(cell_list[c], encoding='unicode').split(' ')[2].split('=')[1][1:-1]
            cell_text_xml = eTree.tostring(crm.text_list[s],encoding='unicode')
            ss_bool = ['superscript' in x for x in cell_text_xml.split('<ns0:r>')[1:]]
            cell_text_parts = [re.split('<ns0:t.*?>', x)[-1].split('</ns0:t>')[0]
                  for x in cell_text_xml.split('<ns0:r>')[1:]]
            for x in range(len(ss_bool)-1):
                if ss_bool[x]==False and ss_bool[x+1]==True:
                    cell_notes_text.append(cell_text_parts[x+1])
                    cell_notes_cells.append(cell_name)
                    ws[cell_name].value = ws[cell_name].value.replace(cell_text_parts[x]+cell_text_parts[x+1],
                                                                      cell_text_parts[x])
    
    crm.preprocess()
    preprocess_notes()
    print(cell_notes_text)
    print(cell_notes_cells)
    
    topic_cell = None
    category_cell = None
    segmentation_stack = []

    # Remove merged cells
    mergedRanges=ws.merged_cells.ranges
    while mergedRanges:
        for entry in mergedRanges:
            ws.unmerge_cells(str(entry))

    if crm.max_hidden_col and wb.worksheets[0]==ws:
        ws.delete_cols(1,crm.max_hidden_col)
    crop_sheet(ws)

    if crm.init_header_row:
        crm.header_row = crm.init_header_row
    else:
        crm.header_row = find_header_row (wb, ws)
    
    # Reset this for each worksheet
    if crm.units_row >= 0:
        crm.units_row = 0

    col = crm.val_col
    last_val_col = crm.last_val_col or col
    while crm.last_val_col==None or col<=crm.last_val_col:
        # ??? Deal with note in header value (such as '2019(b)' or, God forbit '20197' where the superscripted 7 just sits like it's part of the number)
        if crm.year_regex:
            maybe_year = re.sub(crm.year_regex, r'\1', str(ws.cell(crm.header_row, col).value))
        else:
            maybe_year = str(ws.cell(crm.header_row, col).value)
        if len(maybe_year)>=4 and maybe_year[0:2]=='20' and maybe_year[2].isdigit() and maybe_year[3].isdigit():
            ws.cell(crm.header_row, col).value = maybe_year[0:4]
            last_val_col = col
        elif crm.last_val_col==None:
            crm.last_val_col = last_val_col
            break
        col = col+1
    value_vars = [ None ] * (crm.last_val_col-crm.val_col+1)
    for col in range(crm.val_col, crm.last_val_col+1):
        value_vars[col-crm.val_col] = ws.cell(crm.header_row, col).value
    print(value_vars)
    
    # Make space for TOPIC : CATEGORY : SEGMENTATION triple.
    # This triple could very well become an index into a data framework (such as SASB, TCFD, etc)
    new_column_count = (len(ingest_columns)-1
                        -int(crm.notes_col!=None)
                        -int(crm.topic_col!=None)
                        -int(crm.category_col!=None)
                        -int(crm.units_col!=None))
    ws.insert_cols(crm.last_val_col+1,amount=new_column_count)
    if crm.notes_col==None:
        crm.notes_col = crm.last_val_col+ingest_col_offsets['Notes']
    ws.cell(crm.header_row,crm.notes_col).value = 'Notes'
    if crm.topic_col==None:
        crm.topic_col = crm.last_val_col+ingest_col_offsets['Topic']
    ws.cell(crm.header_row,crm.topic_col).value = 'Topic'
    if crm.category_col==None:
        crm.category_col = crm.last_val_col+ingest_col_offsets['Category']
    ws.cell(crm.header_row,crm.category_col).value = 'Category'
    crm.segmentation_col = crm.last_val_col+ingest_col_offsets['Segmentation']
    ws.cell(crm.header_row,crm.segmentation_col).value = 'Segmentation'
    if crm.units_col==None:
        crm.units_col = crm.last_val_col+ingest_col_offsets['Unit']
    ws.cell(crm.header_row,crm.units_col).value = 'Unit'
    ws.cell(crm.header_row,crm.var_col).value = 'Variable'
        
    crm.last_col = crm.last_col + new_column_count

    # Find last row of actual values so we can process notes at the end
    for row in range(ws.max_row, 0, -1):
        if any([True for col in range(crm.val_col, crm.last_val_col+1) if ws.cell(row, col).value]):
            crm.last_val_row = row
            break

In [13]:
def postprocess(wb, ws):
    
    # Intended for Shell notes
    def save_ws_notes(ws, note):
        global ws_notes
        
        if ws.title not in ws_notes:
            ws_notes[ws.title] = {}
        note_label, note_text = note.split(' ', 1)
        ws_notes[ws.title][note_label] = note_text.strip()
    
    # Intended for DPDHL notes
    def save_ws_notes2(ws, note):
        global ws_notes
        
        if ws.title not in ws_notes:
            ws_notes[ws.title] = {}
        notes = re.split(r' (\d+)\)\s+', note)
        print('NOTES')
        print(notes)
        print('END NOTES')
        ws_notes[ws.title]['0'] = notes[0]
        for i in range(int(len(notes)/2)):
            ws_notes[ws.title][notes[1+2*i]] = notes[2+2*i].strip()
    
    # Used for Unilever
    def finish_notes(row):
        print('finish_notes @ {}'.format(row))

    for row in range(crm.last_val_row+1, ws.max_row+1):
        cell = ws.cell(row, crm.var_col)
        # Find either bracketed note or note that begins with possible superscript
        if cell.value==None:
            continue
        if cell.value[0]=='[':
            save_ws_notes(ws, cell.value)
            continue
        if re.search(r'^[^(]*\d[)]', str(cell.value)):
            save_ws_notes2(ws, cell.value)
        if re.search(r'notes', str(cell.value), flags=re.I):
            finish_notes(row)
            return

In [14]:
# With a nicely formatted workbook, do the rest of our work (including writing to Trino) using dataframes

# IPIECA, SASB, and GRI columns all feed metadata

def ws_to_df(wb, i):
    data = islice(wb.worksheets[i].values, crm.header_row_list[i]-1, None)
    cols = list(next(data))
    data = list(data)
    # idx = [r[0] for r in data]
    # data = (islice(r, 0, None) for r in data)
    cols[crm.units_col-1] = 'Unit'            # Already set by Shell; DF indexes are XLSX-1
    df = pd.DataFrame(data, columns=cols) # we don't pass in an index here

    # Remove null columns
    df = df[[c for c in df.columns if c!= None]]
    
    # For now, do not remove rows lacking units.  Those are basically where Notes are stored (for better or worse).
    # print('rows lacking proper Units')
    # display(df[df['Unit'].isnull()])
    df = df.loc[df.Unit.notna() | df.Category.isna()]

    # Clear out data that is n/a, n/c (not collected), n/d (not disclosed)
    df[df['Unit'].notna()].replace(to_replace='^n/[acd]$', value='', regex=True, inplace=True)
    
    # Change numerical years to strings to make pandas indexing behave
    df.columns = [str(c) for c in df.columns]
    # Drop completely empty rows
    # df.dropna(how='all', axis=0, inplace=True)
    return df

Write out polymorphic dataframe in LONG format.  This follows tidy data model, with one variable observation per row.  
Polymorphic means that Units/dimensions of each row are specified, but not necessarily the same row to row.  
Aggregation functions must be careful that selection criteria does not mix up incompatible unit types and/or observation variables.

In [15]:
wb = None
ws = None
melted_df = None

def ingest_filename(filename):
    global melted_df
    global topic_cell
    global crm, wb, ws
    
    crm = filename_magic[filename]

    wb = load_workbook(crm.input_filename, data_only=True)

    # For a label like "Scope 1 emissions by country" return ['', 'Scope 1 emissions', 'country']
    # For a label like "Direct GHG emissions (Scope 1) [A] [B] [C] [D]" return ['[A] [B] [C] [D]', 'Direct GHG emissions (Scope 1) ', '']

    long_fmt_filename = ''
    wide_fmt_filename = ''

    for i in range(crm.ws_start[0], crm.ws_end[0]+1):
        ws = wb.worksheets[i]
        ws_notes = {}
        preprocess(wb, ws)
        
        row = process_topic(ws, crm.topic_row)

        while row < crm.last_val_row:
            if row == crm.header_row_list[i]:
                row = row+1
                continue
            color = cell2rgb(ws.cell(row,1))
            if color and color in crm.cat_color_dict:
                if crm.cat_color_dict[color]==0:
                    # Register that we have a new topic
                    topic_cell = ws.cell(row, crm.topic_col)
                    topic_cell.value = ws.cell(row, crm.var_col).value
                    print(f'new topic set at row {row}: {topic_cell.value} (color = {color})')
                    row = process_topic(ws, row)
                else:
                    row = process_categories(ws, row)
                    if row < 0:
                        break
            else:
                print(f'ingest_file: processing {row}')
                row = process_topic(ws, row)
    
        # process_topic (wb, ws, header_row_list[i])
        # preprocess2(wb, ws)
        postprocess(wb, ws)
        # What to do with ws_notes???
        df = ws_to_df(wb, i)
        df.replace('',pd.NA,inplace=True)
        print(f'wb({i}) dataframe')
        display(df.loc[0:min(len(df),45)])
        melted_df = pd.melt(df, id_vars=ingest_columns, var_name='Year', value_name='Value', value_vars=value_vars)
        melted_df.dropna(subset=['Value'],inplace=True)
        melted_df = melted_df.astype({'Year': 'int'})

        if i==crm.ws_start[0]:
            report_year = max(df.columns[crm.val_col-1:crm.last_val_col])
            long_fmt_filename = ''.join([os.environ.get('PWD', '/opt/app-root/src'), '/osc-ingest-shell/data/interim/',
                                         crm.shortname, '_', report_year, '_', 'LONG.xlsx'])
            writer_long = pd.ExcelWriter(long_fmt_filename)
            wide_fmt_filename = ''.join([os.environ.get('PWD', '/opt/app-root/src'), '/osc-ingest-shell/data/interim/',
                                         crm.shortname, '_', report_year, '_', 'WIDE.xlsx'])
            writer_wide = pd.ExcelWriter(wide_fmt_filename)

        # This writes out LONG data with TOPIC as SHEET_NAME.  Later we'll create a truly long table with TOPIC restored as a column
        melted_df.loc[:, melted_df.columns != 'Topic'].to_excel(writer_long, index=False, sheet_name=df.iloc[0]['Topic'][0:30])

        print(ws.title)
        columns = ['Variable', 'Unit']
        # We need these columns to reshape our data
        for extra_col in ['Notes', 'Category', 'Segmentation']:
            if df[extra_col].notna().any():
                columns.append(extra_col)
        # In the case of Shell, we have only one topic per sheet, so can transform melted_df directly
        pf = melted_df.pivot(index=['Year', 'Topic'], columns=columns, values=['Value'])
        pf = pf.droplevel('Topic')
        # Once reshaped, the extra columns actually appear as multi-level indexes.  Drop them from also behaving like values
        pf[[c for c in columns if c not in ['Variable', 'Unit']]] = pd.NA
        pf.dropna(how='all', axis=1, inplace=True)
        pf.to_excel(writer_wide, sheet_name=df.iloc[0]['Topic'][0:30])

    writer_long.close()
    writer_wide.close()
    
    # We are now working with our own workbook, which doesn't have a zero-index sheet to ignore
    # Make the workbook more legible to those reading it
    long_wb = load_workbook(long_fmt_filename, data_only=True)
    for ws in long_wb.worksheets:
        dim_holder = DimensionHolder(worksheet=ws)
        for col in range(ws.min_column, ws.max_column + 1):
            if get_column_letter(col)=='A':
                width = 40
            elif get_column_letter(col) in ['B', 'E']:
                width = 15
            elif get_column_letter(col) in ['C', 'D']:
                width = 25
            else:
                width = 10
            dim_holder[get_column_letter(col)] = ColumnDimension(ws, min=col, max=col, width=width)
        ws.column_dimensions = dim_holder
    
    long_wb.save(long_fmt_filename)
    long_wb.close()
    
    def as_text(value):
        if value is None:
            return ""
        return str(value)
    
    # Write out dataframe in WIDE format.  This data is technically tidy, with one multi-dimensional observation per row.
    # Units/dimensions are consistent on a per-column basis, making it easy to aggregate column-based data.
    wide_wb = load_workbook(wide_fmt_filename, data_only=True)
    # Make the workbook more legible to those reading it
    for ws in wide_wb.worksheets:
        dim_holder = DimensionHolder(worksheet=ws)
        for col in range(ws.min_column, ws.max_column + 1):
            cell = ws.cell(2, col)
            cell.alignment = Alignment(wrap_text=True,vertical='top') 
            dim_holder[get_column_letter(col)] = ColumnDimension(ws, min=col, max=col, width=max(10,1+len(as_text(cell.value))/3))
        ws.column_dimensions = dim_holder

    wide_wb.save(wide_fmt_filename)
    wide_wb.close()

In [16]:
for filename in filename_magic:
    print(filename)
    crm = filename_magic[filename]
    ingest_filename(filename)

print('Done!')

greenhouse-gas-and-energy-data-shell-sr20.xlsx
[]
[]
crop_sheet
77 x 11
25 x 11
['2020', '2019', '2018', '2017', '2016']
process_topic 6: setting topic from title opd-net-carbon-footprint
ingest_file: processing 7
process_topic 7: setting topic Footprint
process_topic 7: setting category Net Carbon Footprint
process_topic 7: setting units g CO2e/ MJ
sub_score = 0
process_category 7: processing variable
process_var 7: using units CO2eq * g / MJ
process_categories: unknown color 00000000 at row 8: Estimated total energy delivered by Shell [B]
-bold
sub_score = -1
process_category 8: processing variable
process_var 8: using units EJ
process_categories: unknown color 00000000 at row 9: Share of energy delivered per energy product type [C]
+bold
+indent
sub_score = 2
process_categories 9: segmenting Share of energy delivered::energy product type [C]
process_var 9: using units CO2eq * g / MJ
process_var 10: using units %
sub_score = 0
sub_score = 0
process_var 11: using units %
sub_score = 0
sub_score = 0
process_var 12: using units %
sub_score = 0
sub_score = 0
process_var 13: using units %
sub_score = 0
sub_score = 0
process_var 14: using units %
sub_score = -1
sub_score = -1
pop at row 15: segmentation_stack now []
process_categories: unknown color 00000000 at row 15: Total estimated greenhouse gas emissions covered by the Net Carbon Footprint calculation [D]
-bold
sub_score = -1
process_category 15: processing variable
process_var 15: using units CO2eq * Mt
process_categories: unknown color 00000000 at row 16: Carbon intensity of energy products type
+bold
+indent
sub_score = 2
process_categories 16: segmenting Carbon intensity::energy products type
process_var 16: using units CO2eq * g / MJ
process_var 17: using units g CO2e/MJ
sub_score = 0
sub_score = 0
process_var 18: using units g CO2e/MJ
sub_score = 0
sub_score = 0
process_var 19: using units g CO2e/MJ
sub_score = 0
sub_score = 0
process_var 20: using units g CO2e/MJ
process_var 21: using units g CO2e/MJ
process_segmentation: stack at end = [<Cell 'opd-net-carbon-footprint'.K16>]
wb(1) dataframe

/opt/app-root/lib64/python3.8/site-packages/pandas/core/frame.py:5238: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(

,Variable,Unit,2020,2019,2018,2017,2016,Notes,Topic,Category,Segmentation,IPIECA,SASB,GRI
0,NET CARBON FOOTPRINT [A],None,NaN,NaN,NaN,NaN,NaN,None,opd-net-carbon-footprint,None,None,None,None,None
1,Net Carbon Footprint,CO2eq * g / MJ,75.0,78.00,79.0,79.00,79.00,None,footprint,Carbon intensity,None,None,None,None
2,Estimated total energy delivered by Shell [B],EJ,18.4,21.05,22.0,21.44,20.93,None,footprint,Net Carbon Footprint,None,None,None,None
3,Share of energy delivered per energy product t...,CO2eq * g / MJ,NaN,NaN,NaN,NaN,NaN,None,footprint,Share of energy delivered,energy product type [C],None,None,None
4,Oil products and GTL,%,47.0,56.00,55.0,54.00,54.00,None,footprint,Share of energy delivered,energy product type [C],None,None,None
5,Gas,%,21.0,17.00,21.0,23.00,24.00,None,footprint,Share of energy delivered,energy product type [C],None,None,None
6,LNG,%,19.0,18.00,16.0,15.00,14.00,None,footprint,Share of energy delivered,energy product type [C],None,None,None
7,Biofuels,%,1.0,1.00,1.0,1.00,1.00,None,footprint,Share of energy delivered,energy product type [C],None,None,None
8,Power,%,12.0,9.00,7.0,7.00,7.00,None,footprint,Share of energy delivered,energy product type [C],None,None,None
9,Total estimated greenhouse gas emissions cover...,CO2eq * Mt,1384.0,1646.00,1731.0,1688.00,1645.00,None,footprint,Share of energy delivered,None,None,None,None
10,Carbon intensity of energy products type,CO2eq * g / MJ,NaN,NaN,NaN,NaN,NaN,None,footprint,Carbon intensity,energy products type,None,None,None
11,Oil products and GTL,g CO2e/MJ,89.0,89.00,88.0,89.00,89.00,None,footprint,Carbon intensity,energy products type,None,None,None
12,Gas,g CO2e/MJ,67.0,66.00,67.0,67.00,67.00,None,footprint,Carbon intensity,energy products type,None,None,None
13,LNG,g CO2e/MJ,70.0,71.00,71.0,71.00,71.00,None,footprint,Carbon intensity,energy products type,None,None,None
14,Biofuels,g CO2e/MJ,38.0,39.00,37.0,39.00,40.00,None,footprint,Carbon intensity,energy products type,None,None,None
15,Power,g CO2e/MJ,48.0,57.00,62.0,60.00,59.00,None,footprint,Carbon intensity,energy products type,None,None,None
16,[A] Retail sales volumes from markets where Sh...,None,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None
17,[B] Total volume of energy products sold by Sh...,None,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None
18,[C] Percentage of delivered energy may not ad...,None,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None
19,[D] Total CO2e emissions estimated using Shel...,None,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None

opd-net-carbon-footprint
[]
[]
crop_sheet
111 x 12
60 x 11
['2020', '2019', '2018', '2017', '2016']
process_topic 6: setting topic from title opd-scope-1-ghg-emissions
process_topic 6: setting category Direct GHG emissions (Scope 1) [A] [B] [C] [D]
process_topic 6: setting units million tonnes CO2e
+bold
+indent
sub_score = 2
process_category 6: processing variable
process_var 6: using units CO2eq * Mt
process_categories: unknown color 00000000 at row 7: Carbon dioxide (CO2)
sub_score = 0
process_category 7: processing variable
process_var 7: found species or units in Carbon dioxide (CO2)
changing units from category: CO2eq * Mt to CO2 * Mt
process_categories: unknown color 00000000 at row 8: Methane (CH4)
sub_score = 0
process_category 8: processing variable
process_var 8: found species or units in Methane (CH4)
changing units from category: CO2eq * Mt to CH4 * kt
process_categories: unknown color 00000000 at row 9: Nitrous oxide (N2O)
sub_score = 0
process_category 9: processing variable
process_var 9: found species or units in Nitrous oxide (N2O)
changing units from category: CO2eq * Mt to N2O * kt
process_categories: unknown color 00000000 at row 10: Hydrofluorocarbons (HFCs)
sub_score = 0
process_category 10: processing variable
process_var 10: found species or units in Hydrofluorocarbons (HFCs)
changing units from category: CO2eq * Mt to HFC * t
process_categories: unknown color 00000000 at row 11: Sulphur hexafluoride (SF6)
sub_score = 0
process_category 11: processing variable
process_var 11: found species or units in Sulphur hexafluoride (SF6)
changing units from category: CO2eq * Mt to SF6 * t
process_categories: unknown color 00000000 at row 12: Perfluorocarbons (PFC)
sub_score = 0
process_category 12: processing variable
process_var 12: found species or units in Perfluorocarbons (PFC)
changing units from category: CO2eq * Mt to PFC * t
process_categories: unknown color 00000000 at row 13: Nitrogen trifluoride (NF3)
-bold
sub_score = -2
process_category 13: processing variable
process_var 13: found species or units in Nitrogen trifluoride (NF3)
changing units from category: CO2eq * Mt to NF3 * t
process_categories: unknown color 00000000 at row 14: Scope 1 emissions by business
+bold
+indent
sub_score = 2
process_categories 14: segmenting Scope 1 emissions::business
process_var 14: using units CO2eq * Mt
process_var 15: using units million tonnes CO2e
sub_score = 0
sub_score = 0
process_var 16: using units million tonnes CO2e
sub_score = 0
sub_score = 0
process_var 17: using units million tonnes CO2e
sub_score = 0
sub_score = 0
process_var 18: using units million tonnes CO2e
-bold
sub_score = -2
-bold
sub_score = -2
pop at row 19: segmentation_stack now []
process_categories: unknown color 00000000 at row 19: Scope 1 emissions by country
+bold
+indent
sub_score = 2
process_categories 19: segmenting Scope 1 emissions::country
process_var 19: using units CO2eq * Mt
process_var 20: using units million tonnes CO2e
sub_score = 0
sub_score = 0
process_var 21: using units million tonnes CO2e
sub_score = 0
sub_score = 0
process_var 22: using units million tonnes CO2e
sub_score = 0
sub_score = 0
process_var 23: using units million tonnes CO2e
sub_score = 0
sub_score = 0
process_var 24: using units million tonnes CO2e
sub_score = 0
sub_score = 0
process_var 25: using units million tonnes CO2e
sub_score = 0
sub_score = 0
process_var 26: using units million tonnes CO2e
sub_score = 0
sub_score = 0
process_var 27: using units million tonnes CO2e
sub_score = 0
sub_score = 0
process_var 28: using units million tonnes CO2e
sub_score = 0
sub_score = 0
process_var 29: using units million tonnes CO2e
sub_score = 0
sub_score = 0
process_var 30: using units million tonnes CO2e
sub_score = 0
sub_score = 0
process_var 31: using units million tonnes CO2e
-bold
sub_score = -2
-bold
sub_score = -2
pop at row 32: segmentation_stack now []
process_categories: unknown color 00000000 at row 32: Scope 1 emissions by source
+bold
+indent
sub_score = 2
process_categories 32: segmenting Scope 1 emissions::source
process_var 32: using units CO2eq * Mt
process_var 33: using units million tonnes
+indent
sub_score = 1
process_var 34: using units million tonnes
sub_score = 0
sub_score = 0
process_var 35: using units million tonnes
sub_score = 0
sub_score = 0
process_var 36: using units million tonnes
sub_score = 0
sub_score = 0
process_var 37: using units million tonnes
sub_score = -1
sub_score = -1
pop at row 38: segmentation_stack now [<Cell 'opd-scope-1-ghg-emissions'.K32>]
sub_score = 0
sub_score = 0
process_var 38: using units thousand tonnes
+indent
sub_score = 1
process_var 39: using units thousand tonnes
sub_score = 0
sub_score = 0
process_var 40: using units thousand tonnes
sub_score = 0
sub_score = 0
process_var 41: using units thousand tonnes
sub_score = 0
sub_score = 0
process_var 42: using units thousand tonnes
sub_score = -1
sub_score = -1
pop at row 43: segmentation_stack now [<Cell 'opd-scope-1-ghg-emissions'.K32>]
sub_score = 0
sub_score = 0
process_var 43: using units million tonnes CO2e
-bold
sub_score = -2
-bold
sub_score = -2
pop at row 44: segmentation_stack now []
process_categories: unknown color 00000000 at row 44: Methane (CH4) emissions
process_categories 44: setting units from var: CH4
+bold
+indent
sub_score = 2
process_category 44: processing variable
process_var 44: found species or units in Methane (CH4) emissions
Inferring/composing units: CH4 * Methane
changing units from category: CO2eq * Mt to CH4 * Methane
process_categories: unknown color 00000000 at row 45: Methane emissions in CO2 equivalent [E]
sub_score = 0
process_category 45: processing variable
process_var 45: using units CO2eq * Mt
process_categories: unknown color 00000000 at row 46: Methane emissions intensity - assets with marketed gas
sub_score = 0
process_category 46: processing variable
process_var 46: using units percent
process_categories: unknown color 00000000 at row 47: Methane emissions intensity - assets without marketed gas
-bold
sub_score = -2
process_category 47: processing variable
process_var 47: using units percent
process_categories: unknown color 00000000 at row 48: Upstream flaring [F]
+bold
+indent
sub_score = 2
process_category 48: processing variable
process_var 48: using units CO2eq * Mt
process_categories: unknown color 00000000 at row 49: GHG emissions from flaring
sub_score = 0
process_category 49: processing variable
process_var 49: using units CO2eq * Mt
process_categories: unknown color 00000000 at row 50: Total hydrocarbons flared
+indent
sub_score = 1
process_categories 50: segmenting Total hydrocarbons flared::hydrocarbons flared
process_var 50: using units Mt
process_var 51: using units million tonnes
sub_score = 0
sub_score = 0
process_var 52: using units million tonnes
process_var 53: using units million tonnes CO2e
process_segmentation: stack at end = [<Cell 'opd-scope-1-ghg-emissions'.K50>]
wb(2) dataframe

/opt/app-root/lib64/python3.8/site-packages/pandas/core/frame.py:5238: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(

,Variable,Unit,2020,2019,2018,2017,2016,Notes,Topic,Category,Segmentation,IPIECA,SASB,GRI
0,Direct GHG emissions (Scope 1) [A] [B] [C] [D],CO2eq * Mt,63.00,70.000,71.00,73.000,72.00,None,opd-scope-1-ghg-emissions,Total hydrocarbons flared,None,CCE-4,EM-EP-110a.1,305-1
1,Carbon dioxide (CO2),CO2 * Mt,61.00,67.000,69.00,70.000,68.00,None,opd-scope-1-ghg-emissions,Direct GHG emissions (Scope 1) [A] [B] [C] [D],None,CCE-4,EM-EP-110a.1,305-1
2,Methane (CH4),CH4 * kt,67.00,91.000,92.00,123.000,138.00,None,opd-scope-1-ghg-emissions,Direct GHG emissions (Scope 1) [A] [B] [C] [D],None,CCE-4,EM-EP-110a.1,305-1
3,Nitrous oxide (N2O),N2O * kt,1.00,1.000,1.00,1.000,1.00,None,opd-scope-1-ghg-emissions,Direct GHG emissions (Scope 1) [A] [B] [C] [D],None,CCE-4,EM-EP-110a.1,305-1
4,Hydrofluorocarbons (HFCs),HFC * t,30.00,29.000,31.00,22.000,22.00,None,opd-scope-1-ghg-emissions,Direct GHG emissions (Scope 1) [A] [B] [C] [D],None,CCE-4,EM-EP-110a.1,305-1
5,Sulphur hexafluoride (SF6),SF6 * t,0.00,0.000,0.00,0.000,2.00,None,opd-scope-1-ghg-emissions,Direct GHG emissions (Scope 1) [A] [B] [C] [D],None,CCE-4,EM-EP-110a.1,305-1
6,Perfluorocarbons (PFC),PFC * t,0.00,0.000,0.00,0.000,0.00,None,opd-scope-1-ghg-emissions,Direct GHG emissions (Scope 1) [A] [B] [C] [D],None,CCE-4,EM-EP-110a.1,305-1
7,Nitrogen trifluoride (NF3),NF3 * t,0.00,0.000,0.00,0.000,0.00,None,opd-scope-1-ghg-emissions,Direct GHG emissions (Scope 1) [A] [B] [C] [D],None,CCE-4,EM-EP-110a.1,305-1
8,Scope 1 emissions by business,CO2eq * Mt,NaN,NaN,NaN,NaN,NaN,None,opd-scope-1-ghg-emissions,Scope 1 emissions,business,None,None,None
9,Upstream,million tonnes CO2e,12.80,12.900,14.80,19.600,19.00,None,opd-scope-1-ghg-emissions,Scope 1 emissions,business,CCE-4,EM-EP-110a.1,305-1
10,Integrated Gas,million tonnes CO2e,14.10,16.300,13.00,12.000,13.70,None,opd-scope-1-ghg-emissions,Scope 1 emissions,business,CCE-4,EM-EP-110a.1,305-1
11,Downstream,million tonnes CO2e,35.70,40.300,42.70,41.100,38.80,None,opd-scope-1-ghg-emissions,Scope 1 emissions,business,CCE-4,EM-EP-110a.1,305-1
12,Other,million tonnes CO2e,0.20,0.200,0.80,0.200,0.10,None,opd-scope-1-ghg-emissions,Scope 1 emissions,business,CCE-4,EM-EP-110a.1,305-1
13,Scope 1 emissions by country,CO2eq * Mt,NaN,NaN,NaN,NaN,NaN,None,opd-scope-1-ghg-emissions,Scope 1 emissions,country,None,None,None
14,USA,million tonnes CO2e,15.70,19.400,19.70,18.300,15.70,None,opd-scope-1-ghg-emissions,Scope 1 emissions,country,CCE-4,EM-EP-110a.1,305-1
15,Middle East,million tonnes CO2e,8.90,8.500,8.50,10.600,11.90,None,opd-scope-1-ghg-emissions,Scope 1 emissions,country,CCE-4,EM-EP-110a.1,305-1
16,Netherlands,million tonnes CO2e,7.10,7.100,7.40,7.200,7.20,None,opd-scope-1-ghg-emissions,Scope 1 emissions,country,CCE-4,EM-EP-110a.1,305-1
17,Singapore,million tonnes CO2e,5.60,5.900,6.60,6.600,4.80,None,opd-scope-1-ghg-emissions,Scope 1 emissions,country,CCE-4,EM-EP-110a.1,305-1
18,Canada,million tonnes CO2e,5.00,5.800,5.90,6.700,7.70,None,opd-scope-1-ghg-emissions,Scope 1 emissions,country,CCE-4,EM-EP-110a.1,305-1
19,Nigeria,million tonnes CO2e,4.70,4.200,4.00,4.600,3.70,None,opd-scope-1-ghg-emissions,Scope 1 emissions,country,CCE-4,EM-EP-110a.1,305-1
20,Australia,million tonnes CO2e,3.70,6.400,3.50,3.100,3.30,None,opd-scope-1-ghg-emissions,Scope 1 emissions,country,CCE-4,EM-EP-110a.1,305-1
21,Germany,million tonnes CO2e,3.30,3.300,3.50,3.700,3.60,None,opd-scope-1-ghg-emissions,Scope 1 emissions,country,CCE-4,EM-EP-110a.1,305-1
22,Malaysia,million tonnes CO2e,2.60,2.400,2.90,3.200,4.10,None,opd-scope-1-ghg-emissions,Scope 1 emissions,country,CCE-4,EM-EP-110a.1,305-1
23,United Kingdom,million tonnes CO2e,2.00,2.100,2.40,2.800,2.90,None,opd-scope-1-ghg-emissions,Scope 1 emissions,country,CCE-4,EM-EP-110a.1,305-1
24,International waters,million tonnes CO2e,1.20,1.600,1.80,1.400,1.40,None,opd-scope-1-ghg-emissions,Scope 1 emissions,country,CCE-4,EM-EP-110a.1,305-1
25,Rest of the world,million tonnes CO2e,2.80,2.800,5.40,5.200,5.50,None,opd-scope-1-ghg-emissions,Scope 1 emissions,country,CCE-4,EM-EP-110a.1,305-1
26,Scope 1 emissions by source,CO2eq * Mt,NaN,NaN,NaN,NaN,NaN,None,opd-scope-1-ghg-emissions,Scope 1 emissions,source,None,None,None
27,CO2 emissions,million tonnes,61.00,67.000,69.00,70.000,68.00,None,opd-scope-1-ghg-emissions,Scope 1 emissions,source,CCE-4,EM-EP-110a.2,305-1
28,Combustion,million tonnes,50.30,52.800,54.20,53.200,53.00,None,opd-scope-1-ghg-emissions,Scope 1 emissions,source::CO2 emissions,CCE-4,EM-EP-110a.2,305-1
29,Flaring,million tonnes,4.40,6.500,5.80,8.600,7.90,None,opd-scope-1-ghg-emissions,Scope 1 emissions,source::CO2 emissions,CCE-4,EM-EP-110a.2,305-1
30,Venting and process,million tonnes,6.00,7.700,8.70,8.200,7.00,None,opd-scope-1-ghg-emissions,Scope 1 emissions,source::CO2 emissions,CCE-4,EM-EP-110a.2,305-1
31,Fugitives,million tonnes,0.02,0.020,0.02,0.030,0.05,None,opd-scope-1-ghg-emissions,Scope 1 emissions,source::CO2 emissions,CCE-4,EM-EP-110a.2,305-1
32,CH4 emissions,thousand tonnes,67.00,91.000,92.00,123.000,138.00,None,opd-scope-1-ghg-emissions,Scope 1 emissions,source,CCE-4,EM-EP-110a.2,305-1
33,Combustion,thousand tonnes,10.70,12.500,13.40,11.800,10.30,None,opd-scope-1-ghg-emissions,Scope 1 emissions,source::CH4 emissions,CCE-4,EM-EP-110a.2,305-1
34,Flaring,thousand tonnes,15.20,19.200,17.90,27.100,23.40,None,opd-scope-1-ghg-emissions,Scope 1 emissions,source::CH4 emissions,CCE-4,EM-EP-110a.2,305-1
35,Venting and process,thousand tonnes,29.00,44.000,44.90,62.000,72.20,None,opd-scope-1-ghg-emissions,Scope 1 emissions,source::CH4 emissions,CCE-4,EM-EP-110a.2,305-1
36,Fugitives,thousand tonnes,12.00,15.100,16.10,22.900,31.60,None,opd-scope-1-ghg-emissions,Scope 1 emissions,source::CH4 emissions,CCE-4,EM-EP-110a.2,305-1
37,Other greenhouse gases,million tonnes CO2e,0.30,0.300,0.30,0.300,0.30,None,opd-scope-1-ghg-emissions,Scope 1 emissions,source,CCE-4,EM-EP-110a.2,305-1
38,Methane (CH4) emissions,CH4 * Methane,NaN,NaN,NaN,NaN,NaN,None,opd-scope-1-ghg-emissions,Methane (CH4) emissions,None,None,None,None
39,Methane emissions in CO2 equivalent [E],CO2eq * Mt,1.70,2.275,2.30,3.075,3.45,None,opd-scope-1-ghg-emissions,Methane (CH4) emissions,None,CCE-4,EM-EP-110a.1,305-1
40,Methane emissions intensity - assets with mark...,percent,0.06,0.080,0.08,NaN,NaN,None,opd-scope-1-ghg-emissions,Methane (CH4) emissions,None,CCE-4,EM-EP-110a.1,305-1
41,Methane emissions intensity - assets without m...,percent,0.01,0.010,0.01,NaN,NaN,None,opd-scope-1-ghg-emissions,Methane (CH4) emissions,None,CCE-4,EM-EP-110a.1,305-1
42,Upstream flaring [F],CO2eq * Mt,NaN,NaN,NaN,NaN,NaN,None,opd-scope-1-ghg-emissions,Upstream flaring [F],None,None,None,None
43,GHG emissions from flaring,CO2eq * Mt,3.80,5.900,5.20,8.200,7.60,None,opd-scope-1-ghg-emissions,Upstream flaring [F],None,CCE-4,EM-EP-110a.2,305-1
44,Total hydrocarbons flared,Mt,1.10,1.800,1.50,2.500,2.30,None,opd-scope-1-ghg-emissions,Total hydrocarbons flared,hydrocarbons flared,CCE-4,EM-EP-110a.2,305-1
45,Nigeria,million tonnes,0.60,0.700,0.60,0.800,0.50,None,opd-scope-1-ghg-emissions,Total hydrocarbons flared,hydrocarbons flared,CCE-4,EM-EP-110a.2,305-1

opd-scope-1-ghg-emissions
[]
[]
crop_sheet
91 x 12
33 x 11
['2020', '2019', '2018', '2017', '2016']
process_topic 6: setting topic from title opd-scope-2-ghg-emissions
process_topic 6: setting category Scope 2 emissions - market-based method
process_topic 6: setting units million tonnes CO2e
sub_score = 0
process_category 6: processing variable
process_var 6: using units CO2eq * Mt
process_categories: unknown color 00000000 at row 7: Scope 2 emissions - location-based method
-bold
sub_score = -1
process_category 7: processing variable
process_var 7: using units CO2eq * Mt
process_categories: unknown color 00000000 at row 8: Scope 2 emissions by business (market-based method)
+bold
+indent
sub_score = 2
process_categories 8: segmenting Scope 2 emissions::business (market-based method)
process_var 8: using units CO2eq * Mt
process_var 9: using units million tonnes CO2e
sub_score = 0
sub_score = 0
process_var 10: using units million tonnes CO2e
sub_score = 0
sub_score = 0
process_var 11: using units million tonnes CO2e
sub_score = 0
sub_score = 0
process_var 12: using units million tonnes CO2e
-bold
sub_score = -2
-bold
sub_score = -2
pop at row 13: segmentation_stack now []
process_categories: unknown color 00000000 at row 13: Scope 2 emissions by country (market-based method)
+bold
+indent
sub_score = 2
process_categories 13: segmenting Scope 2 emissions::country (market-based method)
process_var 13: using units CO2eq * Mt
process_var 14: using units million tonnes CO2e
sub_score = 0
sub_score = 0
process_var 15: using units million tonnes CO2e
sub_score = 0
sub_score = 0
process_var 16: using units million tonnes CO2e
sub_score = 0
sub_score = 0
process_var 17: using units million tonnes CO2e
sub_score = 0
sub_score = 0
process_var 18: using units million tonnes CO2e
sub_score = 0
sub_score = 0
process_var 19: using units million tonnes CO2e
sub_score = 0
sub_score = 0
process_var 20: using units million tonnes CO2e
-bold
sub_score = -2
-bold
sub_score = -2
pop at row 21: segmentation_stack now []
process_categories: unknown color 00000000 at row 21: Scope 2 emissions by business (location-based method)
+bold
+indent
sub_score = 2
process_categories 21: segmenting Scope 2 emissions::business (location-based method)
process_var 21: using units CO2eq * Mt
process_var 22: using units million tonnes CO2e
sub_score = 0
sub_score = 0
process_var 23: using units million tonnes CO2e
sub_score = 0
sub_score = 0
process_var 24: using units million tonnes CO2e
sub_score = 0
sub_score = 0
process_var 25: using units million tonnes CO2e
-bold
sub_score = -2
-bold
sub_score = -2
pop at row 26: segmentation_stack now []
process_categories: unknown color 00000000 at row 26: Scope 2 emissions by country (location-based method)
+bold
+indent
sub_score = 2
process_categories 26: segmenting Scope 2 emissions::country (location-based method)
process_var 26: using units CO2eq * Mt
process_var 27: using units million tonnes CO2e
sub_score = 0
sub_score = 0
process_var 28: using units million tonnes CO2e
sub_score = 0
sub_score = 0
process_var 29: using units million tonnes CO2e
sub_score = 0
sub_score = 0
process_var 30: using units million tonnes CO2e
sub_score = 0
sub_score = 0
process_var 31: using units million tonnes CO2e
sub_score = 0
sub_score = 0
process_var 32: using units million tonnes CO2e
process_var 33: using units million tonnes CO2e
process_segmentation: stack at end = [<Cell 'opd-scope-2-ghg-emissions'.K26>]
wb(3) dataframe

,Variable,Unit,2020,2019,2018,2017,2016,Notes,Topic,Category,Segmentation,IPIECA,SASB,GRI
0,Scope 2 emissions - market-based method,CO2eq * Mt,9.0,10.0,11.0,12.0,11.0,None,opd-scope-2-ghg-emissions,Scope 2 emissions,None,CCE-4,–,305-2
1,Scope 2 emissions - location-based method,CO2eq * Mt,11.0,11.0,11.0,11.0,11.0,None,opd-scope-2-ghg-emissions,Scope 2 emissions - market-based method,None,CCE-4,–,305-2
2,Scope 2 emissions by business (market-based me...,CO2eq * Mt,NaN,NaN,NaN,NaN,NaN,None,opd-scope-2-ghg-emissions,Scope 2 emissions,business (market-based method),None,None,None
3,Upstream,million tonnes CO2e,0.6,1.1,1.4,1.4,1.4,None,opd-scope-2-ghg-emissions,Scope 2 emissions,business (market-based method),CCE-4,–,305-2
4,Integrated Gas,million tonnes CO2e,1.5,1.6,2.4,2.4,2.0,None,opd-scope-2-ghg-emissions,Scope 2 emissions,business (market-based method),CCE-4,–,305-2
5,Downstream,million tonnes CO2e,7.0,7.3,6.8,7.5,7.5,None,opd-scope-2-ghg-emissions,Scope 2 emissions,business (market-based method),CCE-4,–,305-2
6,Other,million tonnes CO2e,0.1,0.2,0.2,0.2,0.2,None,opd-scope-2-ghg-emissions,Scope 2 emissions,business (market-based method),CCE-4,–,305-2
7,Scope 2 emissions by country (market-based met...,CO2eq * Mt,NaN,NaN,NaN,NaN,NaN,None,opd-scope-2-ghg-emissions,Scope 2 emissions,country (market-based method),None,None,None
8,USA,million tonnes CO2e,3.1,3.1,3.2,3.1,2.7,None,opd-scope-2-ghg-emissions,Scope 2 emissions,country (market-based method),CCE-4,–,305-2
9,Netherlands,million tonnes CO2e,1.8,2.1,1.8,1.9,1.8,None,opd-scope-2-ghg-emissions,Scope 2 emissions,country (market-based method),CCE-4,–,305-2
10,Canada,million tonnes CO2e,1.8,2.3,2.0,2.7,3.2,None,opd-scope-2-ghg-emissions,Scope 2 emissions,country (market-based method),CCE-4,–,305-2
11,Australia,million tonnes CO2e,1.4,1.6,2.4,2.3,1.9,None,opd-scope-2-ghg-emissions,Scope 2 emissions,country (market-based method),CCE-4,–,305-2
12,Singapore,million tonnes CO2e,0.5,0.5,0.5,0.6,0.6,None,opd-scope-2-ghg-emissions,Scope 2 emissions,country (market-based method),CCE-4,–,305-2
13,Germany,million tonnes CO2e,0.3,0.3,0.4,0.7,0.6,None,opd-scope-2-ghg-emissions,Scope 2 emissions,country (market-based method),CCE-4,–,305-2
14,Rest of the world,million tonnes CO2e,0.3,0.3,0.4,0.3,0.5,None,opd-scope-2-ghg-emissions,Scope 2 emissions,country (market-based method),CCE-4,–,305-2
15,Scope 2 emissions by business (location-based ...,CO2eq * Mt,NaN,NaN,NaN,NaN,NaN,None,opd-scope-2-ghg-emissions,Scope 2 emissions,business (location-based method),None,None,None
16,Upstream,million tonnes CO2e,0.6,1.1,1.2,1.4,1.4,None,opd-scope-2-ghg-emissions,Scope 2 emissions,business (location-based method),CCE-4,–,305-2
17,Integrated Gas,million tonnes CO2e,2.6,2.7,2.4,2.3,2.0,None,opd-scope-2-ghg-emissions,Scope 2 emissions,business (location-based method),CCE-4,–,305-2
18,Downstream,million tonnes CO2e,7.2,7.5,6.8,7.4,7.3,None,opd-scope-2-ghg-emissions,Scope 2 emissions,business (location-based method),CCE-4,–,305-2
19,Other,million tonnes CO2e,0.2,0.2,0.2,0.2,0.2,None,opd-scope-2-ghg-emissions,Scope 2 emissions,business (location-based method),CCE-4,–,305-2
20,Scope 2 emissions by country (location-based m...,CO2eq * Mt,NaN,NaN,NaN,NaN,NaN,None,opd-scope-2-ghg-emissions,Scope 2 emissions,country (location-based method),None,None,None
21,USA,million tonnes CO2e,3.1,3.4,3.4,3.1,2.7,None,opd-scope-2-ghg-emissions,Scope 2 emissions,country (location-based method),CCE-4,–,305-2
22,Netherlands,million tonnes CO2e,1.8,2.0,1.7,1.9,1.8,None,opd-scope-2-ghg-emissions,Scope 2 emissions,country (location-based method),CCE-4,–,305-2
23,Canada,million tonnes CO2e,1.9,2.3,2.0,2.7,3.2,None,opd-scope-2-ghg-emissions,Scope 2 emissions,country (location-based method),CCE-4,–,305-2
24,Australia,million tonnes CO2e,2.6,2.6,2.4,2.3,1.9,None,opd-scope-2-ghg-emissions,Scope 2 emissions,country (location-based method),CCE-4,–,305-2
25,Singapore,million tonnes CO2e,0.5,0.5,0.5,0.6,0.6,None,opd-scope-2-ghg-emissions,Scope 2 emissions,country (location-based method),CCE-4,–,305-2
26,Germany,million tonnes CO2e,0.3,0.4,0.3,0.4,0.3,None,opd-scope-2-ghg-emissions,Scope 2 emissions,country (location-based method),CCE-4,–,305-2
27,Rest of the world,million tonnes CO2e,0.4,0.4,0.4,0.3,0.5,None,opd-scope-2-ghg-emissions,Scope 2 emissions,country (location-based method),CCE-4,–,305-2

opd-scope-2-ghg-emissions
[]
[]
crop_sheet
67 x 12
13 x 11
['2020', '2019', '2018', '2017', '2016']
process_topic 6: setting topic from title opd-greenhouse-gas-intensities
process_topic 6: setting category Upstream and Integrated Gas GHG intensity [A]
process_topic 6: setting units tonne CO2e/tonne production
+indent
sub_score = 1
process_category 6: processing variable
process_var 6: using units CO2eq * production
process_categories: unknown color 00000000 at row 7: Upstream and Integrated Gas GHG intensity [B]
sub_score = -1
process_category 7: processing variable
process_var 7: using units CO2eq * kg / boe
process_categories: unknown color 00000000 at row 8: Refinery GHG intensity [C]
find units: nothing found for tonne CO2e/UEDC
sub_score = 0
process_category 8: processing variable
process_var 8: propagating units CO2eq * production
process_var 9: using units tonne CO2e/tonne production
wb(4) dataframe

/opt/app-root/lib64/python3.8/site-packages/pandas/core/frame.py:5238: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(

,Variable,Unit,2020,2019,2018,2017,2016,Notes,Topic,Category,Segmentation,IPIECA,SASB,GRI
0,Upstream and Integrated Gas GHG intensity [A],CO2eq * production,0.159,0.168,0.158,0.166,0.166,None,opd-greenhouse-gas-intensities,Upstream and Integrated Gas GHG intensity [A],None,CCE-4,–,305-4
1,Upstream and Integrated Gas GHG intensity [B],CO2eq * kg / boe,21.000,22.000,21.000,22.000,23.000,None,opd-greenhouse-gas-intensities,Upstream and Integrated Gas GHG intensity [A],None,CCE-4,–,305-4
2,Refinery GHG intensity [C],CO2eq * production,1.050,1.060,1.050,1.140,1.180,None,opd-greenhouse-gas-intensities,Upstream and Integrated Gas GHG intensity [A],None,CCE-4,–,305-4
3,Chemical GHG intensity [D],tonne CO2e/tonne production,0.980,1.040,0.960,0.950,0.990,None,opd-greenhouse-gas-intensities,Upstream and Integrated Gas GHG intensity [A],None,CCE-4,–,305-4
4,[A] In tonnes of Scope 1 and Scope 2 GHG emiss...,None,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None
5,[B] In kilograms of Scope 1 and Scope 2 GHG em...,None,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None
6,[C] UEDCTM (Utilised Equivalent Distillation C...,None,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None
7,[D] High-value chemicals include olefin produc...,None,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None

opd-greenhouse-gas-intensities
[]
[]
crop_sheet
79 x 15
21 x 11
['2020', '2019', '2018', '2017', '2016']
process_topic 6: setting topic from title opd-scope-1-2-ghg-emissions
process_topic 6: setting category Direct GHG emissions (Scope 1)
process_topic 6: setting units million tonnes CO2e
+bold
+indent
sub_score = 2
process_category 6: processing variable
process_var 6: using units CO2eq * Mt
process_categories: unknown color 00000000 at row 7: Upstream
sub_score = 0
process_category 7: processing variable
process_var 7: using units CO2eq * Mt
process_categories: unknown color 00000000 at row 8: Integrated Gas
sub_score = 0
process_category 8: processing variable
process_var 8: using units CO2eq * Mt
process_categories: unknown color 00000000 at row 9: Downstream
sub_score = 0
process_category 9: processing variable
process_var 9: using units CO2eq * Mt
process_categories: unknown color 00000000 at row 10: Other
-bold
sub_score = -2
process_category 10: processing variable
process_var 10: using units CO2eq * Mt
process_categories: unknown color 00000000 at row 11: Scope 2 emissions (market-based method)
+bold
+indent
sub_score = 2
process_category 11: processing variable
process_var 11: using units CO2eq * Mt
process_categories: unknown color 00000000 at row 12: Upstream
sub_score = 0
process_category 12: processing variable
process_var 12: using units CO2eq * Mt
process_categories: unknown color 00000000 at row 13: Integrated Gas
sub_score = 0
process_category 13: processing variable
process_var 13: using units CO2eq * Mt
process_categories: unknown color 00000000 at row 14: Downstream
sub_score = 0
process_category 14: processing variable
process_var 14: using units CO2eq * Mt
process_categories: unknown color 00000000 at row 15: Other
-bold
sub_score = -2
process_category 15: processing variable
process_var 15: using units CO2eq * Mt
process_categories: unknown color 00000000 at row 16: Scope 2 emissions (location-based method)
+bold
+indent
sub_score = 2
process_category 16: processing variable
process_var 16: using units CO2eq * Mt
process_categories: unknown color 00000000 at row 17: Upstream
sub_score = 0
process_category 17: processing variable
process_var 17: using units CO2eq * Mt
process_categories: unknown color 00000000 at row 18: Integrated Gas
sub_score = 0
process_category 18: processing variable
process_var 18: using units CO2eq * Mt
process_categories: unknown color 00000000 at row 19: Downstream
sub_score = 0
process_category 19: processing variable
process_var 19: using units CO2eq * Mt
process_var 20: using units million tonnes CO2e
wb(5) dataframe

/opt/app-root/lib64/python3.8/site-packages/pandas/core/frame.py:5238: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(

,Variable,Unit,2020,2019,2018,2017,2016,Notes,Topic,Category,Segmentation,IPIECA,SASB,GRI
0,Direct GHG emissions (Scope 1),CO2eq * Mt,98.0,105.0,102.00,97.00,100,None,opd-scope-1-2-ghg-emissions,Scope 2 emissions (location-based method),None,CCE-4,EM-EP-110a.1,305-1
1,Upstream,CO2eq * Mt,20.1,21.7,22.20,25.40,25.1,None,opd-scope-1-2-ghg-emissions,Direct GHG emissions (Scope 1),None,CCE-4,EM-EP-110a.1,305-1
2,Integrated Gas,CO2eq * Mt,24.2,25.9,25.20,24.10,24.6,None,opd-scope-1-2-ghg-emissions,Direct GHG emissions (Scope 1),None,CCE-4,EM-EP-110a.1,305-1
3,Downstream,CO2eq * Mt,53.2,57.3,53.80,47.10,47.8,None,opd-scope-1-2-ghg-emissions,Direct GHG emissions (Scope 1),None,CCE-4,EM-EP-110a.1,305-1
4,Other,CO2eq * Mt,0.2,0.2,0.80,0.26,2.4,None,opd-scope-1-2-ghg-emissions,Direct GHG emissions (Scope 1),None,CCE-4,EM-EP-110a.1,305-1
5,Scope 2 emissions (market-based method),CO2eq * Mt,9.0,11.0,11.00,13.00,13,None,opd-scope-1-2-ghg-emissions,Scope 2 emissions (market-based method),None,CCE-4,–,305-2
6,Upstream,CO2eq * Mt,0.7,1.2,1.30,1.30,1.5,None,opd-scope-1-2-ghg-emissions,Scope 2 emissions (market-based method),None,CCE-4,–,305-2
7,Integrated Gas,CO2eq * Mt,1.0,1.1,1.80,2.00,1.6,None,opd-scope-1-2-ghg-emissions,Scope 2 emissions (market-based method),None,CCE-4,–,305-2
8,Downstream,CO2eq * Mt,7.1,8.0,7.70,9.20,8.4,None,opd-scope-1-2-ghg-emissions,Scope 2 emissions (market-based method),None,CCE-4,–,305-2
9,Other,CO2eq * Mt,0.1,0.2,0.20,0.23,1.3,None,opd-scope-1-2-ghg-emissions,Scope 2 emissions (market-based method),None,CCE-4,–,305-2
10,Scope 2 emissions (location-based method),CO2eq * Mt,10.0,12.0,11.00,13.00,n/c,None,opd-scope-1-2-ghg-emissions,Scope 2 emissions (location-based method),None,None,None,None
11,Upstream,CO2eq * Mt,0.8,1.2,1.20,1.30,n/c,None,opd-scope-1-2-ghg-emissions,Scope 2 emissions (location-based method),None,CCE-4,–,305-2
12,Integrated Gas,CO2eq * Mt,1.7,1.8,1.80,2.00,n/c,None,opd-scope-1-2-ghg-emissions,Scope 2 emissions (location-based method),None,CCE-4,–,305-2
13,Downstream,CO2eq * Mt,7.5,8.3,7.60,9.50,n/c,None,opd-scope-1-2-ghg-emissions,Scope 2 emissions (location-based method),None,CCE-4,–,305-2
14,Other,million tonnes CO2e,0.2,0.2,0.25,0.20,n/c,None,opd-scope-1-2-ghg-emissions,Scope 2 emissions (location-based method),None,CCE-4,–,305-2
15,n/c - not collected,None,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None,None

opd-scope-1-2-ghg-emissions
[]
[]
crop_sheet
71 x 12
21 x 11
['2020', '2019', '2018', '2017', '2016']
process_topic 6: setting topic from title opd-scope-3-greenhosue-gas-em
find units: nothing found for Category 1
ingest_file: processing 7
worksheet opd-scope-3-greenhosue-gas-em: unknown topic Third-party products [C]
process_topic 7: setting category Third-party products [C]
process_topic 7: setting units million tonnes CO2e
-bold
sub_score = -2
process_category 7: processing variable
process_var 7: using units CO2eq * Mt
process_categories: unknown color 00000000 at row 8: Fuel and energy-related activities (not included in Scope 1 or Scope 2) (Category 3)
+bold
+indent
sub_score = 2
process_category 8: processing variable
process_var 8: using units CO2eq * Mt
process_categories: unknown color 00000000 at row 9: Third-party power [D]
-bold
sub_score = -2
process_category 9: processing variable
process_var 9: using units CO2eq * Mt
process_categories: unknown color 00000000 at row 10: Use of sold products (Category 11)
+bold
+indent
sub_score = 2
process_categories 10: segmenting Use::sold products (Category 11)
process_var 10: using units CO2eq * Mt
process_var 11: using units million tonnes CO2e
+indent
sub_score = 1
process_var 12: using units million tonnes CO2e
process_var 13: using units million tonnes CO2e
process_segmentation: stack at end = [<Cell 'opd-scope-3-greenhosue-gas-em'.K10>, <Cell 'opd-scope-3-greenhosue-gas-em'.A11>]
wb(6) dataframe

/opt/app-root/lib64/python3.8/site-packages/pandas/core/frame.py:5238: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(

,Variable,Unit,2020,2019,2018,2017,2016,Notes,Topic,Category,Segmentation,IPIECA,SASB,GRI
0,Purchased goods and services (Category 1),None,NaN,NaN,NaN,NaN,NaN,None,opd-scope-3-greenhosue-gas-em,None,None,None,None,None
1,Third-party products [C],CO2eq * Mt,147.0,178.0,190.0,186.0,172.0,None,opd-scope-3-greenhosue-gas-em,Use,None,CCE-4,–,305-3
2,Fuel and energy-related activities (not includ...,CO2eq * Mt,NaN,NaN,NaN,NaN,NaN,None,opd-scope-3-greenhosue-gas-em,Fuel and energy-related activities (not includ...,None,None,None,None
3,Third-party power [D],CO2eq * Mt,103.0,102.0,96.0,87.0,89.0,None,opd-scope-3-greenhosue-gas-em,Fuel and energy-related activities (not includ...,None,CCE-4,–,305-3
4,Use of sold products (Category 11),CO2eq * Mt,NaN,NaN,NaN,NaN,NaN,None,opd-scope-3-greenhosue-gas-em,Use,sold products (Category 11),None,None,None
5,Use of sold products [E] [F],million tonnes CO2e,1054.0,1271.0,1351.0,1318.0,1284.0,None,opd-scope-3-greenhosue-gas-em,Use,sold products (Category 11),CCE-4,–,305-3
6,Own production [G],million tonnes CO2e,452.0,564.0,594.0,582.0,593.0,None,opd-scope-3-greenhosue-gas-em,Use,sold products (Category 11) ::Use of sold prod...,CCE-4,–,305-3
7,Third-party products [H],million tonnes CO2e,602.0,708.0,757.0,736.0,681.0,None,opd-scope-3-greenhosue-gas-em,Use,sold products (Category 11) ::Use of sold prod...,CCE-4,–,305-3
8,[A] The values in this table reflect estimated...,None,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None
9,[B] Estimated emissions from other Scope 3 cat...,None,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None
10,[C] This category includes estimated well-to-t...,None,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None
11,[D] This category includes estimated well-to-t...,None,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None
12,[E] This category reflects estimated emissions...,None,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None
13,[F] This category includes estimated emissions...,None,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None
14,[G] This category includes estimated emissions...,None,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None
15,[H] Estimated as the difference between own pr...,None,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None

opd-scope-3-greenhosue-gas-em
[]
[]
crop_sheet
66 x 12
9 x 11
['2020', '2019', '2018', '2017', '2016']
process_topic 6: setting topic from title opd-other-greenhouse-gas-data
ingest_file: processing 7
worksheet opd-other-greenhouse-gas-data: unknown topic CO2 captured and stored
process_topic 7: setting category CO2 captured and stored
process_topic 7: setting units million tonnes
sub_score = 0
process_category 7: processing variable
process_var 7: using units mt
process_var 8: using units million tonnes
wb(7) dataframe

/opt/app-root/lib64/python3.8/site-packages/pandas/core/frame.py:5238: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(

,Variable,Unit,2020,2019,2018,2017,2016,Notes,Topic,Category,Segmentation,IPIECA,SASB,GRI
0,Carbon capture and storage and CO2 transfer out,None,NaN,NaN,NaN,NaN,NaN,None,opd-other-greenhouse-gas-data,None,None,None,None,None
1,CO2 captured and stored,mt,0.94,1.13,1.07,1.14,1.11,None,opd-other-greenhouse-gas-data,CO2 captured and stored,None,CCE-3,EM-EP-530a.1,305-5
2,CO2 transferred out [A],million tonnes,0.30,0.43,0.46,0.45,0.58,None,opd-other-greenhouse-gas-data,CO2 captured and stored,None,CCE-3,EM-EP-530a.1,305-5
3,[A] CO2 captured and transferred to another or...,None,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None

opd-other-greenhouse-gas-data
[]
[]
crop_sheet
66 x 12
9 x 11
['2020', '2019', '2018', '2017', '2016']
process_topic 6: setting topic from title opd-carbon-offsets
process_topic 6: setting category Total carbon offsets retired
process_topic 6: setting units million tonnes
+bold
+indent
sub_score = 2
process_categories 6: segmenting Total carbon offsets retired::carbon offsets retired
process_var 6: using units mt
process_var 7: using units million tonnes
process_var 8: using units million tonnes
process_segmentation: stack at end = [<Cell 'opd-carbon-offsets'.K6>]
wb(8) dataframe

/opt/app-root/lib64/python3.8/site-packages/pandas/core/frame.py:5238: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(

,Variable,Unit,2020,2019,2018,2017,2016,Notes,Topic,Category,Segmentation,IPIECA,SASB,GRI
0,Total carbon offsets retired,mt,NaN,NaN,None,None,None,None,opd-carbon-offsets,Total carbon offsets retired,carbon offsets retired,None,None,None
1,Included in Net Carbon Footprint,million tonnes,3.9,2.2,0,0,0,None,opd-carbon-offsets,Total carbon offsets retired,carbon offsets retired,–,EM-EP-530a.1,305-5
2,Other carbon offsets,million tonnes,0.4,0.5,n/c,n/c,n/c,None,opd-carbon-offsets,Total carbon offsets retired,carbon offsets retired,–,EM-EP-530a.1,305-5
3,n/c - not collected,None,NaN,NaN,None,None,None,None,None,None,None,None,None,None

opd-carbon-offsets
[]
[]
crop_sheet
78 x 12
22 x 11
['2020', '2019', '2018', '2017', '2016']
process_topic 6: setting topic from title opd-energy-use
process_topic 6: setting category Total energy use
process_topic 6: setting units million MWh
+bold
+indent
sub_score = 2
process_categories 6: segmenting Total energy use::energy use
process_var 6: using units TWh
process_var 7: using units million MWh
sub_score = 0
sub_score = 0
process_var 8: using units million MWh
sub_score = 0
sub_score = 0
process_var 9: using units million MWh
sub_score = 0
sub_score = 0
process_var 10: using units million MWh
sub_score = 0
sub_score = 0
process_var 11: using units million MWh
-bold
sub_score = -2
-bold
sub_score = -2
pop at row 12: segmentation_stack now []
process_categories: unknown color 00000000 at row 12: Consumption of energy from renewable sources
+bold
+indent
sub_score = 2
process_categories 12: segmenting Consumption::energy from renewable sources
process_var 12: using units TWh
process_var 13: using units million MWh
sub_score = 0
sub_score = 0
process_var 14: using units million MWh
sub_score = 0
sub_score = 0
process_var 15: using units million MWh
sub_score = 0
sub_score = 0
process_var 16: using units million MWh
-bold
sub_score = -2
-bold
sub_score = -2
pop at row 17: segmentation_stack now []
process_categories: unknown color 00000000 at row 17: Energy intensity
+bold
+indent
sub_score = 2
process_category 17: processing variable
process_var 17: using units TWh
process_categories: unknown color 00000000 at row 18: Upstream excl. oil sands, LNG and GTL
sub_score = 0
process_category 18: processing variable
process_var 18: using units GJ * production / t
process_categories: unknown color 00000000 at row 19: Refineries: Refinery Energy Index [A]
sub_score = 0
process_category 19: processing variable
process_var 19: using units Share
process_var 20: using units GJ/ tonne production
wb(9) dataframe

/opt/app-root/lib64/python3.8/site-packages/pandas/core/frame.py:5238: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(

,Variable,Unit,2020,2019,2018,2017,2016,Notes,Topic,Category,Segmentation,IPIECA,SASB,GRI
0,Total energy use,TWh,240.00,264,268,269,266,None,opd-energy-use,Energy intensity,energy use,CCE-6,–,302-1
1,Own energy generated,million MWh,219.00,236,240,241,238,None,opd-energy-use,Total energy use,energy use,CCE-6,–,302-1
2,Imported electricity,million MWh,22.00,27,26,26,23,None,opd-energy-use,Total energy use,energy use,CCE-6,–,302-1
3,Imported steam and heat,million MWh,17.00,17,15,17,20,None,opd-energy-use,Total energy use,energy use,CCE-6,–,302-1
4,Exported electricity,million MWh,12.00,10,10,10,8,None,opd-energy-use,Total energy use,energy use,CCE-6,–,302-1
5,Exported steam and heat,million MWh,5.00,6,3,5,7,None,opd-energy-use,Total energy use,energy use,CCE-6,–,302-1
6,Consumption of energy from renewable sources,TWh,NaN,None,None,None,None,None,opd-energy-use,Consumption,energy from renewable sources,None,None,None
7,Renewable sources - onsite energy generation c...,million MWh,0.01,n/c,n/c,n/c,n/c,None,opd-energy-use,Consumption,energy from renewable sources,CCE-6,–,302-1
8,Renewable sources - purchased electricity,million MWh,1.80,1.5,0.03,0.03,0.03,None,opd-energy-use,Consumption,energy from renewable sources,CCE-6,–,302-1
9,Renewable sources - purchased steam,million MWh,0.00,n/c,n/c,n/c,n/c,None,opd-energy-use,Consumption,energy from renewable sources,CCE-6,–,302-1
10,Renewable sources - electricity exported to grid,million MWh,0.40,0.4,n/c,n/c,n/c,None,opd-energy-use,Consumption,energy from renewable sources,CCE-6,–,302-1
11,Energy intensity,TWh,NaN,None,None,None,None,None,opd-energy-use,Energy intensity,None,None,None,None
12,"Upstream excl. oil sands, LNG and GTL",GJ * production / t,1.14,1.07,1.06,1.05,1.02,None,opd-energy-use,Energy intensity,None,CCE-6,–,302-1
13,Refineries: Refinery Energy Index [A],Share,96.10,94.4,94.3,94.8,95.4,None,opd-energy-use,Energy intensity,None,CCE-6,–,302-1
14,Chemical plants: chemicals energy intensity,GJ/ tonne production,18.70,19.7,18.3,17.6,18.9,None,opd-energy-use,Energy intensity,None,CCE-6,–,302-1
15,n/c - not collected,None,NaN,None,None,None,None,None,None,None,None,None,None,None
16,"[A] Data are indexed to 2002, based on Solomon...",None,NaN,None,None,None,None,None,None,None,None,None,None,None

opd-energy-use
[]
[]
crop_sheet
84 x 11
9 x 11
['2020', '2019', '2018', '2017', '2016']
process_topic 6: setting topic from title sef-sales-gas-power
process_topic 6: setting units from var: tBtu
process_topic 6: setting category Gas (tBtu)
process_topic 6: setting units tBtu
sub_score = 0
process_category 6: processing variable
process_var 6: found species or units in Gas (tBtu)
Inferring/composing units: tBtu
process_var 7: found species or units in Power (TWh)
Inferring/composing units: TWh
changing units from category: tBtu to TWh
wb(10) dataframe

/opt/app-root/lib64/python3.8/site-packages/pandas/core/frame.py:5238: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(

,Variable,Unit,2020,2019,2018,2017,2016,Notes,Topic,Category,Segmentation,IPIECA,SASB,GRI
0,Gas (tBtu),tBtu,3009.0,2720.0,3246.0,3276.0,3298.0,None,sef-sales-gas-power,Gas (tBtu),None,None,None,None
1,Power (TWh),TWh,252.0,207.0,179.0,165.0,169.0,None,sef-sales-gas-power,Gas (tBtu),None,None,None,None
2,"In certain cases, prior to 2019, it was not po...",None,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None
3,"[A] From 2019, gas and power sales volumes are...",None,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None

sef-sales-gas-power
2021-Data-Centerv1.xlsx
[]
[]
crop_sheet
306 x 4
44 x 4
['2018', '2019', '2020']
process_topic 2: setting topic from title energy
process_categories: new category set at row 3: Owned Generation Capacity (MW) (color = FF40B14B)
process_categories 3: setting units from var: MW
process_category 3: processing variable
process_var 3: found species or units in Owned Generation Capacity (MW)
Inferring/composing units: MW
+bold
+halign
sub_score = 2
process_categories 4: segmenting Total Owned Nameplate Generation Capacity::Owned Nameplate Generation Capacity
process_var 4: using units MW
process_var 5: propagating units MW
sub_score = 0
sub_score = 0
process_var 6: propagating units MW
sub_score = 0
sub_score = 0
process_var 7: propagating units MW
sub_score = 0
sub_score = 0
process_var 8: propagating units MW
sub_score = 0
sub_score = 0
process_var 9: propagating units MW
sub_score = 0
sub_score = 0
process_var 10: propagating units MW
sub_score = 0
sub_score = 0
process_var 11: propagating units MW
sub_score = 0
sub_score = 0
process_var 12: propagating units MW
pop at row 13: segmentation_stack now []
process_categories: new category set at row 13: Owned Net Generation (MWh) (color = FF40B14B)
process_categories 13: setting units from var: MWh
process_category 13: processing variable
process_var 13: found species or units in Owned Net Generation (MWh)
Inferring/composing units: MWh
+bold
+halign
sub_score = 2
process_categories 14: segmenting Total Owned Net Generation::Owned Net Generation
process_var 14: using units MWh
process_var 15: propagating units MWh
sub_score = 0
sub_score = 0
process_var 16: propagating units MWh
sub_score = 0
sub_score = 0
process_var 17: propagating units MWh
sub_score = 0
sub_score = 0
process_var 18: propagating units MWh
sub_score = 0
sub_score = 0
process_var 19: propagating units MWh
sub_score = 0
sub_score = 0
process_var 20: propagating units MWh
sub_score = 0
sub_score = 0
process_var 21: propagating units MWh
sub_score = 0
sub_score = 0
process_var 22: propagating units MWh
pop at row 23: segmentation_stack now []
process_categories: new category set at row 23: Purchased Net Generation (MWh) (color = FF40B14B)
process_categories 23: setting units from var: MWh
process_category 23: processing variable
process_var 23: found species or units in Purchased Net Generation (MWh)
Inferring/composing units: MWh
+bold
+halign
sub_score = 2
process_categories 24: segmenting Total Purchased Generation ::Purchased Generation
process_var 24: using units MWh
process_var 25: propagating units MWh
sub_score = 0
sub_score = 0
process_var 26: propagating units MWh
sub_score = 0
sub_score = 0
process_var 27: propagating units MWh
sub_score = 0
sub_score = 0
process_var 28: propagating units MWh
sub_score = 0
sub_score = 0
process_var 29: propagating units MWh
sub_score = 0
sub_score = 0
process_var 30: propagating units MWh
sub_score = 0
sub_score = 0
process_var 31: propagating units MWh
sub_score = 0
sub_score = 0
process_var 32: propagating units MWh
pop at row 33: segmentation_stack now []
process_categories: new category set at row 33: Total Net Generation (MWh) (color = FF40B14B)
process_categories 33: setting units from var: MWh
process_categories 33: segmenting Total Net Generation (MWh)::Net Generation (MWh)
process_var 33: found species or units in Total Net Generation (MWh)
Inferring/composing units: MWh
process_var 34: propagating units MWh
+bold
+halign
sub_score = 2
process_var 35: propagating units MWh
sub_score = 0
sub_score = 0
process_var 36: propagating units MWh
sub_score = 0
sub_score = 0
process_var 37: propagating units MWh
sub_score = 0
sub_score = 0
process_var 38: propagating units MWh
sub_score = 0
sub_score = 0
process_var 39: propagating units MWh
sub_score = 0
sub_score = 0
process_var 40: propagating units MWh
sub_score = 0
sub_score = 0
process_var 41: propagating units MWh
sub_score = 0
sub_score = 0
process_var 42: propagating units MWh
pop at row 43: segmentation_stack now [<Cell 'Energy'.H33>]
pop at row 43: segmentation_stack now []
process_categories: new category set at row 43: Facility Energy Performance (color = FF40B14B)
process_category 43: processing variable
process_var 43: propagating units None
process_var 44: found species or units in Facility energy consumption (KWh)
Inferring/composing units: kWh
changing units from category: None to kWh
wb(0) dataframe

/opt/app-root/lib64/python3.8/site-packages/pandas/core/frame.py:5238: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(

,Variable,2018,2019,2020,Notes,Topic,Category,Segmentation,Unit
0,Energy,None,NaN,NaN,None,energy,None,None,None
1,Owned Generation Capacity (MW),None,NaN,NaN,None,energy,Total Owned Nameplate Generation Capacity,None,MW
2,Total Owned Nameplate Generation Capacity,25447,25490.0,25490.0,None,energy,Total Owned Nameplate Generation Capacity,Owned Nameplate Generation Capacity,MW
3,Coal,14056,13230.0,13230.0,None,energy,Total Owned Nameplate Generation Capacity,Owned Nameplate Generation Capacity,MW
4,Natural Gas,7809,7678.0,7678.0,None,energy,Total Owned Nameplate Generation Capacity,Owned Nameplate Generation Capacity,MW
5,Nuclear,2278,2288.0,2288.0,None,energy,Total Owned Nameplate Generation Capacity,Owned Nameplate Generation Capacity,MW
6,Total Renewable Energy Resources,1304,2294.0,2294.0,None,energy,Total Owned Nameplate Generation Capacity,Owned Nameplate Generation Capacity,MW
7,Hydroelectric,853,853.0,853.0,None,energy,Total Owned Nameplate Generation Capacity,Owned Nameplate Generation Capacity,MW
8,Solar,190,229.0,229.0,None,energy,Total Owned Nameplate Generation Capacity,Owned Nameplate Generation Capacity,MW
9,Wind,261,1212.0,1212.0,None,energy,Total Owned Nameplate Generation Capacity,Owned Nameplate Generation Capacity,MW
10,Other Renewable,0,0.0,0.0,None,energy,Total Owned Nameplate Generation Capacity,Owned Nameplate Generation Capacity,MW
11,Owned Net Generation (MWh),None,NaN,NaN,None,energy,Total Owned Net Generation,None,MWh
12,Total Owned Net Generation,95667918,86252164.0,76459982.0,None,energy,Total Owned Net Generation,Owned Net Generation,MWh
13,Coal,63001348,52275888.0,38184607.0,None,energy,Total Owned Net Generation,Owned Net Generation,MWh
14,Natural Gas,13318616,13953693.0,14175228.0,None,energy,Total Owned Net Generation,Owned Net Generation,MWh
15,Nuclear,17610815,16157850.0,18268937.0,None,energy,Total Owned Net Generation,Owned Net Generation,MWh
16,Total Renewable Energy Resources,1737139,3864733.0,5831210.0,None,energy,Total Owned Net Generation,Owned Net Generation,MWh
17,Hydroelectric,871669,843360.0,1121235.0,None,energy,Total Owned Net Generation,Owned Net Generation,MWh
18,Solar,273057,249440.0,535200.0,None,energy,Total Owned Net Generation,Owned Net Generation,MWh
19,Wind,592413,2771933.0,4174775.0,None,energy,Total Owned Net Generation,Owned Net Generation,MWh
20,Other Renewable,0,0.0,0.0,None,energy,Total Owned Net Generation,Owned Net Generation,MWh
21,Purchased Net Generation (MWh),None,NaN,NaN,None,energy,Total Purchased Generation,None,MWh
22,Total Purchased Generation,/,20130649.0,18069220.0,None,energy,Total Purchased Generation,Purchased Generation,MWh
23,Coal,/,5441084.0,4410801.0,None,energy,Total Purchased Generation,Purchased Generation,MWh
24,Natural Gas,/,5089151.0,4355732.0,None,energy,Total Purchased Generation,Purchased Generation,MWh
25,Nuclear,/,0.0,0.0,None,energy,Total Purchased Generation,Purchased Generation,MWh
26,Total Renewable Energy Resources,/,9600414.0,9302687.0,None,energy,Total Purchased Generation,Purchased Generation,MWh
27,Hydroelectric,/,174893.0,234869.0,None,energy,Total Purchased Generation,Purchased Generation,MWh
28,Solar,/,12512.0,11825.0,None,energy,Total Purchased Generation,Purchased Generation,MWh
29,Wind,/,9413009.0,9055993.0,None,energy,Total Purchased Generation,Purchased Generation,MWh
30,Other Renewable,/,0.0,0.0,None,energy,Total Purchased Generation,Purchased Generation,MWh
31,Total Net Generation (MWh),None,NaN,NaN,None,energy,Total Net Generation (MWh),Net Generation (MWh),MWh
32,Total Net Generation for the Data Year,105653095,95852578.0,94529102.0,None,energy,Total Net Generation (MWh),Net Generation (MWh),MWh
33,Coal,63001348,52275888.0,42595308.0,None,energy,Total Net Generation (MWh),Net Generation (MWh)::Total Net Generation for...,MWh
34,Natural Gas,13318616,13953693.0,18530960.0,None,energy,Total Net Generation (MWh),Net Generation (MWh)::Total Net Generation for...,MWh
35,Nuclear,17610815,16157850.0,18268937.0,None,energy,Total Net Generation (MWh),Net Generation (MWh)::Total Net Generation for...,MWh
36,Total Renewable Generation,11722316,13465147.0,15133897.0,None,energy,Total Net Generation (MWh),Net Generation (MWh)::Total Net Generation for...,MWh
37,Hydro,1160659,1018253.0,1356104.0,None,energy,Total Net Generation (MWh),Net Generation (MWh)::Total Net Generation for...,MWh
38,Solar,286105,261952.0,547025.0,None,energy,Total Net Generation (MWh),Net Generation (MWh)::Total Net Generation for...,MWh
39,Wind,10275552,12184942.0,13230768.0,None,energy,Total Net Generation (MWh),Net Generation (MWh)::Total Net Generation for...,MWh
40,Other,0,0.0,0.0,None,energy,Total Net Generation (MWh),Net Generation (MWh)::Total Net Generation for...,MWh
42,Facility energy consumption (KWh),151853197,135853591.0,125005335.0,None,energy,Facility Energy Performance,None,kWh

Energy
[]
[]
crop_sheet
16 x 4
16 x 4
['2018', '2019', '2020']
process_topic 2: setting topic from title emissions
find units: nothing found for From AEP owned facilities only
process_categories: new category set at row 3: Scope 1 emissions breakdown (color = FFBDBDBD)
process_category 3: processing variable
process_var 3: propagating units None
process_categories: unknown color FFE5E5E5 at row 4: CO2 (Metric Tons)
find units: nothing found for Metric Tons
sub_score = 0
process_category 4: processing variable
find units: nothing found for Metric Tons
process_var 4: unhandled ( Metric Tons )
process_categories: unknown color FFE5E5E5 at row 5: SO2 (Lbs)
process_categories 5: setting units from var: Lbs
sub_score = 0
process_category 5: processing variable
process_var 5: found species or units in SO2 (Lbs)
Inferring/composing units: SO2 * lb
changing units from category: None to SO2 * lb
process_categories: unknown color FFE5E5E5 at row 6: SO2 (MT)
process_categories 6: setting units from var: MT
sub_score = 0
process_category 6: processing variable
process_var 6: found species or units in SO2 (MT)
Inferring/composing units: SO2 * mt
changing units from category: None to SO2 * mt
process_categories: unknown color FFE5E5E5 at row 7: NOx (Lbs)
process_categories 7: setting units from var: Lbs
sub_score = 0
process_category 7: processing variable
process_var 7: found species or units in NOx (Lbs)
Inferring/composing units: lb * nox
changing units from category: None to lb * nox
process_categories: unknown color FFE5E5E5 at row 8: NOx (MT)
process_categories 8: setting units from var: MT
sub_score = 0
process_category 8: processing variable
process_var 8: found species or units in NOx (MT)
Inferring/composing units: mt * nox
changing units from category: None to mt * nox
process_categories: unknown color FFE5E5E5 at row 9: Mercury (Lbs)
process_categories 9: setting units from var: Lbs
sub_score = 0
process_category 9: processing variable
process_var 9: found species or units in Mercury (Lbs)
Inferring/composing units: Mercury * lb
changing units from category: None to Mercury * lb
process_categories: unknown color FFE5E5E5 at row 10: Mercury (kg)
process_categories 10: setting units from var: kg
process_category 10: processing variable
process_var 10: found species or units in Mercury (kg)
Inferring/composing units: Mercury * kg
changing units from category: None to Mercury * kg
process_categories: new category set at row 11: Scope 1 Emissions GHG CO2e (color = FFBDBDBD)
process_category 11: processing variable
process_var 11: propagating units None
process_categories: unknown color FFE5E5E5 at row 12: Total Scope 1 emissions CO2e (Metric Tons)
find units: nothing found for Metric Tons
sub_score = 0
process_category 12: processing variable
find units: nothing found for Metric Tons
process_var 12: unhandled ( Metric Tons )
process_categories: unknown color FFE5E5E5 at row 13: CO2 (MT)
process_categories 13: setting units from var: MT
sub_score = 0
process_category 13: processing variable
process_var 13: found species or units in CO2 (MT)
Inferring/composing units: CO2 * mt
changing units from category: None to CO2 * mt
process_categories: unknown color FFE5E5E5 at row 14: CH4 (MT CO2e)
process_categories 14: setting units from var: MT CO2e
sub_score = 0
process_category 14: processing variable
process_var 14: found species or units in CH4 (MT CO2e)
Inferring/composing units: CH4 * CO2eq * MT
changing units from category: None to CH4 * CO2eq * MT
process_categories: unknown color FFE5E5E5 at row 15: N2O (MT CO2e)
process_categories 15: setting units from var: MT CO2e
sub_score = 0
process_category 15: processing variable
process_var 15: found species or units in N2O (MT CO2e)
Inferring/composing units: CO2eq * MT * N2O
changing units from category: None to CO2eq * MT * N2O
process_var 16: found species or units in SF6 (MT CO2e)
Inferring/composing units: CO2eq * MT * SF6
changing units from category: None to CO2eq * MT * SF6
wb(1) dataframe

/opt/app-root/lib64/python3.8/site-packages/pandas/core/frame.py:5238: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(

,Variable,2018,2019,2020,Notes,Topic,Category,Segmentation,Unit
0,Emissions\n(From AEP owned facilities only),NaN,NaN,NaN,None,emissions,None,None,None
3,SO2 (Lbs),137291386.0,1.044666e+08,6.552173e+07,None,emissions,Scope 1 emissions breakdown,None,SO2 * lb
4,SO2 (MT),62274.0,4.738500e+04,2.972000e+04,None,emissions,Scope 1 emissions breakdown,None,SO2 * mt
5,NOx (Lbs),99830243.0,7.880906e+07,5.288917e+07,None,emissions,Scope 1 emissions breakdown,None,lb * nox
6,NOx (MT),45282.0,3.574700e+04,2.399000e+04,None,emissions,Scope 1 emissions breakdown,None,mt * nox
7,Mercury (Lbs),395.0,3.110000e+02,1.950000e+02,None,emissions,Scope 1 emissions breakdown,None,Mercury * lb
8,Mercury (kg),179.0,1.411000e+02,8.860000e+01,None,emissions,Scope 1 emissions breakdown,None,Mercury * kg
11,CO2 (MT),74661649.0,6.415726e+07,4.880782e+07,None,emissions,Scope 1 Emissions GHG CO2e,None,CO2 * mt

Emissions
[]
[]
crop_sheet
28 x 4
28 x 4
['2018', '2019', '2020']
process_topic 2: setting topic from title water
process_categories: new category set at row 3: Total Water Withdrawal (color = FFB9DDFC)
find units: nothing found for Comanche Plant
process_categories 3: segmenting Total Water Withdrawal::Water Withdrawal
process_var 3: propagating units None
find units: nothing found for Gallons/day
process_var 4: unhandled ( Million Gallons/day )
sub_score = 0
sub_score = 0
find units: nothing found for Gallons/ year
process_var 5: unhandled ( Million Gallons/ year )
sub_score = 0
sub_score = 0
find units: nothing found for Liters/year
process_var 6: unhandled ( Billions of Liters/year )
sub_score = 0
sub_score = 0
process_var 7: found species or units in Total Water Withdrawal (Millions of m3/year)
Inferring/composing units: Gl / a
changing units from category: None to Gl / a
pop at row 8: segmentation_stack now []
process_categories: new category set at row 8: Water Withdrawal by Source Breakdown (color = FFB9DDFC)
process_categories 8: segmenting Water Withdrawal::Source Breakdown
process_var 8: propagating units None
find units: nothing found for Gallons per day
process_var 9: unhandled ( Million Gallons per day )
sub_score = 0
sub_score = 0
find units: nothing found for Gallons/ year
process_var 10: unhandled ( Million Gallons/ year )
sub_score = 0
sub_score = 0
process_var 11: found species or units in Surface Water Withdrawal (m3/year)
Inferring/composing units: kl / a
changing units from category: None to kl / a
sub_score = 0
sub_score = 0
process_var 12: found species or units in Groundwater (m3/year)
Inferring/composing units: kl / a
changing units from category: None to kl / a
sub_score = 0
sub_score = 0
process_var 13: found species or units in Other (m3/year)
Inferring/composing units: kl / a
changing units from category: None to kl / a
pop at row 14: segmentation_stack now []
process_categories: new category set at row 14: Water Discharge (color = FFB9DDFC)
process_category 14: processing variable
process_var 14: propagating units None
process_categories: unknown color FFE2F2FE at row 15: Total Water Discharge (Million Gallons per day)
find units: nothing found for Gallons per day
sub_score = 0
process_category 15: processing variable
find units: nothing found for Gallons per day
process_var 15: unhandled ( Million Gallons per day )
process_categories: unknown color FFE2F2FE at row 16: Total Water Discharge (Million Gallons/ year)
find units: nothing found for Gallons/ year
sub_score = 0
process_category 16: processing variable
find units: nothing found for Gallons/ year
process_var 16: unhandled ( Million Gallons/ year )
process_categories: unknown color FFE2F2FE at row 17: Total Water Discharge (Billions of Liters/year)
find units: nothing found for Liters/year
sub_score = 0
process_category 17: processing variable
find units: nothing found for Liters/year
process_var 17: unhandled ( Billions of Liters/year )
process_categories: unknown color FFE2F2FE at row 18: Total Water Discharge (m3/year)
process_categories 18: setting units from var: m3/year
process_category 18: processing variable
process_var 18: found species or units in Total Water Discharge (m3/year)
Inferring/composing units: kl / a
changing units from category: None to kl / a
process_categories: new category set at row 19: Water Consumption (color = FFB9DDFC)
process_category 19: processing variable
process_var 19: propagating units None
process_categories: unknown color FFE2F2FE at row 20: Total Water Consumption (Million Gallons per day)
find units: nothing found for Gallons per day
sub_score = 0
process_category 20: processing variable
find units: nothing found for Gallons per day
process_var 20: unhandled ( Million Gallons per day )
process_categories: unknown color FFE2F2FE at row 21: Total Water Consumption (Million Gallons/ year)
find units: nothing found for Gallons/ year
sub_score = 0
process_category 21: processing variable
find units: nothing found for Gallons/ year
process_var 21: unhandled ( Million Gallons/ year )
process_categories: unknown color FFE2F2FE at row 22: Total Water Consumption (billions of Liters/year)
find units: nothing found for Liters/year
sub_score = 0
process_category 22: processing variable
find units: nothing found for Liters/year
process_var 22: unhandled ( billions of Liters/year )
process_categories: unknown color FFE2F2FE at row 23: Total Water Consumption (m3/year)
process_categories 23: setting units from var: m3/year
process_category 23: processing variable
process_var 23: found species or units in Total Water Consumption (m3/year)
Inferring/composing units: kl / a
changing units from category: None to kl / a
process_categories: new category set at row 24: Water Intensity (color = FFB9DDFC)
process_category 24: processing variable
process_var 24: propagating units None
process_categories: unknown color FFE2F2FE at row 25: Consumptive Water use intensity (gallons/Net MWh)
process_categories 25: setting units from var: gallons/Net MWh
sub_score = 0
process_category 25: processing variable
process_var 25: found species or units in Consumptive Water use intensity (gallons/Net MWh)
Inferring/composing units: gal / MWh
changing units from category: None to gal / MWh
process_categories: unknown color FFE2F2FE at row 26: Consumptive Water use intensity (Billions of liters/Net MWh)
process_categories 26: setting units from var: Billions of liters/Net MWh
sub_score = 0
process_category 26: processing variable
process_var 26: found species or units in Consumptive Water use intensity (Billions of liters/Net MWh)
Inferring/composing units: kl / Wh
changing units from category: None to kl / Wh
process_categories: unknown color FFE2F2FE at row 27: Non- Consumptive Water use intensity (gallons/Net MWh)
process_categories 27: setting units from var: gallons/Net MWh
sub_score = 0
process_category 27: processing variable
process_var 27: found species or units in Non- Consumptive Water use intensity (gallons/Net MWh)
Inferring/composing units: gal / MWh
changing units from category: None to gal / MWh
process_var 28: found species or units in Non- Consumptive Water use intensity (Billions of liters/Net MWh)
Inferring/composing units: kl / Wh
changing units from category: None to kl / Wh
wb(2) dataframe

/opt/app-root/lib64/python3.8/site-packages/pandas/core/frame.py:5238: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(

,Variable,2018,2019,2020,Notes,Topic,Category,Segmentation,Unit
0,Water,NaN,NaN,NaN,None,water,None,None,None
5,Total Water Withdrawal (Millions of m3/year),5.773000e+03,5.506000e+03,5.569000e+03,None,water,Total Water Withdrawal,Water Withdrawal,Gl / a
9,Surface Water Withdrawal (m3/year)\n*excludes ...,5.763987e+09,5.498195e+09,5.562475e+09,None,water,Water Withdrawal,Source Breakdown,kl / a
10,Groundwater (m3/year),7.306941e+06,6.984231e+06,5.474566e+06,None,water,Water Withdrawal,Source Breakdown,kl / a
11,Other (m3/year) \n*Represents Comanche Plant W...,1.525092e+06,1.138772e+06,1.156019e+06,None,water,Water Withdrawal,Source Breakdown,kl / a

Water
[]
[]
crop_sheet
13 x 4
13 x 4
['2018', '2019', '2020']
process_topic 2: setting topic from title waste
process_categories: new category set at row 3: Facility Waste Generation (color = FFEEDCCA)
find units: nothing found for Waste data does not include waste streams from competitive portion of business
process_category 3: processing variable
process_var 3: propagating units None
process_categories: unknown color FFF2E8DE at row 4: Recycled Paper and Office Waste (Lbs)
process_categories 4: setting units from var: Lbs
sub_score = 0
process_category 4: processing variable
process_var 4: found species or units in Recycled Paper and Office Waste (Lbs)
Inferring/composing units: lb
changing units from category: None to lb
process_categories: unknown color FFF2E8DE at row 5: Recycled Scrap Metal Waste (Lbs)
process_categories 5: setting units from var: Lbs
sub_score = 0
process_category 5: processing variable
process_var 5: found species or units in Recycled Scrap Metal Waste (Lbs)
Inferring/composing units: lb
changing units from category: None to lb
process_categories: unknown color FFF2E8DE at row 6: Batteries Recycled (Lbs)
process_categories 6: setting units from var: Lbs
sub_score = 0
process_category 6: processing variable
process_var 6: found species or units in Batteries Recycled (Lbs)
Inferring/composing units: lb
changing units from category: None to lb
process_categories: unknown color FFF2E8DE at row 7: Electronic Waste Recycled( Lbs)
process_categories 7: setting units from var:  Lbs
sub_score = 0
process_category 7: processing variable
process_var 7: using units lb
process_categories: unknown color FFF2E8DE at row 8: Light Bulbs Recycled (Lbs)
process_categories 8: setting units from var: Lbs
sub_score = 0
process_category 8: processing variable
process_var 8: found species or units in Light Bulbs Recycled (Lbs)
Inferring/composing units: lb
changing units from category: None to lb
process_categories: unknown color FFF2E8DE at row 9: Recycled used Oil (Gallons)
process_categories 9: setting units from var: Gallons
process_category 9: processing variable
process_var 9: found species or units in Recycled used Oil (Gallons)
Inferring/composing units: gal
changing units from category: None to gal
process_categories: new category set at row 10: Coal Combustion Products (color = FFEEDCCA)
process_category 10: processing variable
process_var 10: propagating units None
process_categories: unknown color FFF2E8DE at row 11: Total CCPs Generated (Tons)
process_categories 11: setting units from var: Tons
sub_score = 0
process_category 11: processing variable
process_var 11: found species or units in Total CCPs Generated (Tons)
Inferring/composing units: ton
changing units from category: None to ton
process_categories: unknown color FFF2E8DE at row 12: Total CCPs Diverted from Landfill (Tons)
process_categories 12: setting units from var: Tons
sub_score = 0
process_category 12: processing variable
process_var 12: found species or units in Total CCPs Diverted from Landfill (Tons)
Inferring/composing units: ton
changing units from category: None to ton
process_var 13: propagating units None
wb(3) dataframe

/opt/app-root/lib64/python3.8/site-packages/pandas/core/frame.py:5238: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(

,Variable,2018,2019,2020,Notes,Topic,Category,Segmentation,Unit
0,Waste,NaN,NaN,NaN,None,waste,None,None,None
2,Recycled Paper and Office Waste (Lbs),382000.0,159300.00,67581.0,None,waste,Facility Waste Generation,None,lb
3,Recycled Scrap Metal Waste (Lbs),50500000.0,28950000.00,87031171.0,None,waste,Facility Waste Generation,None,lb
4,Batteries Recycled (Lbs),216000.0,169000.00,171545.0,None,waste,Facility Waste Generation,None,lb
5,Electronic Waste Recycled( Lbs),234000.0,430000.00,28183.0,None,waste,Facility Waste Generation,None,lb
6,Light Bulbs Recycled (Lbs),40200.0,44500.00,26727.0,None,waste,Facility Waste Generation,None,lb
7,Recycled used Oil (Gallons),400500.0,725500.00,273994.0,None,waste,Facility Waste Generation,None,gal
9,Total CCPs Generated (Tons),4846451.0,4123465.84,2908761.0,None,waste,Coal Combustion Products,None,ton

Waste
DPDHL-ESG-Statbook-2020-en.xlsx
[]
[]
crop_sheet
90 x 13
80 x 10
color = FF00B050
color = 00000000
color = 00000000
color = 00000000
color = 00000000
color = 00000000
color = 00000000
['2016', '2017', '2018', '2019', '2020']
worksheet Environmental Group Overview: unknown topic Environmental Data at Group levels
ingest_file: processing 2
worksheet Environmental Group Overview: unknown topic The Group's material topics: Carbon Efficiency & Climate Protection, Air Pollution
ingest_file: processing 3
worksheet Environmental Group Overview: unknown topic Key Performance Indicator : Carbon Efficiency Index
ingest_file: processing 4
worksheet Environmental Group Overview: unknown topic Relevant GRI-indicators: 103 and 305
ingest_file: processing 5
worksheet Environmental Group Overview: unknown topic Relevant SASB-codes: TR-AF-110a.1 - 3; 120a.1
ingest_file: processing 6
worksheet Environmental Group Overview: unknown topic Materiality analysis
ingest_file: processing 7
process_topic 7: no var text
new topic set at row 9: Carbon emissions (color = FF00B050)
process_topic 9: setting topic emissions
process_categories: new category set at row 10: KPI: Carbon Efficiency Index (CEX) (color = E2F0D9)
process_category 10: processing variable
find units: nothing found for CEX
process_var 10: unhandled ( CEX )
process_categories: unknown color 00000000 at row 11: CO2e emissions total
+bold
sub_score = 1
process_categories 11: segmenting CO2e emissions total::CO2e emissions
process_var 11: using units CO2eq * m * t
process_var 12: propagating units Number
sub_score = 0
sub_score = 0
process_var 13: propagating units Number
sub_score = 0
sub_score = 0
process_var 14: propagating units Number
pop at row 15: segmentation_stack now []
process_categories: new category set at row 15: CO2e emissions by modes (color = E2F0D9)
process_categories 15: segmenting CO2e emissions::modes
process_var 15: using units Share
process_var 16: propagating units Share
sub_score = 0
sub_score = 0
process_var 17: propagating units Share
sub_score = 0
sub_score = 0
process_var 18: propagating units Share
sub_score = 0
sub_score = 0
process_var 19: propagating units Share
pop at row 20: segmentation_stack now []
process_categories: new category set at row 20: CO2e intensity total (color = E2F0D9)
process_categories 20: segmenting CO2e intensity total::CO2e intensity
process_var 20: using units g / revenue
process_var 21: propagating units g / revenue
pop at row 22: segmentation_stack now []
process_categories: new topic set at row 22: Energy consumption total (Scopes 1 and 2) (color = FF00B050)
process_topic 22: setting topic Energy
process_topic 22: setting category Energy consumption total
process_topic 22: setting units m kWh
process_categories 22: segmenting Energy consumption::(Scopes 1 and 2)
process_var 22: using units kWh * m
process_var 23: propagating units kWh * m
process_var 24: propagating units kWh * m
+bold
sub_score = 1
process_var 25: propagating units kWh * m
sub_score = 0
sub_score = 0
process_var 26: propagating units kWh * m
sub_score = 0
sub_score = 0
process_var 27: propagating units kWh * m
sub_score = 0
sub_score = 0
process_var 28: propagating units kWh * m
sub_score = 0
sub_score = 0
process_var 29: propagating units kWh * m
sub_score = 0
sub_score = 0
find units: nothing found for LPG
process_var 30: unhandled ( LPG )
-bold
sub_score = -1
-bold
sub_score = -1
pop at row 31: segmentation_stack now [<Cell 'Environmental Group Overview'.K22>, <Cell 'Environmental Group Overview'.A23>]
sub_score = 0
sub_score = 0
process_var 31: propagating units kWh * m
+bold
sub_score = 1
process_var 32: propagating units kWh * m
sub_score = 0
sub_score = 0
find units: nothing found for CNG
process_var 33: unhandled ( CNG )
sub_score = 0
sub_score = 0
find units: nothing found for LNG
process_var 34: unhandled ( LNG )
pop at row 35: segmentation_stack now [<Cell 'Environmental Group Overview'.K22>, <Cell 'Environmental Group Overview'.A23>]
pop at row 35: segmentation_stack now [<Cell 'Environmental Group Overview'.K22>]
sub_score = 0
sub_score = 0
process_var 35: propagating units kWh * m
process_var 36: propagating units kWh * m
+indent
sub_score = 1
process_var 37: propagating units kWh * m
sub_score = 0
sub_score = 0
process_var 38: propagating units kWh * m
sub_score = 0
sub_score = 0
process_var 39: propagating units kWh * m
sub_score = -1
sub_score = -1
pop at row 40: segmentation_stack now [<Cell 'Environmental Group Overview'.K22>, <Cell 'Environmental Group Overview'.A35>]
sub_score = 0
sub_score = 0
process_var 40: propagating units kWh * m
sub_score = 0
sub_score = 0
process_var 41: propagating units kWh * m
sub_score = 0
sub_score = 0
process_var 42: propagating units kWh * m
sub_score = 0
sub_score = 0
process_var 43: propagating units kWh * m
sub_score = 0
sub_score = 0
process_var 44: propagating units kWh * m
sub_score = 0
sub_score = 0
find units: nothing found for LPG
process_var 45: unhandled ( LPG )
pop at row 46: segmentation_stack now [<Cell 'Environmental Group Overview'.K22>]
pop at row 46: segmentation_stack now []
process_categories: new topic set at row 46: Local air pollutants (Scope 1) (color = FF00B050)
process_topic 46: setting category Local air pollutants
process_topic 46: setting units t
process_category 46: processing variable
process_var 46: using units t
process_categories: new category set at row 47: Mono-nitrogen oxides (NOx) total (color = E2F0D9)
process_categories 47: setting units from var: NOx
process_categories 47: segmenting Mono-nitrogen oxides (NOx) total::Mono-nitrogen oxides (NOx)
process_var 47: found species or units in Mono-nitrogen oxides (NOx) total
Inferring/composing units: nox
process_var 48: propagating units nox
sub_score = 0
sub_score = 0
process_var 49: propagating units nox
pop at row 50: segmentation_stack now []
process_categories: new category set at row 50: Sulfur dioxide (SO2) total (color = E2F0D9)
process_categories 50: setting units from var: SO2
process_categories 50: segmenting Sulfur dioxide (SO2) total::Sulfur dioxide (SO2)
process_var 50: found species or units in Sulfur dioxide (SO2) total
Inferring/composing units: SO2
process_var 51: propagating units SO2
sub_score = 0
sub_score = 0
process_var 52: propagating units SO2
pop at row 53: segmentation_stack now []
process_categories: new category set at row 53: Particulate matter (PM10) total (color = E2F0D9)
process_categories 53: setting units from var: PM10
process_categories 53: segmenting Particulate matter (PM10) total::Particulate matter (PM10)
process_var 53: found species or units in Particulate matter (PM10) total
Inferring/composing units: PM10
process_var 54: propagating units PM10
sub_score = 0
sub_score = 0
process_var 55: propagating units PM10
pop at row 56: segmentation_stack now []
process_categories: new topic set at row 56: Sites with ISO certifications (color = FF00B050)
process_topic 56: setting category Sites with ISO certifications
process_topic 56: setting units Share
process_category 56: processing variable
process_var 56: using units Share
process_categories: new category set at row 57: Sites total (color = E2F0D9)
process_categories 57: segmenting Sites total::Sites
process_var 57: using units Number
process_var 58: using units No.
+bold
+indent
sub_score = 2
process_var 59: using units No.
sub_score = 0
sub_score = 0
process_var 60: using units No.
sub_score = 0
sub_score = 0
process_var 61: using units No.
pop at row 62: segmentation_stack now [<Cell 'Environmental Group Overview'.K57>]
pop at row 62: segmentation_stack now []
process_categories: new topic set at row 62: OTHER ENVIRONMENTAL DATA (color = D0CECE)
process_topic 62: setting topic OTHER
ingest_file: processing 66
worksheet Environmental Group Overview: unknown topic Scope 2 total
process_topic 66: setting category Scope 2 total
process_topic 66: setting units m t CO2e
process_category 66: processing variable
process_var 66: using units CO2eq * m * t
process_categories: new category set at row 67: Scope 3 CO2e emissions by GHG categories  (color = E2F0D9)
process_categories 67: segmenting Scope 3 CO2e emissions::GHG categories
process_var 67: propagating units None
process_var 69: using units m t CO2e
sub_score = 0
sub_score = 0
process_var 70: using units m t CO2e
sub_score = 0
sub_score = 0
process_var 71: using units m t CO2e
sub_score = 0
sub_score = 0
process_var 72: using units m t CO2e
+indent
sub_score = 1
process_var 73: using units m t CO2e
sub_score = 0
sub_score = 0
process_var 74: using units m t CO2e
sub_score = -1
sub_score = -1
pop at row 75: segmentation_stack now [<Cell 'Environmental Group Overview'.K67>]
sub_score = 0
sub_score = 0
process_var 75: using units m t CO2e
process_var 76: propagating units None
process_segmentation: stack at end = [<Cell 'Environmental Group Overview'.K67>]
NOTES
['n/d = not disclosed', '1', 'Calculation of CO2e emissions and CEX based on GHG, GLEC, EN\xa016258, ETS. Therefore, offsetting not included.', '2', 'Including emissions from rail, ferry and business cars that are not listed separatly (together < 1%).', '3', 'Including electric vehicle consumption.', '4', 'Also includes quantities of gasoline and diesel for auxiliary power generators', '5', 'Air transport: ecotransIT, ocean transport: Clean Cargo Working Group, road transport: Handbook Emission Factors for Road Transport.', '6', 'Air transport: kerosene; road transport: diesel; ocean transport: HFO.', '7', 'Adjusted;', '8', 'The decrease from 2018 to 2019 was mainly due to the reorientation of, and associated organizational changes in, our post and parcel business in the year under review. In 2020, data for eCommerce Solutions not updated.', '9', 'Water consumption is not considered a material issue for our business model. We therefore only record consumption at our German sites.']
END NOTES
wb(2) dataframe

/opt/app-root/lib64/python3.8/site-packages/pandas/core/frame.py:5238: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(

,Variable,Unit,2016,2017,2018,2019,2020,Notes,Topic,Category,Segmentation,YoY,Comment
0,Carbon emissions,None,None,None,None,None,NaN,None,emissions,None,None,None,"2020 ESG Presentation, slides 12ff"
1,KPI: Carbon Efficiency Index (CEX),Number,30,32,33,35,37.000000,None,emissions,CO2e emissions total,None,0.057143,"Target 2021: 38%, Target 2025: 50%\nBase year ..."
2,CO2e emissions total,CO2eq * m * t,26.86,28.86,29.46,27.42,27.380000,None,emissions,CO2e emissions total,CO2e emissions,-0.001459,"Metric tons= 1,000 kg"
3,Scope 1,Number,5.68,5.9,6.3,6.27,6.580000,None,emissions,CO2e emissions total,CO2e emissions,0.049442,None
4,Scope 2 (market-based),Number,0.37,0.44,0.27,0.21,0.190000,None,emissions,CO2e emissions total,CO2e emissions,-0.095238,None
5,Scope 3,Number,20.81,22.52,22.89,20.94,20.610000,None,emissions,CO2e emissions total,CO2e emissions,-0.015759,None
6,CO2e emissions by modes,Share,None,None,None,None,NaN,None,emissions,CO2e emissions,modes,None,None
7,Air transport,Share,0.65,0.64,0.64,0.64,0.660000,None,emissions,CO2e emissions,modes,None,None
8,Ocean transport,Share,0.11,0.12,0.13,0.12,0.100000,None,emissions,CO2e emissions,modes,None,None
9,Road transport,Share,0.21,0.21,0.21,0.22,0.220000,None,emissions,CO2e emissions,modes,None,None
10,Buildings,Share,0.03,0.03,0.02,0.02,0.020000,None,emissions,CO2e emissions,modes,None,None
11,CO2e intensity total,g / revenue,n/d,n/d,479,433,410.000000,None,emissions,CO2e intensity total,CO2e intensity,-0.053118,None
12,Scope 1 and 2,g / revenue,n/d,n/d,107,102,101.000000,None,emissions,CO2e intensity total,CO2e intensity,-0.009804,None
13,Energy consumption total (Scopes 1 and 2),kWh * m,23837,24927,26437,26199,27383.000000,None,energy,Energy consumption,(Scopes 1 and 2),0.045193,"2020 ESG Presentation, slides 15 and 18"
14,Fleet consumption total,kWh * m,20798,21733,23243,23100,24294.000000,None,energy,Energy consumption,(Scopes 1 and 2),0.051688,None
15,Liquid fuels,kWh * m,20740,21686,23190,23055,24254.000000,None,energy,Energy consumption,(Scopes 1 and 2)::Fleet consumption total,0.052006,None
16,Kerosene,kWh * m,16323,17227,18598,18613,19624.000000,None,energy,Energy consumption,(Scopes 1 and 2)::Fleet consumption total::Liq...,0.054317,None
17,Gasoline,kWh * m,203,194,221,251,807.000000,None,energy,Energy consumption,(Scopes 1 and 2)::Fleet consumption total::Liq...,2.215139,None
18,Biodiesel,kWh * m,26,28,17,5,4.000000,None,energy,Energy consumption,(Scopes 1 and 2)::Fleet consumption total::Liq...,-0.2,None
19,Bioethanol,kWh * m,1,<1,<1,1,1.000000,None,energy,Energy consumption,(Scopes 1 and 2)::Fleet consumption total::Liq...,0,None
20,Diesel,kWh * m,4178,4234,4351,4183,3815.000000,None,energy,Energy consumption,(Scopes 1 and 2)::Fleet consumption total::Liq...,-0.087975,None
22,Gaseous fuels,kWh * m,58,47,53,45,40.000000,None,energy,Energy consumption,(Scopes 1 and 2)::Fleet consumption total,-0.111111,None
23,Bio natural gas,kWh * m,2,2,3,5,1.000000,None,energy,Energy consumption,(Scopes 1 and 2)::Fleet consumption total::Gas...,-0.8,None
26,Buildings consumption total,kWh * m,3039,3194,3194,3099,3089.000000,None,energy,Energy consumption,(Scopes 1 and 2),-0.003227,None
27,Electricity total,kWh * m,1647,1737,1732,1681,1710.000000,None,energy,Energy consumption,(Scopes 1 and 2)::Buildings consumption total,0.017252,None
28,Renewable electricity,kWh * m,1013,1086,1342,1392,1463.000000,None,energy,Energy consumption,(Scopes 1 and 2)::Buildings consumption total:...,0.051006,None
29,Non-renewable electricity,kWh * m,634,651,390,289,247.000000,None,energy,Energy consumption,(Scopes 1 and 2)::Buildings consumption total:...,-0.145329,None
30,Share of renewable electricity,kWh * m,0.615058,0.625216,0.774827,0.828079,0.855556,None,energy,Energy consumption,(Scopes 1 and 2)::Buildings consumption total:...,None,None
31,Natural gas,kWh * m,969,903,919,930,934.000000,None,energy,Energy consumption,(Scopes 1 and 2)::Buildings consumption total,0.004301,None
32,Heating oil,kWh * m,328,275,259,216,198.000000,None,energy,Energy consumption,(Scopes 1 and 2)::Buildings consumption total,-0.083333,None
33,District heating,kWh * m,54,171,168,174,164.000000,None,energy,Energy consumption,(Scopes 1 and 2)::Buildings consumption total,-0.057471,None
34,District cooling,kWh * m,8,8,7,8,7.000000,None,energy,Energy consumption,(Scopes 1 and 2)::Buildings consumption total,-0.125,None
35,Geothermal heating,kWh * m,n/d,n/d,n/d,<1,3.000000,None,energy,Energy consumption,(Scopes 1 and 2)::Buildings consumption total,-,None
37,Local air pollutants (Scope 1),t,None,None,None,None,NaN,None,Local air pollutants (Scope 1),Local air pollutants (Scope 1),None,None,"Metric tons= 1,000 kg"
38,Mono-nitrogen oxides (NOx) total,nox,35754,36976,39795,41223,42331.000000,None,Local air pollutants (Scope 1),Mono-nitrogen oxides (NOx) total,Mono-nitrogen oxides (NOx),0.026878,None
39,Road transport,nox,15634,15739,16844,16450,15879.000000,None,Local air pollutants (Scope 1),Mono-nitrogen oxides (NOx) total,Mono-nitrogen oxides (NOx),-0.034711,None
40,Air transport,nox,20120,21237,22951,24773,26452.000000,None,Local air pollutants (Scope 1),Mono-nitrogen oxides (NOx) total,Mono-nitrogen oxides (NOx),0.067775,None
41,Sulfur dioxide (SO2) total,SO2,1711,1771,1943,1984,2009.000000,None,Local air pollutants (Scope 1),Sulfur dioxide (SO2) total,Sulfur dioxide (SO2),0.012601,None
42,Road transport,SO2,588,586,664,676,660.000000,None,Local air pollutants (Scope 1),Sulfur dioxide (SO2) total,Sulfur dioxide (SO2),-0.023669,None
43,Air transport,SO2,1123,1185,1278,1308,1349.000000,None,Local air pollutants (Scope 1),Sulfur dioxide (SO2) total,Sulfur dioxide (SO2),0.031346,None
44,Particulate matter (PM10) total,PM10,1043,1053,1148,1157,1142.000000,None,Local air pollutants (Scope 1),Particulate matter (PM10) total,Particulate matter (PM10),-0.012965,None
45,Road transport,PM10,881,881,961,963,947.000000,None,Local air pollutants (Scope 1),Particulate matter (PM10) total,Particulate matter (PM10),-0.016615,None

Environmental Group Overview
[]
[]
crop_sheet
49 x 10
49 x 9
color = FF00B050
color = 00000000
color = 00000000
color = 00000000
['2016', '2017', '2018', '2019', '2020']
worksheet Environmental Data by Division: unknown topic Environmental Data by Divisions
ingest_file: processing 2
worksheet Environmental Data by Division: unknown topic The Group's material topics: Carbon Efficiency & Climate Protection, Air Pollution
ingest_file: processing 3
worksheet Environmental Data by Division: unknown topic Key Performance Indicator: Carbon Efficiency Index
find units: nothing found for CEX
ingest_file: processing 4
process_topic 4: no var text
new topic set at row 6: Post & Parcel  Germany (color = FF00B050)
process_categories: new category set at row 7: CEX (color = E2F0D9)
process_category 7: processing variable
process_var 7: using units Number
process_categories: unknown color 00000000 at row 8: CO2e emissions total
+indent
sub_score = 1
process_categories 8: segmenting CO2e emissions total::CO2e emissions
process_var 8: using units CO2eq * m * t
process_var 9: propagating units Number
sub_score = 0
sub_score = 0
process_var 10: propagating units Number
sub_score = 0
sub_score = 0
process_var 11: propagating units Number
pop at row 12: segmentation_stack now []
process_categories: new category set at row 12: Energy consumption (own operations) total (color = E2F0D9)
process_category 12: processing variable
find units: nothing found for own operations
process_var 12: unhandled ( own operations )
process_categories: new topic set at row 13: Express (color = FF00B050)
process_categories: new category set at row 14: CEX (color = E2F0D9)
process_category 14: processing variable
process_var 14: using units Number
process_categories: unknown color 00000000 at row 15: CO2e emissions total
+indent
sub_score = 1
process_categories 15: segmenting CO2e emissions total::CO2e emissions
process_var 15: using units CO2eq * m * t
process_var 16: propagating units Number
sub_score = 0
sub_score = 0
process_var 17: propagating units Number
sub_score = 0
sub_score = 0
process_var 18: propagating units Number
pop at row 19: segmentation_stack now []
process_categories: new category set at row 19: Energy consumption (own operations) total (color = E2F0D9)
process_category 19: processing variable
find units: nothing found for own operations
process_var 19: unhandled ( own operations )
process_categories: new topic set at row 20: Global Forwarding, Freight (color = FF00B050)
process_categories: new category set at row 21: CEX (color = E2F0D9)
process_category 21: processing variable
process_var 21: using units Number
process_categories: unknown color 00000000 at row 22: CO2e emissions total
+indent
sub_score = 1
process_categories 22: segmenting CO2e emissions total::CO2e emissions
process_var 22: using units CO2eq * m * t
process_var 23: propagating units Number
sub_score = 0
sub_score = 0
process_var 24: propagating units Number
sub_score = 0
sub_score = 0
process_var 25: propagating units Number
pop at row 26: segmentation_stack now []
process_categories: new category set at row 26: Energy consumption (own operations) total (color = E2F0D9)
process_category 26: processing variable
find units: nothing found for own operations
process_var 26: unhandled ( own operations )
process_categories: new topic set at row 27: Supply Chain (color = FF00B050)
process_categories: new category set at row 28: CEX (color = E2F0D9)
process_category 28: processing variable
process_var 28: using units Number
process_categories: unknown color 00000000 at row 29: CO2e emissions total
+indent
sub_score = 1
process_categories 29: segmenting CO2e emissions total::CO2e emissions
process_var 29: using units CO2eq * m * t
process_var 30: propagating units Number
sub_score = 0
sub_score = 0
process_var 31: propagating units Number
sub_score = 0
sub_score = 0
process_var 32: propagating units Number
pop at row 33: segmentation_stack now []
process_categories: new category set at row 33: Energy consumption (own operations) total (color = E2F0D9)
process_category 33: processing variable
find units: nothing found for own operations
process_var 33: unhandled ( own operations )
process_categories: new topic set at row 34: eCommerce Solutions (color = FF00B050)
process_categories: new category set at row 35: CEX (color = E2F0D9)
process_category 35: processing variable
process_var 35: using units Number
process_categories: unknown color 00000000 at row 36: CO2e emissions total
+indent
sub_score = 1
process_categories 36: segmenting CO2e emissions total::CO2e emissions
process_var 36: using units CO2eq * m * t
process_var 37: propagating units Number
sub_score = 0
sub_score = 0
process_var 38: propagating units Number
sub_score = 0
sub_score = 0
process_var 39: propagating units Number
pop at row 40: segmentation_stack now []
process_categories: new category set at row 40: Energy consumption (own operations) total (color = E2F0D9)
process_category 40: processing variable
find units: nothing found for own operations
process_var 40: unhandled ( own operations )
process_categories: new topic set at row 41: OTHER ENVIRONMENTAL DATA (color = E7E6E6)
process_topic 41: setting topic OTHER
process_categories: new category set at row 42: Scope 2 CO2e emissions calculated by location-based method (GHG) (color = E2F0D9)
find units: nothing found for GHG
process_categories 42: segmenting Scope 2 CO2e emissions calculated::location-based method (GHG)
find units: nothing found for GHG
process_var 42: unhandled ( GHG )
process_var 44: using units m t CO2e
sub_score = 0
sub_score = 0
process_var 45: using units m t CO2e
sub_score = 0
sub_score = 0
process_var 46: using units m t CO2e
sub_score = 0
sub_score = 0
process_var 47: using units m t CO2e
process_var 48: propagating units None
process_segmentation: stack at end = [<Cell 'Environmental Data by Division'.K42>]
NOTES
['1) Calculation of CO2e emissions and CEX based on GHG, GLEC, EN\xa016258, ETS. Therefore, offsetting not included.', '2', 'Adjusted.']
END NOTES
wb(3) dataframe

/opt/app-root/lib64/python3.8/site-packages/pandas/core/frame.py:5238: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(

,Variable,Unit,2016,2017,2018,2019,2020,Notes,Topic,Category,Segmentation,Y-o-Y,Comment
0,Post & Parcel Germany,None,None,None,NaN,NaN,NaN,None,Post & Parcel Germany,None,None,NaN,None
1,CEX,Number,31,31,39.00,41.00,45.00,None,Post & Parcel Germany,CO2e emissions total,None,0.097561,None
2,CO2e emissions total,CO2eq * m * t,1.85,2.14,1.36,1.33,1.32,None,Post & Parcel Germany,CO2e emissions total,CO2e emissions,-0.007519,"Metric tons = 1,000 kg"
3,Scope 1,Number,0.53,0.54,0.36,0.36,0.36,None,Post & Parcel Germany,CO2e emissions total,CO2e emissions,0.000000,None
4,Scope 2 (market-based),Number,0.03,0.09,0.05,0.05,0.04,None,Post & Parcel Germany,CO2e emissions total,CO2e emissions,-0.200000,None
5,Scope 3,Number,1.29,1.51,0.95,0.92,0.92,None,Post & Parcel Germany,CO2e emissions total,CO2e emissions,0.000000,None
6,Energy consumption (own operations) total,kWh * m,1861,1903,1913.00,1895.00,1974.00,None,Post & Parcel Germany,Energy consumption (own operations) total,None,0.041689,None
7,Express,None,None,None,NaN,NaN,NaN,None,Express,None,None,NaN,None
8,CEX,Number,37,39,38.00,38.00,41.00,None,Express,CO2e emissions total,None,0.078947,None
9,CO2e emissions total,CO2eq * m * t,9.42,9.71,10.77,10.62,12.09,None,Express,CO2e emissions total,CO2e emissions,0.138418,"Metric tons = 1,000 kg"
10,Scope 1,Number,4.34,4.59,4.96,4.96,5.38,None,Express,CO2e emissions total,CO2e emissions,0.084677,None
11,Scope 2 (market-based),Number,0.13,0.13,0.07,0.06,0.06,None,Express,CO2e emissions total,CO2e emissions,0.000000,None
12,Scope 3,Number,4.95,4.99,5.74,5.60,6.65,None,Express,CO2e emissions total,CO2e emissions,0.187500,None
13,Energy consumption (own operations) total,kWh * m,17140,18112,19527.00,19588.00,21166.00,None,Express,Energy consumption (own operations) total,None,0.080560,None
14,"Global Forwarding, Freight",None,None,None,NaN,NaN,NaN,None,"Global Forwarding, Freight",None,None,NaN,None
15,CEX,Number,23,26,28.00,30.00,30.00,None,"Global Forwarding, Freight",CO2e emissions total,None,0.000000,None
16,CO2e emissions total,CO2eq * m * t,13.76,15.1,14.78,13.16,11.95,None,"Global Forwarding, Freight",CO2e emissions total,CO2e emissions,-0.091945,"Metric tons = 1,000 kg"
17,Scope 1,Number,0.13,0.1,0.10,0.10,0.08,None,"Global Forwarding, Freight",CO2e emissions total,CO2e emissions,-0.200000,None
18,Scope 2 (market-based),Number,0.05,0.05,0.03,0.02,0.02,None,"Global Forwarding, Freight",CO2e emissions total,CO2e emissions,0.000000,None
19,Scope 3,Number,13.58,14.95,14.65,13.04,11.85,None,"Global Forwarding, Freight",CO2e emissions total,CO2e emissions,-0.091258,None
20,Energy consumption (own operations) total,kWh * m,691,595,578.00,566.00,483.00,None,"Global Forwarding, Freight",Energy consumption (own operations) total,None,-0.146643,None
21,Supply Chain,None,None,None,NaN,NaN,NaN,None,Supply Chain,None,None,NaN,None
22,CEX,Number,30,30,39.00,42.00,44.00,None,Supply Chain,CO2e emissions total,None,0.047619,None
23,CO2e emissions total,CO2eq * m * t,2.19,2.27,2.08,1.91,1.73,None,Supply Chain,CO2e emissions total,CO2e emissions,-0.094241,"Metric tons = 1,000 kg"
24,Scope 1,Number,0.66,0.66,0.66,0.58,0.49,None,Supply Chain,CO2e emissions total,CO2e emissions,-0.155172,None
25,Scope 2 (market-based),Number,0.15,0.15,0.08,0.05,0.04,None,Supply Chain,CO2e emissions total,CO2e emissions,-0.200000,None
26,Scope 3,Number,1.38,1.46,1.34,1.28,1.20,None,Supply Chain,CO2e emissions total,CO2e emissions,-0.062500,None
27,Energy consumption (own operations) total,kWh * m,3359,3349,3305.00,2967.00,2588.00,None,Supply Chain,Energy consumption (own operations) total,None,-0.127738,None
28,eCommerce Solutions,None,None,None,NaN,NaN,NaN,None,eCommerce Solutions,None,None,NaN,None
29,CEX,Number,n/d,n/d,24.00,24.00,27.00,None,eCommerce Solutions,CO2e emissions total,None,0.125000,None
30,CO2e emissions total,CO2eq * m * t,n/d,n/d,0.86,0.83,0.87,None,eCommerce Solutions,CO2e emissions total,CO2e emissions,0.048193,"Metric tons = 1,000 kg"
31,Scope 1,Number,n/d,n/d,0.20,0.20,0.22,None,eCommerce Solutions,CO2e emissions total,CO2e emissions,0.100000,None
32,Scope 2 (market-based),Number,n/d,n/d,0.02,0.01,0.02,None,eCommerce Solutions,CO2e emissions total,CO2e emissions,1.000000,None
33,Scope 3,Number,n/d,n/d,0.64,0.62,0.63,None,eCommerce Solutions,CO2e emissions total,CO2e emissions,0.016129,None
34,Energy consumption (own operations) total,kWh * m,n/d,n/d,865.00,884.00,932.00,None,eCommerce Solutions,Energy consumption (own operations) total,None,0.054299,None
35,OTHER ENVIRONMENTAL DATA,None,None,None,NaN,NaN,NaN,None,other,None,None,NaN,None
37,None,m t CO2e,2016,2017,2018.00,2019.00,2020.00,None,None,None,None,NaN,"Metric tons = 1,000 kg"
38,Post & Parcel Germany,m t CO2e,0.19,0.27,0.19,0.18,0.19,None,other,Scope 2 CO2e emissions calculated,location-based method (GHG),NaN,None
39,Express,m t CO2e,0.2,0.2,0.19,0.19,0.14,None,other,Scope 2 CO2e emissions calculated,location-based method (GHG),NaN,None
40,"Global Forwarding, Freight",m t CO2e,0.07,0.06,0.06,0.05,0.05,None,other,Scope 2 CO2e emissions calculated,location-based method (GHG),NaN,None
41,Supply Chain,m t CO2e,0.31,0.31,0.28,0.25,0.23,None,other,Scope 2 CO2e emissions calculated,location-based method (GHG),NaN,None

Environmental Data by Division
[]
[]
crop_sheet
42 x 10
40 x 9
color = FF00B050
color = 00000000
color = 00000000
['2016', '2017', '2018', '2019', '2020']
worksheet Group Fleet Data: unknown topic Fleet Data at Group Levels
ingest_file: processing 2
worksheet Group Fleet Data: unknown topic The Group's material topics: Carbon Efficiency & Climate Protection, Air Pollution
ingest_file: processing 3
process_topic 3: no var text
new topic set at row 5: Air fleet (jets and feeders) (color = FF00B050)
process_topic 5: setting category Air fleet
process_topic 5: setting units Total no.
process_category 5: processing variable
find units: nothing found for jets and feeders
process_var 5: unhandled ( jets and feeders )
process_categories: new category set at row 6: Jets by NOx emission standards (color = E2F0D9)
process_categories 6: segmenting Jets::NOx emission standards
process_var 6: using units Number
process_var 7: propagating units Number
sub_score = 0
sub_score = 0
process_var 8: propagating units Number
sub_score = 0
sub_score = 0
process_var 9: propagating units Number
sub_score = 0
sub_score = 0
process_var 10: propagating units Number
sub_score = 0
sub_score = 0
process_var 11: propagating units Number
pop at row 12: segmentation_stack now []
process_categories: new category set at row 12: Jets by noise standards (color = E2F0D9)
process_categories 12: segmenting Jets::noise standards
process_var 12: using units Number
process_var 13: propagating units Number
sub_score = 0
sub_score = 0
process_var 14: propagating units Number
sub_score = 0
sub_score = 0
process_var 15: propagating units Number
pop at row 16: segmentation_stack now []
process_categories: new topic set at row 16: Vehicles  (color = FF00B050)
process_topic 16: setting category Vehicles
process_topic 16: setting units Total no.
process_category 16: processing variable
process_var 16: using units Number
process_categories: unknown color 00000000 at row 17: Vans
sub_score = 0
process_category 17: processing variable
process_var 17: using units Number
process_categories: unknown color 00000000 at row 18: Trucks
sub_score = 0
process_category 18: processing variable
process_var 18: using units Number
process_categories: unknown color 00000000 at row 19: Cars
process_category 19: processing variable
process_var 19: using units Number
process_categories: new category set at row 20: Vehicles with alternative drive systems (color = E2F0D9)
process_category 20: processing variable
process_var 20: using units Number
process_categories: unknown color 00000000 at row 21: Electric drive
sub_score = -1
process_category 21: processing variable
process_var 21: using units Number
process_categories: unknown color 00000000 at row 22:    Hybrid
sub_score = 0
process_category 22: processing variable
process_var 22: using units Number
process_categories: unknown color 00000000 at row 23:    Natural gas (CNG and LNG) incl. Bio-CNG
find units: nothing found for CNG and LNG
sub_score = 0
process_category 23: processing variable
find units: nothing found for CNG and LNG
process_var 23: unhandled ( CNG and LNG )
process_categories: unknown color 00000000 at row 24:     Liquid gas (LPG)
find units: nothing found for LPG
sub_score = 0
process_category 24: processing variable
find units: nothing found for LPG
process_var 24: unhandled ( LPG )
process_categories: unknown color 00000000 at row 25:     Bioethanol
sub_score = 0
process_category 25: processing variable
process_var 25: using units Number
process_categories: unknown color 00000000 at row 26:     Dual Fuel
process_category 26: processing variable
process_var 26: using units Number
process_categories: new category set at row 27: Vehicles with Euronorm classifications (color = E2F0D9)
process_category 27: processing variable
process_var 27: using units Number
process_categories: unknown color 00000000 at row 28: ZEV (zero emissions vehicles)
find units: nothing found for zero emissions vehicles
sub_score = -1
process_category 28: processing variable
find units: nothing found for zero emissions vehicles
process_var 28: unhandled ( zero emissions vehicles )
process_categories: unknown color 00000000 at row 29:    Euro 6
sub_score = 0
process_category 29: processing variable
process_var 29: using units Number
process_categories: unknown color 00000000 at row 30:    Euro 5 + EEV
sub_score = 0
process_category 30: processing variable
process_var 30: using units Number
process_categories: unknown color 00000000 at row 31:    Euro 4
sub_score = 0
process_category 31: processing variable
process_var 31: using units Number
process_categories: unknown color 00000000 at row 32:    Euro 3
+indent
sub_score = 1
process_category 32: processing variable
process_var 32: using units Number
process_categories: unknown color 00000000 at row 33: Euro 2
sub_score = 0
process_category 33: processing variable
process_var 33: using units Number
process_categories: unknown color 00000000 at row 34: Euro 1
process_category 34: processing variable
process_var 34: using units Number
process_categories: new category set at row 35: Bicycles (color = E2F0D9)
process_category 35: processing variable
process_var 35: using units Number
process_categories: unknown color 00000000 at row 36: E-bikes (Post & Parcel Germany)
find units: nothing found for Post & Parcel Germany
sub_score = 0
process_category 36: processing variable
find units: nothing found for Post & Parcel Germany
process_var 36: unhandled ( Post & Parcel Germany )
process_categories: unknown color 00000000 at row 37: E-trikes (Post & Parcel Germany)
find units: nothing found for Post & Parcel Germany
sub_score = 0
process_category 37: processing variable
find units: nothing found for Post & Parcel Germany
process_var 37: unhandled ( Post & Parcel Germany )
find units: nothing found for Express
process_var 38: unhandled ( Express )
NOTES
['n/a = not available', '1', 'Including no. of Streetscooters:  9,048 (FY 2018); 10,510 (FY 2019); 14,435 (FY 2020);', '2', 'Bioethanol trucks were replaced with other technologies by the leasing companies in 2019;', '3', 'EEV:  Enhanced environmentally friendly vehicles']
END NOTES
wb(4) dataframe

/opt/app-root/lib64/python3.8/site-packages/pandas/core/frame.py:5238: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(

,Variable,Unit,2016,2017,2018,2019,2020,Notes,Topic,Category,Segmentation,YoY,Comment
0,Air fleet (jets and feeders),Number,None,None,> 260,> 260,> 280,None,Air fleet (jets and feeders),Air fleet (jets and feeders),None,NaN,"2020 ESG Presentation, slide 20"
1,Jets by NOx emission standards,Number,190,208,214,219,246,None,Air fleet (jets and feeders),Jets,NOx emission standards,0.123288,None
2,CAEP/8,Number,38,43,50,55,67,None,Air fleet (jets and feeders),Jets,NOx emission standards,0.218182,None
3,CAEP/6,Number,74,82,85,88,101,None,Air fleet (jets and feeders),Jets,NOx emission standards,0.147727,None
4,CAEP/4,Number,38,45,42,36,38,None,Air fleet (jets and feeders),Jets,NOx emission standards,0.055556,None
5,CAEP/2,Number,23,17,12,13,13,None,Air fleet (jets and feeders),Jets,NOx emission standards,0.000000,None
6,Unclassified,Number,17,21,25,27,27,None,Air fleet (jets and feeders),Jets,NOx emission standards,0.000000,None
7,Jets by noise standards,Number,190,208,214,219,246,None,Air fleet (jets and feeders),Jets,noise standards,0.123288,None
8,Chapter 14,Number,32,41,49,59,73,None,Air fleet (jets and feeders),Jets,noise standards,0.237288,None
9,Chapter 4,Number,127,133,130,131,141,None,Air fleet (jets and feeders),Jets,noise standards,0.076336,None
10,Chapter 3,Number,31,34,35,29,32,None,Air fleet (jets and feeders),Jets,noise standards,0.103448,None
11,Vehicles,Number,92328,97165,98478.42547,103573,105954.936508,None,Vehicles,Vehicles,None,0.022998,"2020 ESG Presentation, slide 21"
12,Vans,Number,63771,67222,69809.357453,74548,77409.126984,None,Vehicles,Vehicles,None,0.038380,None
13,Trucks,Number,11227,12096,10989.942113,11330,10792.126984,None,Vehicles,Vehicles,None,-0.047473,None
14,Cars,Number,17330,17847,17679.125904,17695,17753.68254,None,Vehicles,Vehicles,None,0.003316,None
15,Vehicles with alternative drive systems,Number,4177,7896,10843,13532,17812,None,Vehicles,Vehicles with alternative drive systems,None,0.316287,None
16,Electric drive,Number,2432,6040,9358,11610,15400,None,Vehicles,Vehicles with alternative drive systems,None,0.326443,None
17,Hybrid,Number,474,572,554,809,1390,None,Vehicles,Vehicles with alternative drive systems,None,0.718171,None
18,Natural gas (CNG and LNG) incl. Bio-CNG,Number,701,401,206,680,641,None,Vehicles,Vehicles with alternative drive systems,None,-0.057353,None
19,Liquid gas (LPG),Number,121,113,74,77,84,None,Vehicles,Vehicles with alternative drive systems,None,0.090909,None
20,Bioethanol,Number,269,606,472,315,0,None,Vehicles,Vehicles with alternative drive systems,None,NaN,None
21,Dual Fuel,Number,150,134,179,71,297,None,Vehicles,Vehicles with alternative drive systems,None,3.183099,None
22,Vehicles with Euronorm classifications,Number,63861,69709,74900,75638,78862,None,Vehicles,Euro 3,None,0.042624,None
23,ZEV (zero emissions vehicles),Number,n/d,6040,9114,11161,14981,None,Vehicles,Vehicles with Euronorm classifications,None,0.342263,None
24,Euro 6,Number,8701,12613,17321,19671,22549,None,Vehicles,Vehicles with Euronorm classifications,None,0.146307,None
25,Euro 5 + EEV,Number,39542,36768,35173,33688,31826,None,Vehicles,Vehicles with Euronorm classifications,None,-0.055272,None
26,Euro 4,Number,15618,14288,13292,10519,9308,None,Vehicles,Vehicles with Euronorm classifications,None,-0.115125,None
27,Euro 3,Number,847,799,587,587,198,None,Vehicles,Euro 3,None,-0.662692,None
28,Euro 2,Number,10,10,10,10,0,None,Vehicles,Euro 3,None,NaN,None
29,Euro 1,Number,1,1,2,2,0,None,Vehicles,Euro 3,None,NaN,None
30,Bicycles,Number,n/a,n/a,n/a,n/a,28500,None,Vehicles,Bicycles,None,NaN,"2020 ESG Presentation, slide 19"
31,E-bikes (Post & Parcel Germany),Number,n/a,n/a,n/a,n/a,8000,None,Vehicles,Bicycles,None,NaN,None
32,E-trikes (Post & Parcel Germany),Number,n/a,n/a,n/a,n/a,8700,None,Vehicles,Bicycles,None,NaN,None
34,None,None,None,None,None,None,None,None,None,None,None,NaN,None
35,n/a = not available 1) Including no. of Street...,None,None,None,None,None,None,None,None,None,None,NaN,None

Group Fleet Data
Unilever sustainability performance data_Climate FINAL.xlsx

/opt/app-root/lib64/python3.8/site-packages/openpyxl/reader/drawings.py:29: UserWarning: DrawingML support is incomplete and limited to charts and images only. Shapes and drawings will be lost.
  warn("DrawingML support is incomplete and limited to charts and images only. Shapes and drawings will be lost.")

[]
[]
crop_sheet
48 x 1007
47 x 12
['2020', '2019', '2018', '2017', '2016', '2015', '2014', '2013', '2012', '2011', '2010']
worksheet Sustainability performance data: unknown topic CLIMATE ACTION
new topic set at row 11: Value chain GHG emissions (color = FFEBF1DE)
process_topic 11: setting topic emissions
ingest_file: processing 12
process_topic 12: setting topic emissions
process_topic 12: setting units from var: tonnes CO2
process_topic 12: setting category Unilever operations: Scope 1 GHG emissions
process_topic 12: setting units tonnes CO2
sub_score = 0
process_category 12: processing variable
process_var 12: found species or units in Unilever operations: Scope 1 GHG emissions (tonnes CO2)
Inferring/composing units: CO2 * t
process_categories: unknown color FFFFFF at row 13: Unilever operations: Scope 2 GHG emissions (tonnes CO2)
process_categories 13: setting units from var: tonnes CO2
sub_score = 0
process_category 13: processing variable
process_var 13: found species or units in Unilever operations: Scope 2 GHG emissions (tonnes CO2)
Inferring/composing units: CO2 * t
process_categories: unknown color FFFFFF at row 14: Upstream and downstream of Unilever operations: Scope 3 GHG emissions (tonnes CO2e)
process_categories 14: setting units from var: tonnes CO2e
process_category 14: processing variable
process_var 14: found species or units in Upstream and downstream of Unilever operations: Scope 3 GHG emissions (tonnes CO2e)
Inferring/composing units: CO2eq * t
changing units from category: CO2 * t to CO2eq * t
process_categories: new topic set at row 15: Ingredients and packaging:  (color = E2F0D9)
ingest_file: processing 17
worksheet Sustainability performance data: unknown topic       Primary packaging
ingest_file: processing 18
worksheet Sustainability performance data: unknown topic       Secondary packaging
ingest_file: processing 19
worksheet Sustainability performance data: unknown topic       Inbound transport
new topic set at row 20: Distribution and retail:  (color = E2F0D9)
ingest_file: processing 21
worksheet Sustainability performance data: unknown topic       Distribution
ingest_file: processing 22
worksheet Sustainability performance data: unknown topic       Retail
new topic set at row 23: Consumer use:  (color = E2F0D9)
ingest_file: processing 24
worksheet Sustainability performance data: unknown topic      Consumer use
ingest_file: processing 25
worksheet Sustainability performance data: unknown topic      Disposal
ingest_file: processing 26
process_topic 26: no var text
new topic set at row 27: Manufacturing energy use and GHG emissions (color = E2F0D9)
process_topic 27: setting topic energy
process_topic 27: setting topic emissions
ingest_file: processing 28
process_topic 28: setting topic energy
process_topic 28: setting units from var: GJ
process_topic 28: setting category Total energy use
process_topic 28: setting units GJ
sub_score = 0
process_category 28: processing variable
process_var 28: found species or units in Total energy use (GJ)
Inferring/composing units: GJ
process_categories: unknown color 00000000 at row 29: Energy (GJ/tonne of production)
process_categories 29: setting units from var: GJ/tonne of production
sub_score = 0
process_category 29: processing variable
process_var 29: found species or units in Energy (GJ/tonne of production)
Inferring/composing units: GJ / t
changing units from category: GJ to GJ / t
process_categories: unknown color FFFFFF at row 30: Renewable energy use (GJ)
process_categories 30: setting units from var: GJ
sub_score = 0
process_category 30: processing variable
process_var 30: found species or units in Renewable energy use (GJ)
Inferring/composing units: GJ
process_categories: unknown color FFFFFF at row 31: Share of renewable energy use (%)
process_categories 31: setting units from var: %
sub_score = 0
process_category 31: processing variable
process_var 31: found species or units in Share of renewable energy use (pct)
Inferring/composing units: percent
changing units from category: GJ to percent
process_categories: unknown color 00000000 at row 32: Total CO2 from energy (tonnes)
process_categories 32: setting units from var: tonnes
sub_score = 0
process_category 32: processing variable
process_var 32: found species or units in Total CO2 from energy (tonnes)
Inferring/composing units: t
changing units from category: GJ to t
process_categories: unknown color 00000000 at row 33: CO2 from energy (kg/tonne of production)
process_categories 33: setting units from var: kg/tonne of production
sub_score = 0
process_category 33: processing variable
process_var 33: found species or units in CO2 from energy (kg/tonne of production)
Inferring/composing units: kg / t
changing units from category: GJ to kg / t
process_var 34: found species or units in NOx from direct energy use (tonnes)
Inferring/composing units: t
changing units from category: GJ to t
finish_notes @ 36
wb(0) dataframe

/opt/app-root/lib64/python3.8/site-packages/pandas/core/frame.py:5238: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(

,Variable,2020,2019,2018,2017,2016,2015,2014,2013,2012,2011,2010,Notes,Topic,Category,Segmentation,Unit
0,Value chain GHG emissions,NaN,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,emissions,None,None,None
1,Unilever operations: Scope 1 GHG emissions (to...,606771.00,659028,758232,8.203553e+05,8.829727e+05,8.908010e+05,NaN,NaN,NaN,NaN,NaN,None,emissions,Unilever operations: Scope 1 GHG emissions,None,CO2 * t
2,Unilever operations: Scope 2 GHG emissions (to...,171906.00,443897,893825,9.389438e+05,1.007953e+06,1.071076e+06,NaN,NaN,NaN,NaN,NaN,None,emissions,Unilever operations: Scope 1 GHG emissions,None,CO2 * t
3,Upstream and downstream of Unilever operations...,60388592.33,61020357.3,62017584.93,5.982331e+07,6.111887e+07,5.775858e+07,NaN,NaN,NaN,NaN,NaN,None,emissions,Unilever operations: Scope 1 GHG emissions,None,CO2eq * t
4,Ingredients and packaging:,14239917.96,14897174,15367491,1.653956e+07,1.790318e+07,1.708319e+07,NaN,NaN,NaN,NaN,NaN,None,Ingredients and packaging:,None,None,None
5,Ingredients,11270832.65,"11,782,483","12,416,204",1.340964e+07,1.453410e+07,1.378706e+07,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None
6,Primary packaging,2326020.65,2389654.84,2246470.77,2.379938e+06,2.436180e+06,2.343797e+06,NaN,NaN,NaN,NaN,NaN,None,sustainability performance data,None,None,None
7,Secondary packaging,376701.46,462670.66,464439.9,5.222120e+05,5.531980e+05,5.969110e+05,NaN,NaN,NaN,NaN,NaN,None,sustainability performance data,None,None,None
8,Inbound transport,266363.20,262364.83,240376.47,2.277710e+05,3.797030e+05,3.554230e+05,NaN,NaN,NaN,NaN,NaN,None,sustainability performance data,None,None,None
9,Distribution and retail:,4055333.37,4379729.3,4368625.93,4.089568e+06,4.137010e+06,4.002856e+06,NaN,NaN,NaN,NaN,NaN,None,Distribution and retail:,None,None,None
10,Distribution,1661607.74,1602884.62,1553548.71,1.115600e+06,1.136666e+06,1.115609e+06,NaN,NaN,NaN,NaN,NaN,None,sustainability performance data,None,None,None
11,Retail,2393725.63,2776844.68,2815077.22,2.973968e+06,3.000344e+06,2.887247e+06,NaN,NaN,NaN,NaN,NaN,None,sustainability performance data,None,None,None
12,Consumer use:,42093341.00,41743454,42281468,3.919419e+07,3.907868e+07,3.667254e+07,NaN,NaN,NaN,NaN,NaN,None,Consumer use:,None,None,None
13,Consumer use,40039217.00,39730117,39895946,3.878051e+07,3.866442e+07,3.626370e+07,NaN,NaN,NaN,NaN,NaN,None,sustainability performance data,None,None,None
14,Disposal,2054124.00,"2,013,337","2,385,522",4.136770e+05,4.142530e+05,4.088380e+05,NaN,NaN,NaN,NaN,NaN,None,sustainability performance data,None,None,None
15,None,NaN,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None
16,Manufacturing energy use and GHG emissions,NaN,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,emissions,None,None,None
17,Total energy use (GJ),23547483.00,23932970,25907758.41,2.650753e+07,2.726762e+07,2.708056e+07,2.842221e+07,3.005470e+07,3.048029e+07,3.018186e+07,3.317659e+07,None,energy,Total energy use,None,GJ
18,Energy (GJ/tonne of production),1.21,1.25,1.27,1.300000e+00,1.340000e+00,1.350000e+00,1.410000e+00,1.520000e+00,1.560000e+00,1.610000e+00,1.710000e+00,None,energy,Total energy use,None,GJ / t
19,Renewable energy use (GJ),12220132.00,10967332,9495334.533436,8.899486e+06,8.616568e+06,7.663799e+06,7.986641e+06,8.114768e+06,7.442875e+06,6.549465e+06,5.278522e+06,None,energy,Total energy use,None,GJ
20,Share of renewable energy use (%),0.52,0.46,0.37,3.400000e-01,3.160000e-01,2.830000e-01,2.810000e-01,2.700000e-01,2.650000e-01,2.170000e-01,1.760000e-01,None,energy,Total energy use,None,percent
21,Total CO2 from energy (tonnes),717398.00,969498,"1,438,042",1.567328e+06,1.705569e+06,1.770973e+06,1.850286e+06,1.953147e+06,1.952908e+06,2.211156e+06,2.599158e+06,None,energy,Total energy use,None,t
22,CO2 from energy (kg/tonne of production),36.94,50.76,70.46,7.677000e+01,8.352000e+01,8.849000e+01,9.214000e+01,9.885000e+01,1.000000e+02,1.183200e+02,1.335900e+02,None,energy,Total energy use,None,kg / t
23,NOx from direct energy use (tonnes),1867.00,1924,2143,2.271000e+03,2.384000e+03,2.386000e+03,2.567000e+03,2.813000e+03,2.870000e+03,2.839000e+03,3.126000e+03,None,energy,Total energy use,None,t
24,None,NaN,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None
25,Footnotes,NaN,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None
26,(a) Since 2020 we have included HFC emissions ...,NaN,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None
27,(b) Our Scope 1 and 2 operations data has been...,NaN,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None
28,(c) Scope 1: direct GHG emissions from energy ...,NaN,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None
29,(d) Scope 2: indirect GHG emissions from the g...,NaN,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None
30,(e) Scope 3: all other indirect GHG emissions ...,NaN,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None
31,(f) We have revised the input data for two ing...,NaN,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None
32,(g) Our 2019 and 2018 Scope 3 emissions have b...,NaN,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None
33,"(h) In 2013, we adjusted our reporting period ...",NaN,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None
34,(i) Restated in 2018.,NaN,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None
35,(j) Our CO₂ from energy has been calculated fr...,NaN,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None
36,Greyed out cells indicate data was not reported,NaN,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None

Sustainability performance data
esg-tables.xlsx

/opt/app-root/lib64/python3.8/site-packages/openpyxl/reader/drawings.py:55: UserWarning: The image xl/media/image2.tiff will be removed because it cannot be read
  warn(msg)
/opt/app-root/lib64/python3.8/site-packages/openpyxl/reader/drawings.py:55: UserWarning: The image xl/media/image3.tiff will be removed because it cannot be read
  warn(msg)
/opt/app-root/lib64/python3.8/site-packages/openpyxl/reader/drawings.py:55: UserWarning: The image xl/media/image4.tiff will be removed because it cannot be read
  warn(msg)

[]
[]
crop_sheet
132 x 28
122 x 7
['2017', '2020', '2019', '2018']
process_topic 3: setting topic from title environmental
process_topic 3: setting category Scope 1 (direct) emissions
process_topic 3: setting units tonnes CO2e
process_category 3: processing variable
find units: nothing found for direct
process_var 3: unhandled ( direct )
process_categories: unknown color FFFFFFFF at row 4: Normalized Scope 1 emissions
process_category 4: processing variable
process_var 4: using units CO2eq * revenue * t / MM
process_categories: new category set at row 5: Scope 1 emissions by business division (color = FF92D050)
process_categories 5: segmenting Scope 1 emissions::business division
process_var 5: propagating units None
process_var 6: using units tonnes CO2e
sub_score = 0
sub_score = 0
process_var 7: using units tonnes CO2e
sub_score = 0
sub_score = 0
process_var 8: using units tonnes CO2e
sub_score = 0
sub_score = 0
process_var 9: using units tonnes CO2e
sub_score = 0
sub_score = 0
process_var 10: using units tonnes CO2e
sub_score = 0
sub_score = 0
process_var 11: using units tonnes CO2e
sub_score = 0
sub_score = 0
process_var 12: using units tonnes CO2e
sub_score = 0
sub_score = 0
process_var 13: using units tonnes CO2e
sub_score = 0
sub_score = 0
process_var 14: using units tonnes CO2e
pop at row 15: segmentation_stack now []
process_categories: new category set at row 15: Scope 2 (indirect) emissions-market-based (color = FF92D050)
process_category 15: processing variable
find units: nothing found for indirect
process_var 15: unhandled ( indirect )
process_categories: unknown color FFFFFFFF at row 16: Normalized Scope 2 emissions-market-based
process_category 16: processing variable
process_var 16: using units CO2eq * revenue * t / MM
process_categories: new category set at row 17: Scope 2 emissions by business division-market-based (color = FF92D050)
process_categories 17: segmenting Scope 2 emissions::business division-market-based
process_var 17: propagating units None
process_var 18: using units tonnes CO2e
sub_score = 0
sub_score = 0
process_var 19: using units tonnes CO2e
sub_score = 0
sub_score = 0
process_var 20: using units tonnes CO2e
sub_score = 0
sub_score = 0
process_var 21: using units tonnes CO2e
sub_score = 0
sub_score = 0
process_var 22: using units tonnes CO2e
sub_score = 0
sub_score = 0
process_var 23: using units tonnes CO2e
sub_score = 0
sub_score = 0
process_var 24: using units tonnes CO2e
sub_score = 0
sub_score = 0
process_var 25: using units tonnes CO2e
sub_score = 0
sub_score = 0
process_var 26: using units tonnes CO2e
pop at row 27: segmentation_stack now []
process_categories: new category set at row 27: Scope 3 (indirect) emissions (color = FF92D050)
find units: nothing found for indirect
process_category 27: processing variable
find units: nothing found for indirect
process_var 27: unhandled ( indirect )
process_categories: unknown color FFE2F0D9 at row 28: Purchased goods and services
sub_score = 0
process_category 28: processing variable
process_var 28: using units CO2eq * t
process_categories: unknown color FFFFFFFF at row 29: Capital goods
sub_score = 0
process_category 29: processing variable
process_var 29: using units CO2eq * t
process_categories: unknown color FFE2F0D9 at row 30: Fuel and energy related activities
sub_score = 0
process_category 30: processing variable
process_var 30: using units CO2eq * t
process_categories: unknown color FFFFFFFF at row 31: Upstream transportation/distribution
sub_score = 0
process_category 31: processing variable
process_var 31: using units CO2eq * t
process_categories: unknown color FFE2F0D9 at row 32: Waste generated in operations
sub_score = 0
process_category 32: processing variable
process_var 32: using units CO2eq * t
process_categories: unknown color FFFFFFFF at row 33: Business travel
sub_score = 0
process_category 33: processing variable
process_var 33: using units CO2eq * t
process_categories: unknown color FFE2F0D9 at row 34: Employee commuting
sub_score = 0
process_category 34: processing variable
process_var 34: using units CO2eq * t
process_categories: unknown color FFFFFFFF at row 35: Downstream transportation/distribution
sub_score = 0
process_category 35: processing variable
process_var 35: using units CO2eq * t
process_categories: unknown color FFE2F0D9 at row 36: End-of-life treatment of sold products
sub_score = 0
process_category 36: processing variable
process_var 36: using units CO2eq * t
process_categories: unknown color FFFFFFFF at row 37: Investments
process_category 37: processing variable
process_var 37: using units CO2eq * t
process_categories: new category set at row 38: Water Use (color = FF92D050)
process_category 38: processing variable
process_var 38: using units Mgal
process_categories: unknown color FFFFFFFF at row 39: Normalized Water Use
process_category 39: processing variable
process_var 39: using units gal * revenue
process_categories: new category set at row 40: Water Use by Business Division (color = FF92D050)
process_categories 40: segmenting Water Use::Business Division
process_var 40: propagating units None
process_var 41: using units millions of gallons
sub_score = 0
sub_score = 0
process_var 42: using units millions of gallons
sub_score = 0
sub_score = 0
process_var 43: using units millions of gallons
sub_score = 0
sub_score = 0
process_var 44: using units millions of gallons
sub_score = 0
sub_score = 0
process_var 45: using units millions of gallons
sub_score = 0
sub_score = 0
process_var 46: using units millions of gallons
sub_score = 0
sub_score = 0
process_var 47: using units millions of gallons
sub_score = 0
sub_score = 0
process_var 48: using units millions of gallons
sub_score = 0
sub_score = 0
process_var 49: using units millions of gallons
sub_score = 0
sub_score = 0
process_var 50: using units percentage
sub_score = 0
sub_score = 0
process_var 51: using units percentage
pop at row 52: segmentation_stack now []
process_categories: new topic set at row 52: Wastewater discharge (color = FF9BDA44)
process_topic 52: setting category Wastewater discharge
process_topic 52: setting units millions of gallons
process_category 52: processing variable
process_var 52: using units mgal
process_categories: unknown color FFFFFFFF at row 53: Normalized wastewater discharge
process_category 53: processing variable
process_var 53: using units gal * revenue
process_categories: new category set at row 54: Wastewater discharge by business division (color = FF92D050)
process_categories 54: segmenting Wastewater discharge::business division
process_var 54: propagating units None
process_var 55: using units millions of gallons
sub_score = 0
sub_score = 0
process_var 56: using units millions of gallons
sub_score = 0
sub_score = 0
process_var 57: using units millions of gallons
sub_score = 0
sub_score = 0
process_var 58: using units millions of gallons
sub_score = 0
sub_score = 0
process_var 59: using units millions of gallons
sub_score = 0
sub_score = 0
process_var 60: using units millions of gallons
sub_score = 0
sub_score = 0
process_var 61: using units millions of gallons
sub_score = 0
sub_score = 0
process_var 62: using units millions of gallons
sub_score = 0
sub_score = 0
process_var 63: using units millions of gallons
pop at row 64: segmentation_stack now []
process_categories: new topic set at row 64: Energy Use (color = FF9BDA44)
process_topic 64: setting topic Energy
process_topic 64: setting category Energy Use
process_topic 64: setting units billions of btus
process_category 64: processing variable
process_var 64: using units Gbtu
process_categories: unknown color FFFFFFFF at row 65: Normalized energy use
process_category 65: processing variable
process_var 65: using units kbtu * revenue / M
process_categories: new category set at row 66: Energy Use by business division (color = FF92D050)
process_categories 66: segmenting Energy Use::business division
process_var 66: propagating units None
process_var 67: using units billions of btus
sub_score = 0
sub_score = 0
process_var 68: using units billions of btus
sub_score = 0
sub_score = 0
process_var 69: using units billions of btus
sub_score = 0
sub_score = 0
process_var 70: using units billions of btus
sub_score = 0
sub_score = 0
process_var 71: using units billions of btus
sub_score = 0
sub_score = 0
process_var 72: using units billions of btus
sub_score = 0
sub_score = 0
process_var 73: using units billions of btus
sub_score = 0
sub_score = 0
process_var 74: using units billions of btus
sub_score = 0
sub_score = 0
process_var 75: using units billions of btus
sub_score = -1
sub_score = -1
pop at row 76: segmentation_stack now []
process_categories: unknown color FFFFFFFF at row 76: Energy from renewables
sub_score = 0
process_category 76: processing variable
process_var 76: using units pct
process_categories: unknown color FFE2F0D9 at row 77: Energy from renewables
sub_score = 0
process_category 77: processing variable
process_var 77: using units Gbtu
process_categories: unknown color FFFFFFFF at row 78: Non-renewable energy
sub_score = 0
process_category 78: processing variable
process_var 78: using units pct
process_categories: unknown color FFE2F0D9 at row 79: Non-renewable energy
sub_score = 0
process_category 79: processing variable
process_var 79: using units Gbtu
process_categories: unknown color FFFFFFFF at row 80: Electrical power use
sub_score = 0
process_category 80: processing variable
process_var 80: using units Gbtu
process_categories: unknown color FFE2F0D9 at row 81: Normalized electrical power use
sub_score = 0
process_category 81: processing variable
process_var 81: using units kbtu * revenue / M
process_categories: unknown color FFFFFFFF at row 82: Electrical power use from non-renewables
sub_score = 0
process_category 82: processing variable
process_var 82: using units pct
process_categories: unknown color FFE2F0D9 at row 83: Electrical power use from renewables
sub_score = 0
process_category 83: processing variable
process_var 83: using units pct
process_categories: unknown color FFFFFFFF at row 84: Electrical power use from non-renewables
sub_score = 0
process_category 84: processing variable
process_var 84: using units Gbtu
process_categories: unknown color FFE2F0D9 at row 85: Electrical power use from renewables
process_category 85: processing variable
process_var 85: using units Gbtu
process_categories: new category set at row 86: Renewable electrical power use – by source (color = FF92D050)
process_categories 86: segmenting Renewable electrical power use –::source
process_var 86: propagating units None
process_var 87: using units billions of btus
pop at row 88: segmentation_stack now []
process_categories: new topic set at row 88: Waste generated (color = FF9BDA44)
process_topic 88: setting topic Waste
process_topic 88: setting category Waste generated
process_topic 88: setting units millions of lbs.
process_category 88: processing variable
process_var 88: using units mlb
process_categories: unknown color FFE2F0D9 at row 89: Non-hazardous waste generated
sub_score = 0
process_category 89: processing variable
process_var 89: using units Mlb
process_categories: unknown color FFFFFFFF at row 90: Waste recycled
sub_score = 0
process_category 90: processing variable
process_var 90: using units pct
process_categories: unknown color FFE2F0D9 at row 91: Waste incinerated
sub_score = 0
process_category 91: processing variable
process_var 91: using units pct
process_categories: unknown color FFFFFFFF at row 92: Waste landfilled
sub_score = 0
process_category 92: processing variable
process_var 92: using units pct
process_categories: unknown color FFE2F0D9 at row 93: Hazardous waste generated
sub_score = 0
process_category 93: processing variable
process_var 93: using units ton
process_categories: unknown color FFFFFFFF at row 94: Normalized hazardous waste
process_category 94: processing variable
process_var 94: using units revenue * ton / MM
process_categories: new category set at row 95: Hazardous waste by business division (color = FF92D050)
process_categories 95: segmenting Hazardous waste::business division
process_var 95: propagating units None
process_var 96: using units short tons
sub_score = 0
sub_score = 0
process_var 97: using units short tons
sub_score = 0
sub_score = 0
process_var 98: using units short tons
sub_score = 0
sub_score = 0
process_var 99: using units short tons
sub_score = 0
sub_score = 0
process_var 100: using units short tons
sub_score = 0
sub_score = 0
process_var 101: using units short tons
sub_score = 0
sub_score = 0
process_var 102: using units short tons
sub_score = 0
sub_score = 0
process_var 103: using units short tons
process_var 104: using units short tons
process_segmentation: stack at end = [<Cell 'Environmental'.J95>]
finish_notes @ 106
wb(1) dataframe

/opt/app-root/lib64/python3.8/site-packages/pandas/core/frame.py:5238: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(

,Variable,Unit,2017,2020,2019,2018,Notes,Topic,Category,Segmentation,Assurance Letter
0,Scope 1 (direct) emissions,CO2eq * t,167720,139868,154507,162162,None,environmental,Scope 1 (direct) emissions,None,None
1,Normalized Scope 1 emissions,CO2eq * revenue * t / MM,6.56,5.348067,6.15,6.39,None,environmental,Scope 1 (direct) emissions,None,None
3,Altria Group Distribution Company,tonnes CO2e,20779,10333,17076,19422,None,environmental,Scope 1 emissions,business division,None
4,Altria Client Services,tonnes CO2e,12839,10862,14924,14001,None,environmental,Scope 1 emissions,business division,None
5,John Middleton,tonnes CO2e,3885,3042,3110,3424,None,environmental,Scope 1 emissions,business division,None
6,Nat Sherman,tonnes CO2e,22.25,13.9,25.7,24.21,None,environmental,Scope 1 emissions,business division,None
7,Nu Mark,tonnes CO2e,0,0,0,0,None,environmental,Scope 1 emissions,business division,None
8,Philip Morris USA,tonnes CO2e,102659,85258,93063,99701,None,environmental,Scope 1 emissions,business division,None
9,Ste. Michelle Wine Estates,tonnes CO2e,6376,14114,7557,6508,None,environmental,Scope 1 emissions,business division,None
10,U.S. Smokeless Tobacco Co.,tonnes CO2e,21141,16238,18744,18921,None,environmental,Scope 1 emissions,business division,None
11,Other,tonnes CO2e,17,6.94,7.33,161.8,None,environmental,Scope 1 emissions,business division,None
12,Scope 2 (indirect) emissions-market-based,CO2eq * t,169287,141100,147909,167120,None,environmental,Scope 2 (indirect) emissions-market-based,None,None
13,Normalized Scope 2 emissions-market-based,CO2eq * revenue * t / MM,6.62,5.395175,5.89,6.59,None,environmental,Scope 2 (indirect) emissions-market-based,None,None
15,Altria Group Distribution Company,tonnes CO2e,896.8,161.9,187.9,934.2,None,environmental,Scope 2 emissions,business division-market-based,None
16,Altria Client Services,tonnes CO2e,11863,9278,9400,12236,None,environmental,Scope 2 emissions,business division-market-based,None
17,John Middleton,tonnes CO2e,3966,1938,1998,2760,None,environmental,Scope 2 emissions,business division-market-based,None
18,Nat Sherman,tonnes CO2e,397.6,182.1,333.7,413.5,None,environmental,Scope 2 emissions,business division-market-based,None
19,Nu Mark,tonnes CO2e,67.6,0,6.8,71.6,None,environmental,Scope 2 emissions,business division-market-based,None
20,Philip Morris USA,tonnes CO2e,101268,84602,93339,103051,None,environmental,Scope 2 emissions,business division-market-based,None
21,Ste. Michelle Wine Estates,tonnes CO2e,14551,21867,17528,16918,None,environmental,Scope 2 emissions,business division-market-based,None
22,U.S. Smokeless Tobacco Co.,tonnes CO2e,36277,23071,25115,30736,None,environmental,Scope 2 emissions,business division-market-based,None
23,Other,tonnes CO2e,-,0,-,-,None,environmental,Scope 2 emissions,business division-market-based,None
25,Purchased goods and services,CO2eq * t,1402570,1680841,1297850,1344729,None,environmental,Scope 3 (indirect) emissions,None,None
26,Capital goods,CO2eq * t,11934,26999,6713,11515,None,environmental,Scope 3 (indirect) emissions,None,None
27,Fuel and energy related activities,CO2eq * t,103063,96877,96806,98424,None,environmental,Scope 3 (indirect) emissions,None,None
28,Upstream transportation/distribution,CO2eq * t,235413,230858,278393,225799,None,environmental,Scope 3 (indirect) emissions,None,None
29,Waste generated in operations,CO2eq * t,5111,21661,27853,4929,None,environmental,Scope 3 (indirect) emissions,None,None
30,Business travel,CO2eq * t,15298,2546,14102,20286,None,environmental,Scope 3 (indirect) emissions,None,None
31,Employee commuting,CO2eq * t,18112,6188,11373,17436,None,environmental,Scope 3 (indirect) emissions,None,None
32,Downstream transportation/distribution,CO2eq * t,151736,200860,199307,148000,None,environmental,Scope 3 (indirect) emissions,None,None
33,End-of-life treatment of sold products,CO2eq * t,84728,64723,67173,80439,None,environmental,Scope 3 (indirect) emissions,None,None
34,Investments,CO2eq * t,3236400,2858339.84,3228163,3126891,None,environmental,Scope 3 (indirect) emissions,None,None
35,Water Use,Mgal,2192,2695,2367,2759,None,environmental,Water Use,None,None
36,Normalized Water Use,gal * revenue,0.0857,0.103047,0.0943,0.1088,None,environmental,Water Use,None,None
38,Altria Group Distribution Company,millions of gallons,3.49,1.24,1.24,6.66,None,environmental,Water Use,Business Division,None
39,Altria Client Services,millions of gallons,65.1,51.8,50.5,61.5,None,environmental,Water Use,Business Division,None
40,John Middleton,millions of gallons,7.55,6.36,6.25,6.65,None,environmental,Water Use,Business Division,None
41,Nat Sherman,millions of gallons,0.18,0.081,0.2,0.19,None,environmental,Water Use,Business Division,None
42,Nu Mark,millions of gallons,0.09,0,0.01,0.08,None,environmental,Water Use,Business Division,None
43,Philip Morris USA,millions of gallons,586.6,477.6,542.6,631.8,None,environmental,Water Use,Business Division,None
44,Ste. Michelle Wine Estates,millions of gallons,1502,2123,1725,2030,None,environmental,Water Use,Business Division,None
45,U.S. Smokeless Tobacco Co.,millions of gallons,27.75,34.6,41.7,22.7,None,environmental,Water Use,Business Division,None

Environmental
Done!

In [17]:
segmentation_stack

[]

In [18]:
ws.cell(11,1).border.top.style

'thin'

In [19]:
columns = ['Variable', 'Unit']
# We need these columns to reshape our data
for extra_col in ['Notes', 'Category', 'Segmentation']:
    if melted_df[extra_col].notna().any():
        columns.append(extra_col)
melted_df[melted_df['Segmentation']=='(anon)::Road transport']

Empty DataFrame
Columns: [Variable, Notes, Topic, Category, Segmentation, Unit, Year, Value]
Index: []

In [20]:
units = 1e6 * ureg('kl/year')
units.to_compact()

1.0000000000000002 <Unit('gigaliter / year')>

In [21]:
df = ws_to_df(wb, 2)

IndexError: list index out of range

In [ ]:
melted_df = pd.melt(df, id_vars=ingest_columns, var_name='Year', value_name='Value', value_vars=value_vars)
melted_df.dropna(subset=['Value'],inplace=True)
melted_df = melted_df.astype({'Year': 'int'})
melted_df.loc[:, melted_df.columns != 'Topic']

In [ ]:
df.iloc[0:2]

In [ ]:
find_units('trillion (10^12) MJ')

In [ ]:
from cell2rgb import cell2rgb
cell2rgb(ws.cell(8, crm.units_col))

In [ ]:
gj = f"{ureg('1e9 J').to_compact():P}".split(' ', 1)[1]

In [ ]:
ureg(gj)

In [ ]:
ureg('1e9 J').to_compact().u

In [ ]:
scale_regex = re.compile(r'^(((mi|bi|tri|quadri)llion)|(thousand)|(hundred))(s of)? ', flags=re.I)
scale_regex = re.compile(r'^((mi|bi|tri|quadri)llion|thousand|hundred)(s of)? ', flags=re.I)
sc_xlate[re.search(scale_regex, 'thousand ').group(1)[0:3]]

In [ ]:
bletch!

In [ ]:
crm = filename_magic['DPDHL-ESG-Statbook-2020-en.xlsx']
wb = load_workbook(crm.input_filename, data_only=True)
ws = wb.worksheets[2]
preprocess(wb, ws)

row = process_topic(pc, crm.topic_row)

In [ ]:
def preprocess2(wb, ws):
    global crm
    
    scope1_gases = ['CO2', 'CH4', 'N2O', 'HFC', 'SF6', 'PFC', 'NF3', 'CO2e', 'NOx', 'SO2', 'PM10']
    scope1_regex = re.compile('(' + ')|('.join(scope1_gases) + ')', flags=re.I)
    
    scope3_dict = { 'Purchased Goods and Services':1,
                    'Capital Goods':2,
                    'Fuel and Energy Related Activities':3,
                    'Fuel and Energy Related Activities (Market-Based)':3,
                    'Fuel and Energy Related Activities (Location-Based)':3,
                    'Upstream Transportation and Distribution':4,
                    'Transportation services':4,                # DPDHL
                    'Fuel- and energy-related activities':4,    # DPDHL
                    'Waste Generated in Operations (Large office campuses)':5,
                    'Business Travel':6,
                    'Employee Commuting':7,
                    'Upstream Leased Assets':8,
                    'Downstream Transportation and Distribution':9,
                    'Processing of Sold Products':10,
                    'Use of Sold Products':11,
                    'End of Life Treatment of Sold Products':12,
                    'Downstream Leads Assets':13,
                    'Franchises':14,
                    'Investments':15 }

    def normalize_scope3(s3):
        # Later we should normalize against the scope3_dict
        return s3
    
    # This only returns notes and a value, and it presumes the cell is None, Numeric, or would be Numeric, but for the note.
    def split_value_cell(c):
        if c.value==None:
            return '', ''
        
        notes = ''
        v = str(c.value)
        m = re.search(r'(\([a-z]\))+', v)
        if m:
            notes = m.group(0)
            v = v.replace(notes,'').strip().replace(',','')
            if '.' in v:
                v = float(v)
            else:
                v = int(v)
            return notes, v
        return '', c.value
    
    # Convert reported units to things standard in `pint`
    unit_dict = { 'trillion (10^12) MJ':'PJ', 'million MWh':'TWh', 'MW':'MW', 
                  'million tonnes CO2e':'Mt CO2e', 'tonnes CO2e':'t CO2e', 'm t CO2e':'Mt CO2e', 'MT CO2e':'Mt CO2e',
                  'million tonnes':'Mt', 'thousand tonnes':'kilot', 'tonnes':'t', 'kg':'kg', 'MT':'Mt', 'Lbs':'lbs', 'Metric Tons':'t', 
                  'tBtu':'TBtu',
                  'm liter':'M liter', 'Grams per € revenue':'Grams / EUR',
                  'Millions of m3':'1000 dam', 'm3':'m3', 'Gallons':'gal',
                  'Million Gallons':'M gallons', 'Billions of Liters':'10^9 l', 'billions of Liters':'10^9 l',}
    u2u_dict = { '%':'pct', 'Grams per € revenue':'Grams / EUR', 'revenue':'EUR', 'MM$ revenue':'1000000 revenue',
                 'short ton':'short_ton', 'No.':'[]', 'Nb':'[]', }
    scale_regex = re.compile(r'^(((mi|bi|tri|quadri)llion)|(thousand)|(hundred))(s of)? ', flags=re.I)
    sc_xlate = {'hun':1e2, 'tho':1e3, 'mil':1e6, 'bil':1e9, 'tri':1e12, 'qua':1e15}
    def normalize_units(u, g):
        scale = 1.0
        m = re.search(scale_regex, u)
        if m:
            u = u[m.end(0):].strip()
            scale = sc_xlate[m.group(0)[0:3].lower()]
        m = re.search(r'((short)|(long)|(metric))( )ton', u, flags=re.I)
        if m:
            u = '_'.join([u[0:m.start(5)], u[m.start(5)+1:]])
            print(u)
        if u in u2u_dict:
            u = u2u_dict[u]
        if g and g not in u:
            u = ' '.join([u, g])
        return ureg(u) * scale
        
        if g in u:
            g = ''
        if '/' in u:
            u1, u2 = u.split('/', 1)
            if g in u2:
                g1 = ''
                g2 = g
            else:
                g1 = g
                g2 = ''
            return ' / '.join([normalize_units(u1, g1), normalize_units(u2, g2)])
        u = u.strip()
        if u in unit_dict and u!=unit_dict[u]:
            return normalize_units(unit_dict[u], g)
        if g:
            return ' '.join([u, g])
        return u
    
    def finish_notes(row):
        print('finish_notes @ {}'.format(row))
    
    if crm.topic_row==None:
        topic = ws.title
    else:
        topic = ws.cell(crm.topic_row,crm.var_col).value
    
    notes = ''
    category = ''
    categories = ['', '', '']
    segmentation = ''
    scope1_gas = ''
    units = ''
    
    # Make the inferences, filling out TOPIC : CATEGORY : SEGMENTATION, as well as inferring/adjusting UNITS
    # If we start with no Units column, then all units can be carried across from parenthetical expressions in Variable
    # If we do have a Units column, either it's fully expressed (like Shell),
    # or a prevailing unit can be carried down (and cross-combined with parenthetical expressions in Variable)
    
    for row in range(crm.header_row+1, crm.last_val_row+1):
        cell = ws.cell(row, crm.var_col)
        
        # Needed to put dataframe together later
        if (crm.topic_col < crm.var_col):
            topic = ws.cell(row, crm.topic_col).value
        else:
            ws.cell(row, crm.topic_col).value = topic
        
        # Carry-forward comes from state variables: category, segmentation, units
        if cell.value==None:
            continue
        
        # *BOLD* text indicates we have a header to parse, as do particular colors
        if cell.fill.fgColor.type == 'rgb':
            cat_color = format(cell.fill.fgColor.rgb)
        else:
            theme = cell.fill.start_color.theme
            tint = cell.fill.start_color.tint
            cat_color = theme_and_tint_to_rgb(wb, theme, tint)
        if cat_color not in crm.cat_color_dict:
            cat_color = None

        if cell.font.b or cat_color:
            notes, category, segmentation = split_cell(cell)

            if cat_color==None:
                # Shell doesn't use colors
                categories[0] = re.sub(r' total\s?', '', category)
            else:
                categories[crm.cat_color_dict[cat_color]] = re.sub(r' total\s?', '', category)
                for i in range(crm.cat_color_dict[cat_color]+1, len(categories)):
                    categories[i] = ''
                category = ':'.join([c for c in categories[0:2] if c])
            if re.search(r'Scope\s*3', category, flags=re.I):
                m = re.search(r'Scope\s+3 (CO2e?\s*)?(emissions\s+)(by.*categor((y)|(ies)))?', category, flags=re.I)
                category = 'Scope 3 emissions'
                segmentation = 'GHG Categories'
            else:
                if categories[2]:
                    if segmentation:
                        print('cat[2] = {}; segmentation = {}'.format(categories[2], segmentation))
                    segmentation = categories[2]

        if crm.units_row >= 0 and ws.cell(row, crm.units_col).value:
            crm.units_row = row
            # We might refine this as "tonnes of WHAT", depending on Variable
            units = normalize_units (ws.cell(row, crm.units_col).value, '')

        if any([True for col in range(crm.val_col, crm.last_val_col+1) if ws.cell(row, col).value]):
            # Has a variable observation.  Need to set/use units
            if crm.units_row < 0 and any([True for col in range(crm.val_col, crm.last_val_col+1) if ws.cell(row, col).value]):
                # We have to dig out units for each and every variable row
                notes, var_text, unit_text = split_cell(cell)
                s1_gases = [ g for g in var_text.split(' ') if re.search(scope1_regex, g) ]
                s1_gas = '' if s1_gases==[] else s1_gases[0]
                if unit_text not in ['market-based', 'location_based']:
                    units = normalize_units (unit_text, s1_gas)
                # Could also check for fuel types, water types, and other things
                ws.cell(row, crm.units_col).value = format(units.u, '~')
            elif crm.units_row >= 0:
                # If we have no units, borrow from following row (see 'opd-scope-1-2-ghg-emissions')
                # Theory: if border line heavier above, borrow from below; if heavier below, borrow from above

                # from openpyxl.styles.borders import Border, Side, BORDER_THIN
                # thin_border = Border(
                #     top=Side(border_style=BORDER_THIN, color='00000000'),
                #     bottom=Side(border_style=BORDER_THIN, color='00000000')
                # )
                # ws.cell(row=3, column=2).border = thin_border
                
                if ws.cell(row, crm.units_col).value==None and ws.cell(row+1, crm.units_col).value!=None:
                    ws.cell(row, crm.units_col).value = normalize_units(ws.cell(row+1, crm.units_col).value, '')

                # If there is no disclosure here, move on with the notes/category/segmentation we've captured
                if not any([True for col in range(crm.val_col, crm.last_val_col+1) if ws.cell(row, col).value]):
                    continue

                # ??? Should correctly compute segmentation here and pass as argument to normalize_scope3
                if category == 'Scope 3 emissions' and segmentation == 'GHG Categories':
                    ws.cell(row, crm.var_col).value = normalize_scope3 (ws.cell(row, crm.var_col).value)
                
                # Try to get units and category from variable description by using a found unit, inferring from previous rows,
                # and possibly combining with other info in the variable (such as gas species)
                if ws.cell(row, crm.units_col).value==None:
                    ws.cell(row, crm.units_col).value = units
                units = ureg(ws.cell(row, crm.units_col).value)
                
                maybe_notes, maybe_category, xyzzy = split_cell(cell)
                if maybe_var_units:
                    maybe_var_units = re.sub(r'\((.*)\)', r'\1', maybe_var_units)
                    print('maybe_var_units: {}'.format(maybe_var_units))
                    if ' per ' in maybe_var_units:
                        u1, u2 = maybe_var_units.split(' per ', 1)
                        units = normalize_units(u1, '') / normalize_units(u2, '')
                    elif maybe_var_units in ureg:
                        units = normalize_units (maybe_var_units, '')
                    else:
                        error('maybe_var_units: {}'.format(maybe_var_units))
                    # We carry down units, whether we changed them this row or not
                    ws.cell(row, crm.units_col).value = format(units.u, '~')
                notes, category = maybe_notes, maybe_category

        # Now fill the empty columns we created with the metadata we have inferred
        ws.cell(row, crm.category_col).value = category
        ws.cell(row, crm.segmentation_col).value = segmentation
        if 'emissions' in category.lower() and not re.search('CO2e', ws.cell(row, crm.units_col).value, flags=re.I):
            m = re.search(scope1_regex, str(ws.cell(row, crm.var_col).value))
            if m:
                scope1_gas = m.group(0)
            # else it carries forward
        else:
            scope1_gas = ''
        if ws.cell(row, crm.units_col).value!=None:
            units = normalize_units(ws.cell(row, crm.units_col).value, scope1_gas)
            ws.cell(row, crm.units_col).value = format(units.u, '~')
        # Find notes hiding in values 
        for col in range(crm.val_col, crm.last_val_col+1):
            # print('cell({},{}) = {}'.format(row,col,ws.cell(row,col).value))
            maybe_notes, value = split_value_cell(ws.cell(row, col))
            if maybe_notes:
                if maybe_notes not in notes:
                    notes = notes + maybe_notes
                ws.cell(row,col).value = value
        # Scan for notes in remaining columns, but don't scan again the columns we ourselves created
        # (namely notes, topic, category, segmentation, and possibly units)
        for col in range(crm.last_val_col+1, crm.notes_col):
            # print('cell({},{}) = {}'.format(row,col,ws.cell(row,col).value))
            maybe_notes, main_text, error_if_nonempty = split_cell(ws.cell(row, col))
            if maybe_notes:
                if maybe_notes not in notes:
                    notes = notes + maybe_notes
                if error_if_nonempty:
                    error('error_if_nonempty={}; cell({},{}) = {}'.format(error_if_nonempty,row,col,ws.cell(row, col)))
                ws.cell(row,col).value = main_text
        ws.cell(row, crm.notes_col).value = notes

### Time for a Pint!

See https://github.com/IAMconsortium/units/issues/9https://github.com/IAMconsortium/units/issues/9
and https://github.com/openscm/openscm-units/issues/31https://github.com/openscm/openscm-units/issues/31
and

In [ ]:
import pandas as pd
import pint_pandas
from openscm_units import unit_registry

pint_pandas.PintType.ureg = u = unit_registry

one_co2 = unit_registry("CO2")
print(one_co2)

x = pd.DataFrame([[2.0,'Mt CO2']], columns=['Value', 'Unit'])
print(x)
x = x.astype({'Value': 'pint[Mt CO2]'})
print(x.Value.pint.to('t CO2'))

In [ ]:
u('Mt/1000000').to_compact()

In [ ]:
PA_ = pint_pandas.PintArray

ureg = unit_registry
Q_ = ureg.Quantity

PA_ = pint_pandas.PintArray

ureg = pint.UnitRegistry()
Q_ = ureg.Quantity

pint_pandas.PintType.ureg = ureg

Note that pint[unit] must be used for the Series constuctor, whereas the PintArray constructor allows the unit string or object.

```
    df = pd.DataFrame({
        "length" : pd.Series([1.,2.], dtype="pint[m]"),
        "width" : PA_([2.,3.], dtype="pint[m]"),
        "distance" : PA_([2.,3.], dtype="m"),
        "height" : PA_([2.,3.], dtype=ureg.m),
        "depth" : PA_.from_1darray_quantity(Q_([2,3],ureg.m)),
    })
```

See https://pint.readthedocs.io/en/0.18/pint-pandas.html

In [ ]:
wb = load_workbook(long_fmt_filename, data_only=True)

from itertools import islice

def long_ws_to_df(ws):
    data = ws.values
    cols = next(data)
    data = list(data)
    # idx = [r[0] for r in data]
    # data = (islice(r, 1, None) for r in data)
    
    df = pd.DataFrame(data, columns=cols)

    # The original data has topic we construct.  It is removed when writing LONG data but can be restored from SHEET_NAME
    if 'Topic' not in df.columns:
        print('Restoring Topic ' + ws.title)
        df.insert(crm.topic_col-1, 'Topic', ws.title)
    
    return df

trino_df = pd.concat([long_ws_to_df(ws) for ws in wb.worksheets])
    
len(trino_df)

In [ ]:
print(trino_df['Unit'].value_counts())
trino_df.Unit.unique()

Now create data in Trino

In [ ]:
import boto3

# Create an S3 client.  We will user later when we write out data and metadata
s3 = boto3.client(
    service_name="s3",
    endpoint_url=os.environ['S3_DEV_ENDPOINT'],
    aws_access_key_id=os.environ['S3_DEV_ACCESS_KEY'],
    aws_secret_access_key=os.environ['S3_DEV_SECRET_KEY'],
)

In [ ]:
import trino

conn = trino.dbapi.connect(
    host=os.environ['TRINO_HOST'],
    port=int(os.environ['TRINO_PORT']),
    user=os.environ['TRINO_USER'],
    http_scheme='https',
    auth=trino.auth.JWTAuthentication(os.environ['TRINO_PASSWD']),
    verify=True,
)
cur = conn.cursor()

# Show available schemas to ensure trino connection is set correctly
cur.execute('show schemas in osc_datacommons_dev')
cur.fetchall()

In [ ]:
import datetime
# datetime.datetime.now()
# For now we used a fixed date so we don't fill things up needlessly
timestamp = "2008-09-03T20:56:35.450686Z"

In [ ]:
ingest_uuid = str(uuid.uuid4())

custom_meta_key_fields = 'metafields'
custom_meta_key = 'metaset'

schemaname = 'osc_corp_data'
cur.execute('create schema if not exists osc_datacommons_dev.' + schemaname)
cur.fetchall()

For osc_datacommons_dev, a trino pipeline is a parquet data stored in the S3_DEV_BUCKET
It is a 5-step process to get there from a pandas dataframe

In [ ]:
def create_trino_pipeline (s3, schemaname, tablename, timestamp, df, meta_fields, meta_content):
    global ingest_uuid
    global custom_meta_key_fields, custom_meta_key
    
    # First convert dataframe to pyarrow for type conversion and basic metadata
    table = pa.Table.from_pandas(enforce_sql_column_names(df))
    # Second, since pyarrow tables are immutable, create a new table with additional combined metadata
    if meta_fields or meta_content:
        meta_json_fields = json.dumps(meta_fields)
        meta_json = json.dumps(meta_content)
        existing_meta = table.schema.metadata
        combined_meta = {
            custom_meta_key_fields.encode(): meta_json_fields.encode(),
            custom_meta_key.encode(): meta_json.encode(),
            **existing_meta
        }
        table = table.replace_schema_metadata(combined_meta)
    # Third, convert table to parquet format (which cannot be written directly to s3)
    pq.write_table(table, '/tmp/{sname}.{tname}.{uuid}.{timestamp}.parquet'.format(sname=schemaname, tname=tablename, uuid=ingest_uuid, timestamp=timestamp))
    # df.to_parquet('/tmp/{sname}.{tname}.{uuid}.parquet'.format(sname=schemaname, tname=tablename, uuid=ingest_uuid, index=False))
    # Fourth, put the parquet-ified data into our S3 bucket for trino.  We cannot compute parquet format directly to S3 but we can copy it once computed
    s3.upload_file(
        Bucket=os.environ['S3_DEV_BUCKET'],
        Key='trino/{sname}/{tname}/{uuid}/{timestamp}/{tname}.parquet'.format(sname=schemaname, tname=tablename, uuid=ingest_uuid, timestamp=timestamp),
        Filename='/tmp/{sname}.{tname}.{uuid}.{timestamp}.parquet'.format(sname=schemaname, tname=tablename, uuid=ingest_uuid, timestamp=timestamp)
    )
    # Finally, create the trino table backed by our parquet files enhanced by our metadata
    cur.execute('.'.join(['drop table if exists osc_datacommons_dev', schemaname, tablename]))
    print('dropping table: ' + tablename)
    cur.fetchall()
    
    schema = create_table_schema_pairs(df)

    tabledef = """create table if not exists osc_datacommons_dev.{sname}.{tname}(
{schema}
) with (
    format = 'parquet',
    external_location = 's3a://{bucket}/trino/{sname}/{tname}/{uuid}/{timestamp}'
)""".format(schema=schema,bucket=os.environ['S3_DEV_BUCKET'],sname=schemaname,tname=tablename,uuid=ingest_uuid,timestamp=timestamp)
    print(tabledef)

    # tables created externally may not show up immediately in cloud-beaver
    cur.execute(tabledef)
    cur.fetchall()

### Write out Report with metadata

Create the actual metadata for the source.  In this case, it is osc_corp_data.

In [ ]:
custom_meta_content = {}
metadata_text = """Title: AEP GHG and Energy Report, 2020
Description: 
Version: 2020
Release Date: 
URI: https://reports.shell.com/sustainability-report/2020/our-performance-data/greenhouse-gas-and-energy-data.html
Copyright: 
License: 
Contact: 
Citation: """

for line in metadata_text.split('\n'):
    k, v = line.split(':', 1)
    k = sql_compliant_name(k)
    custom_meta_content[k] = v

custom_meta_content['abstract'] = """Abstract text"""
custom_meta_content['name'] = 'osc_corp_data'

Create the metadata for all the fields in all the tables

field_text = """`country` (text): 3 character country code corresponding to the ISO 3166-1 alpha-3 specification [https://www.iso.org/iso-3166-country-codes.html]
`country_long` (text): longer form of the country designation
`name` (text): name or title of the power plant, generally in Romanized form
`gppd_idnr` (text): 10 or 12 character identifier for the power plant
`capacity_mw` (number): electrical generating capacity in megawatts
`latitude` (number): geolocation in decimal degrees; WGS84 (EPSG:4326)
`longitude` (number): geolocation in decimal degrees; WGS84 (EPSG:4326)
`primary_fuel` (text): energy source used in primary electricity generation or export
`other_fuel1` (text): energy source used in electricity generation or export
`other_fuel2` (text): energy source used in electricity generation or export
`other_fuel3` (text): energy source used in electricity generation or export
`commissioning_year` (number): year of plant operation, weighted by unit-capacity when data is available
`owner` (text): majority shareholder of the power plant, generally in Romanized form
`source` (text): entity reporting the data; could be an organization, report, or document, generally in Romanized form
`url` (text): web document corresponding to the `source` field
`geolocation_source` (text): attribution for geolocation information
`wepp_id` (text): a reference to a unique plant identifier in the widely-used PLATTS-WEPP database.
`year_of_capacity_data` (number): year the capacity information was reported
`generation_data_source` (text): attribution for the reported generation information"""

field_descs = [line.split(': ')[1] for line in field_text.split('\n')]
field_keys = [line.split(': ')[0].split(' ')[0][1:-1] for line in field_text.split('\n')]

Create custom meta data and key

custom_meta_fields = {}
for k, v in zip(field_keys, field_descs):
    custom_meta_fields[k] = { 'description': v }

custom_meta_fields['capacity_mw']['dimension'] = 'MW'
custom_meta_fields['latitude']['dimension'] = 'degrees'
custom_meta_fields['longitude']['dimension'] = 'degrees'
custom_meta_fields['commissioning_year']['dimension'] = 'year'
custom_meta_fields['year_of_capacity_data']['dimension'] = 'year'
custom_meta_fields['year'] = { 'description': 'year of report', 'dimension': 'year'}
custom_meta_fields['gppd_idnr'] = { 'description': 'unique index into plants table', 'dimension': None}
custom_meta_fields['generation_gwh'] = { 'description': 'electricity generation in gigawatt-hours reported for the year', 'dimension': 'GWh'}
custom_meta_fields['estimated_generation_gwh'] = { 'description': 'estimated electricity generation in gigawatt-hours reported for the year', 'dimension': 'GWh'}
custom_meta_fields['estimated_generation_note'] = { 'description': 'label of the model/method used to estimate generation for the year', 'dimension': None }
custom_meta_key_fields = 'metafields'

custom_meta_content = {
    'title': 'Global Power Plant Database',
    'description': 'A comprehensive, global, open source database of power plants',
    'version': '1.3.0',
    'release_date': '20210602'
}
custom_meta_key = 'metaset'

In [ ]:
shell_df

In [ ]:
tablename = 'aep_2020'
custom_meta_fields = {}
create_trino_pipeline (s3, schemaname, tablename, timestamp, shell_df, custom_meta_fields, custom_meta_content)

Restore data and metadata

# Read the Parquet file into an Arrow table
obj = s3.get_object(
    Bucket=os.environ['S3_DEV_BUCKET'], 
    Key='trino/{sname}/{tname}/{uuid}/{timestamp}/{tname}.parquet'.format(sname=schemaname, tname=tablename, uuid=ingest_uuid, timestamp=timestamp)
)
restored_table = pq.read_table(io.BytesIO(obj['Body'].read()))
# Call the table’s to_pandas conversion method to restore the dataframe
# This operation uses the Pandas metadata to reconstruct the dataFrame under the hood
restored_df = restored_table.to_pandas()
# The custom metadata is accessible via the Arrow table’s metadata object
# Use the custom metadata key used earlier (taking care to once again encode the key as bytes)
restored_meta_json = restored_table.schema.metadata[custom_meta_key.encode()]
# Deserialize the json string to get back metadata
restored_meta = json.loads(restored_meta_json)
# Use the custom metadata fields key used earlier (taking care to once again encode the key as bytes)
restored_meta_json_fields = restored_table.schema.metadata[custom_meta_key_fields.encode()]
# Deserialize the json string to get back metadata
restored_meta_fields = json.loads(restored_meta_json_fields)

In [ ]:
# Everything below here is speculative / in process of design

## Load metadata following an ingestion process into trino metadata store

### The schema is *metastore*, and the table names are *meta_schema*, *meta_table*, *meta_field*

In [ ]:
# Create metastore structure
metastore = {'catalog':'osc_datacommons_dev',
             'schema':'aep_2020',
             'table':tablename,
             'metadata':custom_meta_content,
             'uuid':ingest_uuid}
# Create DataFrame
df_meta = pd.DataFrame(metastore)
# Print the output
df_meta

In [ ]:
help(iam_units)

In [ ]:
help(registry)